body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #FF6347; }

p {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }
