/* responsive */
@include media-breakpoint-down(xl) { //default
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
	.container { max-width: 660px; }
}
@include media-breakpoint-down(sm) {
	.ttl { animation: none; } 
}
@include media-breakpoint-down(xs) {
	h1, h2 {
		padding: 10px 20px;
		font-size: 42px;
	}
	.ttl 			{ margin: 20px 0; }
	.wrapper 		{ padding: 25px 0 50px; }
	.portfolio-item { width: 290px; }
	.contacts 		{ font-size: 20px; }
}