	<footer class="page-footer" itemscope itemtype="http://schema.org/WPFooter">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="scl">
						<div class="scl-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul>
								<li><a href="#" itemprop="url"><i class="icon-twt"></i></a></li>
								<li><a href="#" itemprop="url"><i class="icon-fcb"></i></a></li>
								<li><a href="#" itemprop="url"><i class="icon-gpl"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- /.scl -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="page-footer-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<ul>
							<li><a href="#" itemprop="url">О нас</a></li>
							<li><a href="#" itemprop="url">Блог</a></li>
							<li><a href="#" itemprop="url">Бренды</a></li>
							<li><a href="#" itemprop="url">Магазины</a></li>
							<li class="page-footer-trends"><a href="#" itemprop="url">Популярные запросы</a></li>
							<li class="page-footer-register"><a href="#popup-register" class="page-header-add open-popup-link" itemprop="url"><i class="icon-user-plus"></i>Регистрация магазина</a></li>
						</ul>
					</div>
					<!-- /.footer-nav -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<div class="copyright">
						<a href="#" class="copyright-website-link" itemprop="url"><span class="copyright-website-name" itemprop="text"><span>Web</span>detector</span>.com</a> @ <span itemprop="copyrightYear"> 2016</span>
						<a href="#popup-success" class="copyright-rules-link open-popup-link" itemprop="url">Правила сервиса</a>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</footer>
	<!-- /.page-footer -->
	<script src="js/jquery.js"></script>
	<script src="js/jqueryUI.min.js"></script>
	<script src="js/library.js"></script>
	<script src="js/swiper.jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>