<header class="page-header" itemscope itemtype="http://schema.org/WPHeader">
	<div class="page-header-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-sm-5 header-descr-wrap">
					<div class="page-header-descr" itemprop="description">Глобальный сервис поиска товаров</div>
				</div>
				<!-- /.col -->
				<div class="col-lg-8 col-sm-7 header-navigation-wrap">
					<nav class="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<div class="navigation-drop">
							<div class="menu-wrapper clearfix">
								<ul class="menu clearfix">
									<li class="geo-info">
										<div class="geo-input-wrap">
											<i class="icon-marker page-header-icon"></i><input type="text" class="geo-input" placeholder="Киев, Украина">
										</div>
									</li>
									<li class="favorite"><a href="#" itemprop="url"><i class="icon-star page-header-icon"></i><span class="menu-link-text">Избранное</span></a></li>
									<li>
										<a href="#popup-register" class="page-header-add open-popup-link" itemprop="url"><i class="icon-user-plus page-header-icon"></i><span class="menu-link-text">Добавить магазин</span></a>
										<a href="#popup-enter" class="page-header-enter open-popup-link" itemprop="url">Вход</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.navigation-drop -->
					</nav>
					<!-- /.navigation -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.page-header-top -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
				<div class="logo" itemprop="image">
					<a href="/" itemprop="url"><span class="logo-img">Web</span><span class="hidden-xs-down">detector</span></a>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-10 col-lg-9 col-md-9 col-sm-7 clearfix">
				<div class="main-search clearfix" itemscope itemtype="http://schema.org/SearchAction">
					<form>
						<input type="search" name="main-search" placeholder="Поиск товаров в мире и Вашем городе" itemprop="query">
						<button type="submit" class="main-search-btn btn" itemprop="instrument">Найти</button>
					</form>
				</div>
				<!-- /.main-search -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</header>
<!-- /.page-header -->