/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.top-menu a {
    padding: 0 21px 0 50px;
	}
	
	.services {
		text-align: center;
	}

	.services-item-wrapper {
    margin-left: 0;
    width: 151px;
	}

	.footer-menu ul li {
    margin-right: 13px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

	h1 {
		margin: 40px 0 20px;
	}

	header {
		background: url(../img/top-bg-t.jpg) top center no-repeat;
	}

	.top-menu li:nth-child(2) a {
		background-position: 5px -29px;
	}
	.top-menu li:nth-child(3) a {
		background-position: 8px -89px;
	}
	.top-menu li:nth-child(4) a {
		background-position: 5px -143px;
	}
	.top-menu li:nth-child(5) a {
		background-position: 5px -194px;
	}
	.top-menu li:nth-child(6) a {
		background-position: 5px -244px;
	}

	.top-menu a {
    padding: 0 14px 0 43px;
	}
		
	.insurance {
		margin-top: -143px;
	}

	.services-item-wrapper {
    margin: 0 10px 20px;
    width: 162px;
	}
	.services-item-wrapper:first-child {
    margin-left: 10px;
	}

	.services-wrapper .button {
    margin-top: 15px;
	}
	
	.info-content p:first-child {
		margin-top: 20px;
	}

	footer {
		text-align: center;
	}

	.footer-menu {
    margin: 10px 0;
	}

	.author-name {
		text-align: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	.top-address-wrapper {
		text-align: center;
	}

	.top-address {
		display: inline-block;
	}

	.ta-right {
		margin-top: 25px;
	}

	.top-menu ul {
		display: none;
		position: absolute;
		background-color: rgba(19,19,19,.97);
		margin-left: -15px;
		padding: 10px 0;
		margin-top: 10px;
		z-index: 7;
		width: 195px;
	}

	.top-menu ul li {
		display: block;
		margin-left: 20px
	}

	.top-menu ul li a {
		color: #ddd;
		padding: 10px 20px 10px 40px;
		line-height: 40px;
		border: none;
		background-position: 10px 16px;
	}

	.top-menu li:nth-child(2) a {
		background-position: 10px -30px;
	}
	.top-menu li:nth-child(3) a {
		background-position: 10px -90px;
	}
	.top-menu li:nth-child(4) a {
		background-position: 7px -144px;
	}
	.top-menu li:nth-child(5) a {
		background-position: 10px -195px;
	}
	.top-menu li:nth-child(6) a {
		background-position: 10px -245px;
	}

	.top-menu li.active a,
	.top-menu li:hover a {
		background-color: transparent;
	}

	.insurance {
		margin-top: -47px;
	}

	.services-wrapper h2,
	h2.catalog-title {
		font-size: 32px;
	}

	.s-black h2::before {
    margin: 0 5px -7px 0;
	}
	.s-black h2::after {
    margin: 0 0 -7.5px 5px;
	}

	.catalog-name h2.catalog-title::before {
    margin: 0 5px -7px 0;
	}
	.catalog-name h2.catalog-title::after {
    margin: 0 10px -7px;
	}

	.catalog-item {
    margin: 20px auto;
    width: 80%;
	}

	.info-title-wrapper,
	.info-button-wrapper {
		text-align: center;
	}

	.logo-wrapper {
		display: none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	header {
		background: url(../img/top-bg-m.jpg) top center no-repeat;
	}

	.buttons-top {
		text-align: center;
	}

	.buttons-top .button {
		margin-top: 15px;
	}

	.s-black h2::before,
	.s-black h2::after,
	.catalog-name h2.catalog-title::before,
	.catalog-name h2.catalog-title::after {
    display: none;
	}

	.services-wrapper h2 {
		margin: 15px;
		font-size: 36px;
	}

	h2.catalog-title {
		font-size: 36px;
	}
	
	p.title-description {
		text-align: justify;
	}
	
	.catalog-item {
    margin: 20px auto;
    width: 100%;
	}

	.show-all {
    padding: 0 25px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}