<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Master Car Rentals</title>
	<meta content="" name="description" />
	<meta content="" property="og:image" />
	<meta content="" property="og:description" />
	<meta content="" property="og:site_name" />
	<meta content="website" property="og:type" />

	<meta content="telephone=no" name="format-detection" />
	<!-- <meta http-equiv="x-rim-auto-match" content="none"> -->

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="favicon.png" />

	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="libs/animate/animate.min.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
	
	<div class="loader">
		<div class="loader-inner"></div>
	</div>

	<div class="wrapper">
		
		<header>
			<div class="top-line">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="top-address-wrapper">
								<div class="top-address">
									<strong>Санкт-Петербург</strong>
									<a  class="fancybox" href="#map">пр. Лиговский, 287</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-3 hidden-xs">
							<div class="logo-wrapper">
								<a href="#" class="logo"><img src="img/logo.png" alt="Прокат автомобилей в Санкт-Петербурге"></a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="top-address-wrapper">
								<div class="top-address ta-right">
									<strong>+7 (812) <span>987-54-21</span></strong>
									<a  class="fancybox" href="#callback">Заказать обратный звонок</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="top-title">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>Прокат автомобилей <br> премиум-класса</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="buttons-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
								<a href="#" class="button ph-button">Каталог автомобилей</a>
								<a href="#" class="button top-price">Прайс</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<nav class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-11">
						<button class="top-menu-button hidden-sm hidden-md hidden-lg">
							<i class="fa fa-bars"></i>
						</button>
						<ul>
							<li class="active"><a href="#">Главная</a></li>
							<li><a href="#">О нас</a></li>
							<li><a href="#">Цены</a></li>
							<li><a href="#">Каталог авто</a></li>
							<li><a href="#">Партнёры</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
					<div class="col-md-1">
						<div class="insurance">Все авто <br> застрахованы</div>
					</div>
				</div>
			</div>
		</nav>
		
		<section class="services-wrapper s-black">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="company-name">
							<h2>Компания <strong>Master Car Rentals</strong></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<ul class="services">
							<li class="services-item-wrapper active">
								<div class="services-item">
									<a href="#">
										<i class="icon-clipboard"></i>
										<h4>Условия аренды</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">Требования к арендатору</a></li>
									<li><a href="#">Необходимые документы</a></li>
									<li><a href="#">Оплата</a></li>
									<li><a href="#">Оформляемые документы</a></li>
								</ul>
							</li>
							<li class="services-item-wrapper">
								<div class="services-item">
									<a href="#">
										<i class="icon-star-empty-1"></i>
										<h4>Акции</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">Лучшие предложения на представительские авто</a></li>
									<li><a href="#">Скидки 20% на спорткары</a></li>
									<li><a href="#">Летние скидки 15% на кабриолеты</a></li>
									<li><a href="#">Выгодная долгосрочная аренда</a></li>
								</ul>
							</li>
							<li class="services-item-wrapper">
								<div class="services-item">
									<a href="#">
										<i class="icon-truck"></i>
										<h4>Доп. услуги</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">Личный водитель</a></li>
									<li><a href="#">Аренда авто на свадьбу</a></li>
									<li><a href="#">Пассажирские перевозки</a></li>
									<li><a href="#">Грузоперевозки</a></li>
									<li><a href="#">Трансфер</a></li>
								</ul>
							</li>
							<li class="services-item-wrapper">
								<div class="services-item">
									<a href="#">
										<i class="icon-wrench"></i>
										<h4>Автосервис</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">Диагностика</a></li>
									<li><a href="#">Тест-драйв</a></li>
									<li><a href="#">Кузовной ремонт</a></li>
									<li><a href="#">Покраска авто</a></li>
									<li><a href="#">Мойка авто</a></li>
								</ul>
							</li>
							<li class="services-item-wrapper">
								<div class="services-item">
									<a href="#">
										<i class="icon-chat"></i>
										<h4>Отзывы</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">За послеление 7 дней</a></li>
									<li><a href="#">За последний месяц</a></li>
									<li><a href="#">За последний год</a></li>
									<li><a href="#">Все отзывы</a></li>
								</ul>
							</li>
							<li class="services-item-wrapper">
								<div class="services-item">
									<a href="#">
										<i class="icon-help-circled"></i>
										<h4>FAQ</h4>
									</a>
								</div>
								<div class="services-toggle"></div>
								<ul>
									<li><a href="#">Как бронировать</a></li>
									<li><a href="#">Получение авто</a></li>
									<li><a href="#">После аренды</a></li>
									<li><a href="#">Страховка</a></li>
									<li><a href="#">Отмена брони</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="services-button-wrapper">
							<a href="#callback" class="button fancybox">Оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="catalog-name">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="catalog-title">Каталог автомобилей</h2>
						<p class="title-description">Наш автопарк располагает автомобилями премиум-сегмента. Имеются как автомобили представительского класса, так и гоночные спорткары. Разнообразные модели от самых известных мировых производителей.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="catalog">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/vanquish.jpg" class="fancybox" data-fancybox-group="group"><img src="img/vanquish.jpg" alt="Auto" /></a>
							<h4>Aston Martin Vanquish</h4>
							<p class="price"><a href="#" class="button">От $400/сутки</a></p>
							<p class="car-description">Является флагманским спорт-каром класса Gran Turismo компании Aston Martin. Был создан в 2001-м году в качестве приемника стареющего Virage. В 2007 году был заменен на Aston Martin DBS, но после окончания производства DBS, вновь вернули название Vanquish.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/s-class.jpg" class="fancybox" data-fancybox-group="group"><img src="img/s-class.jpg" alt="Auto" /></a>
							<h4>Mercedes S-class</h4>
							<p class="price"><a href="#" class="button">От $350/сутки</a></p>
							<p class="car-description">Флагманская серия представительских автомобилей немецкой компании Mercedes-Benz. Первые седаны появились в начале 1950-х годов, но официально S-класс появился лишь в 1972 году.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/charger.jpg" class="fancybox" data-fancybox-group="group"><img src="img/charger.jpg" alt="Auto" /></a>
							<h4>Dodge Charger</h4>
							<p class="price"><a href="#" class="button">От $300/сутки</a></p>
							<p class="car-description">Культовый автомобиль производства компании Dodge, принадлежащей концерну Chrysler Corporation. В 2012 был запущен в производство 470-сильный четырёхдверный Charger SRT8 с двигателем HEMI 6.4 литров V8. Время разгона от 0 до 60 миль в час — 4.6 секунды.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/aventador.jpg" class="fancybox" data-fancybox-group="group"><img src="img/aventador.jpg" alt="Auto" /></a>
							<h4>Lamborghini Aventador</h4>
							<p class="price"><a href="#" class="button">От $450/сутки</a></p>
							<p class="car-description">Суперкар, выпускающийся компанией Lamborghini. Автомобиль пришёл на смену Lamborghini Murciélago в 2011 году. Aventador оборудован 6,5-литровым 12-цилиндровым двигателем мощностью 700 л. с.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/911.jpg" class="fancybox" data-fancybox-group="group"><img src="img/911.jpg" alt="Auto" /></a>
							<h4>Porshe 911</h4>
							<p class="price"><a href="#" class="button">От $250/сутки</a></p>
							<p class="car-description">Cпортивный автомобиль производства немецкой компании Porsche AG в кузове двухдверное купе или кабриолет на его основе, в разных поколениях производящегося с 1964 года по наши дни.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="catalog-item">
							<a href="img/rolls.jpg" class="fancybox" data-fancybox-group="group"><img src="img/rolls.jpg" alt="Auto" /></a>
							<h4>Rolls-Royce Phantom</h4>
							<p class="price"><a href="#" class="button">От $500/сутки</a></p>
							<p class="car-description">Автомобиль представительского класса, производимый компанией Rolls-Royce Motor Cars, дочерней компанией BMW. Компания обновляет модель раз в несколько лет. Последняя модель представлена в 2012.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="show-all-wrapper">
							<a href="#" class="button show-all">Смотреть все предложения</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="info">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="info-title-wrapper">
							<h2>Master Car Rentals</h2>
						</div>
					</div>
					<div class="col-md-3 col-sm-5 col-xs-12">
						<div class="info-button-wrapper">
							<a href="#callback" class="button">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="info-content clearfix">
						<div class="col-md-6">
							<img src="img/cars.jpg" alt="Cars" />
						</div>
						<div class="col-md-6">
							<p>Во всем мире спортивные машины уже на протяжении долгого времени считаются непревзойденными представителями высшего класса автотранспорта. Эти авто обладают неповторимыми качествами, которые способны доставить максимум удовольствия любому водителю. Взяв в аренду спортивный автомобиль, Вы испытаете незабываемую мощь пятиста лошадей под капотом авто в сочетании с воистину королевским комфортом. </p>
							<p>Вы хотите скорости и возможность показать себя? Посмотрев каталог нашего портала, Вы обязательно найдете самые выгодные варианты по услуге проката спорткаров. Мы предлагаем Вашему вниманию все самые знаменитые модели авто этого класса. </p>
							<p>Вы решили взять в прокат спортивный автомобиль? Компания «Master Car Rentals» без сомнений поможет Вам в поиске подходящего транспортного средства! На сайте нашей компании Вы, несомненно, сможете взять в аренду нужную модель спорткара именно по Вашим, индивидуальным запросам, которые соответствуют Вашему стилю и темпераменту.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12"><p>&copy; Master Car Rentals | 2015</p></div>
					<div class="col-md-6 col-sm-12">
						<nav class="footer-menu">
							<ul>
								<li><a href="#">Главная</a></li>
								<li><a href="#">О нас</a></li>
								<li><a href="#">Цены</a></li>
								<li><a href="#">Каталог авто</a></li>
								<li><a href="#">Партнёры</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-3 col-sm-12">
						<div class="author-name">
							<p>Made by <a href="#">Alex Negodiaev</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>


	<div class="hidden"></div>
	<!-- Mandatory for Responsive Bootstrap Toolkit to operate -->
	<div class="device-xs visible-xs"></div>
	<div class="device-sm visible-sm"></div>
	<div class="device-md visible-md"></div>
	<div class="device-lg visible-lg"></div>
	<!-- end mandatory -->
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-2.1.3.min.js"></script>
	<script src="libs/modernizr/modernizr.js"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="libs/equalheight/jquery.equalheight.js"></script>
	<script src="libs/animate/animate-css.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>