@font-face {
  font-family: "PTSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Aller_Rg";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Aller/Aller_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype");
}

@font-face {
  font-family: "Aller_Bd";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Aller/Aller_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller/Aller_Bd.woff") format("woff"), url("../fonts/Aller/Aller_Bd.ttf") format("truetype");
}

@font-face {
  font-family: "Aller_Lt";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Aller/Aller_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller/Aller_Lt.woff") format("woff"), url("../fonts/Aller/Aller_Lt.ttf") format("truetype");
}

@font-face {
  font-family: "Aller_It";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Aller/Aller_It.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller/Aller_It.woff") format("woff"), url("../fonts/Aller/Aller_It.ttf") format("truetype");
}
