/* Header */
.page-header {
	min-height: 100px;
	color: $w;
	background: $text;
}

.logo-wrap {
	flex: 1;
	padding-top: 31px;
}

.logo {
	vertical-align: middle;
	margin-right: 5px;
	font-size: 30px;
	font-family: $sfont;
	line-height: 1;
	font-weight: $font-bold;
	text-transform: uppercase;
	user-select: none;
	color: $w;
	.colored {
		color: $p;
	}
	&:hover,
	&:visited,
	&:active {
		color: inherit;
	}
}

.logo-descr {
	font-size: 14px;
	line-height: 30 / 14 * 1;
}

.navigation {
	flex: 2;
}

.menu-toggle {
	position: relative;
	width: 45px;
	height: 46px;
	left: 0;
	top: 0;
	display: none;
}
.menu-toggle-icon {
	top: 50%;
	left: 0px;
	right: 0px;
	height: 4px;
	background: $s;
	position: absolute;
	@include transform(translate(0, -50%));
	@include transition(background-color 0.1s linear);
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: $s;
		height: 100%;
		@include transform(translate(0, -16px));
	}
	&:after {
		@include transform(translate(0, 16px));
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	margin-right: -22px;
	user-select: none;
	a {
		position: relative;
		display: block;
		padding: 35px 22px 36px;
		font-size: 13px;
		font-family: $sfont;
		line-height: 30 / 13 * 1;
		font-weight: $font-bold;
		text-transform: uppercase;
		color: $w;
		&:after {
			content: '';
			position: absolute;
			top: 10px; left: 0; right: 0;
			@include size(100% 4px);
			background: $p;
			@include transition(transform .25s, top .1s);
			@include transform(scale(0));
		}
		&:hover {
			background: $link-hover;
			&:after {
				top: 0;
				@include transform(scale(1));
			}
		}
	}
}

//Push menu classes
.menu-push {
	position: relative;
	overflow-x: hidden;
	left: 0;
	@include transition(all .2s ease);

}

.menu-push-toleft {
	left: -215px;
}