/* Slider */

//Base styles
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

//Promo slider styles
$bg-promo-slide: #00ccff;

.promo-slider {
	color: $w;
	background: $text;
}

.promo-slide {
	overflow: hidden;
	height: 460px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	> a {
		position: relative;
		display: block;
		@include size(100%);
		color: $w;
		background: rgba($link-hover, .6);
	}
}

.promo-slide-content {
	position: relative;
	z-index: 1;
	flex-direction: column;
	padding: 70px 10px;
	text-align: center;
}

.promo-slide-text {
	margin-bottom: 23px;
	font-size: rem(30);
}

.promo-slide-title {
	position: relative;
	margin-bottom: 33px;
	padding: 12px 0 22px;
	font-family: $sfont;
	font-weight: $font-bold;
	text-transform: uppercase;
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		background: transparent 
														repeating-linear-gradient(to right,
																																transparent 0,
																																transparent 4px,
																																$w 4px,
																																$w 6px);
		@include transform(translate(-50%, 0));
	}
	&:before {
		top: 0;
		@include size(472px 1px);
	}
	&:after {
		bottom: 0;
		@include size(353px 1px);
	}
}

.promo-slide-subtitle {
	text-transform: uppercase;
}

//Offers slider styles
.offers-slider {
	// margin: 46px auto 0;
	margin-top: 46px;
	max-width: 696px;
	//space between slides
	.slick-list  { margin: 0 -12px; }
	.slick-slide { margin: 0 12px; }
	//Arrows
	.slick-prev,
	.slick-next {
		position: absolute;
		top: 50%;
		z-index: 5;
		@include size(50px 82px);
		border: none;
		font-size: 0;
		line-height: 0;
		background: transparent;
		@include transform(translate(0, -50%));
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0; left: 50%;
			margin-left: -8px;
			@include size(17px 60px);
			border-radius: 10px;
			background: $text;
			@include transition(box-shadow .15s);
		}
	}
	.slick-prev,
	.slick-next {

		&:before { top: -7px; }
		&:after  { top: 27px; }

		&:hover {
			&:before,
			&:after {
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
			}
		}
	}
	.slick-prev {
		left: -160px;

		&:before { @include transform(rotate(45deg)); }
		&:after  { @include transform(rotate(-45deg)); }
	}
	.slick-next {
		right: -155px;

		&:before { @include transform(rotate(-45deg)); }
		&:after  { @include transform(rotate(45deg)); }
	}
}

.offers-item {
	@include size(100% 216px);
	border: 3px solid $text;
	border-radius: 50%;
	background-color: $w;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

//Responsive sliders styles
@media screen and (max-width: 1199px) {
	//Offers slider
	.offers-slider {
		//Arrows
		.slick-prev { left: -70px; }
		.slick-next { right: -70px; }
	}

}

@media screen and (max-width: 879px) {
	//Offers slider
	.offers-slider {
		padding: 0 60px;
		max-width: 100%;
		//space between slides
		.slick-list  { margin: 0 -8px; }
		.slick-slide { margin: 0 8px; }
		//Arrows
		.slick-prev,
		.slick-next {
			&:before,
			&:after {
				@include size(10px 55px);
			}

			&:before { top: -10px; }
			&:after  { top: 30px; }
		}

		.slick-prev {
			left: 0;

			&:before { @include transform(rotate(30deg)); }
			&:after  { @include transform(rotate(-30deg)); }
		}
		.slick-next {
			right: -5px;

			&:before { @include transform(rotate(-30deg)); }
			&:after  { @include transform(rotate(30deg)); }
		}
	}
	.offers-item {
		border-radius: 20px;
		background-size: cover;
	}

}

@media screen and (max-width: 767px) {
	//Promo slider
	.promo-slide {
		height: 350px;
	}
	.promo-slide-content {
		padding: 40px 10px;
	}
	.promo-slide-text {
		font-size: rem(20);
	}
	.promo-slide-title {
		&:before { width: 90%; }
		&:after  { width: 70%; }
	}

}

@media screen and (max-width: 543px) {
	//Offers slider
	.offers-slider {
		padding: 0 45px;
		//space between slides
		.slick-list  { margin: 0 -5px; }
		.slick-slide { margin: 0 5px; }

		.slick-prev { left: -5px; }
		.slick-next { right: -10px; }
	}

}