/*==========  Desktop First Method  ==========*/

/* Extra Large Devices, Super Wide Screens */
@media only screen and (min-width : 1400px) {
	.page-menu-small {
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1399px) {
	
	/***** Page styles *****/
	.page-menu {
		display: none;
	}

	.page-menu-small {
    background-color: #566678;
    left: 0;
    padding: 25px 0;
    position: relative;
    width: 100%;
}

	.page-menu-small a {
  color: #fff;
	}

.page-menu-small h4, .page-menu a {
  font: 18px "RobotoCondensedRegular";
  text-align: center;
	}

.page-menu-small h4 {
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0 auto 25px;
  padding: 12px 0;
  width: 50%;
	}

.page-menu-small ul {
  margin: 0;
  padding: 0 20px;
  text-align: center;
	}

.page-menu-small ul li {
  display: inline-block;
  margin-right: 20px;
  line-height: 16px;
  margin: 0 20px 15px 0;
	}

.page-menu-small ul li a {
  text-transform: none;
  line-height: 16px;
  font-size: 16px;
	}

.page-menu-small ul li a:hover {
  color: #bfcbd8;
  -webkit-transition: .2s;
  transition: .2s;
	}

.page-menu-small .page-inner-menu-small {
	display: none;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	/***** Advantages *****/
	.s-advantages {
		background-repeat: repeat-y;
	}


	/***** About *****/
	.about-content-wrapper {
		max-height: 600px;
	}

	.about-content-text {
		width: 85%;
	}

	/***** Footer *****/
	footer .footer-wrapper .header-info {
    margin: 12px 0 -5px -30px;
	}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {


/***** Header  *****/
	header {
		background-repeat: repeat-y;
	}

	.header-info {
		max-width: 720px;
		text-align: center;
		margin-top: 18px;
	}

	.header-icon {
		text-align: center;
		float: none;
		display: inline-block;
	}

	.header-info p {
		display: inline-block;
	}

	.mail p,
	.address p {
		font-size: 19px;
		margin: 15px 0;
	}

	.mail .header-icon {
		margin-top: 0;
	}

	.phone-numbers {
		margin-top: -20px;
	}

	.phones .phone-numbers p {
		font-size: 22px;
	}

	.header-content .header-description {
		width: 90%;
	}

	header .main-button {
    background-color: #112841;
	}


/***** Services  *****/
	.s-services {
		min-height: 670px
	}

	.services-item {
		height: 157px;
	}
	
	.s-services h3 {
		font-size: 20px;
	}

	.service-item-wrapper {
		top: 0;
	}
	.service-text-wrapper .services-item-text, .service-text-wrapper .services-item-content, .service-item-wrapper .services-item-text {
		display: none;
	}
	.service-item-wrapper {
    background: rgba(6, 38, 65, 0.5) none repeat scroll 0 0;
	}


	.service-item-wrapper .services-item-content a {
    margin-top: 10px;
	}

	.s-services .main-button-wrapper {
		margin-top: -10px;
	}

	.service-item-wrapper .services-item-content a {
    color: #aaa;
	}


	/***** Product *****/
	.s-product .main-button-wrapper {
		margin-top: -5px;
	}


	/***** About *****/
	.about-content-wrapper {
		min-height: 700px;
	}

	.about-content-text {
		width: 90%;
	}
	
	
	/***** Contacts *****/
	.s-contacts {
    background-repeat: repeat-y;
	}


	/***** Footer *****/
	footer .footer-wrapper .item-line {
    margin-top: 30px;
    width: 85%;
	}

	footer .footer-wrapper .header-info {
    margin: 30px 0 -15px -10px;
	}

	footer .footer-wrapper .header-info p {
    line-height: 10px;
	}

	footer .footer-wrapper .header-info .phones {
    margin-top: 0;
	}

	footer .phone-numbers {
    margin-top: -17px;
	}
	
	/***** For mobile *****/
	.header-info .info-mobile-mail,
	.header-info .info-mobile-address,
	.header-info .info-mobile-phones {
		display: none;
		text-align: center;
		line-height: 10px;
	}


	/***** Page styles *****/
	.page-content-wrapper {
    width: 100%;
	}

	.page-images .page-image {
		width: 24%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	/***** Header *****/
	.header-info {
		position: relative;
		margin-top: 10px;
	}

	.header-info > div {
		float: left;
	}

	.header-info .hidden-mobile {
		display: none;
	}

	.logo {
		padding: 0;
		border: 0;
	}
	
	.header-content {
		max-height: 987px;
		margin-bottom: 30px;
	}

	.header-content .header-quote {
		font-size: 20px;
	}

	.header-content .header-description {
		font-size: 20px;
	}

	.main-button {
		font-size: 18px;
	}


	/***** Services  *****/
	.s-services {
		min-height: 990px;
		background-repeat: repeat-y;
	}

	.services-item {
		height: 200px;
	}

	h2 {
		font-size: 20px;
	}

	.s-services h3 {
		font-size: 18px;
	}

	.service-item-wrapper .services-item-content a {
    font-size: 18px;
	}


	/***** Product *****/
	.s-product p {
    font-size: 18px;
	}


	/***** Advantages *****/
	.s-advantages {
		padding-bottom: 25px;
	}

	.s-advantages p {
		font-size: 18px;
	}
	
	.s-advantages .advantages-wrapper ul {
		padding: 0;
		margin: 0 15px 0 45px;
	}

	.s-advantages .advantages-wrapper ul li {
		line-height: 20px;
	}
	
	.s-advantages .advantages-wrapper ul li::before {
    background-position: -194px -54px;
    margin: 0 15px 0 -45px;
	}	


	/***** About *****/
	.about-content-wrapper:first-child {
    padding: 25px 0;
    min-height: 420px;
    max-height: 420px;
	}
	.about-content-wrapper:last-child {
    padding: 25px 0;
    min-height: 550px;
    max-height: 550px;
	}

	.about-content-wrapper:first-child .about-content-text {
		height: 45%;
	}
	.about-content-wrapper:last-child .about-content-text {
		height: 55%;
	}

	.about-content-text p {
		font-size: 20px;
	}


	/***** Contacts *****/
	.s-contacts p {
		font-size: 18px;
	}

	.s-contacts .contacts-wrapper .main-form input {
    display: block;
    margin: 0 auto 15px;
    font-size: 20px;
	}


	/***** Footer *****/
	footer .footer-wrapper ul {
    margin: 7px 0 0;
	}

	footer .footer-wrapper ul li {
    font-size: 18px;
    margin-right: 15px;
	}

	footer .footer-wrapper .header-info {
    margin: 15px 0 -30px;
	}

	footer .rights {
    font-size: 16px;
	}
	
	/***** Page styles *****/
	h1 {
		font-size: 24px;
	}

	.s-page-content {
		font-size: 18px;
	}

	.page-menu-small h4 {
    margin: 0 auto;
	}

	.page-menu-small ul {
    display: none;
    margin-top: 25px;
	}

	.page-images .page-image {
    width: 48%;
	}

	.description-example {
    margin: 25px 0;
	}

	.image-example {
    float: none;
    width: 100%;
	}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	/***** Header *****/
	.logo {
		margin: 0 auto;
	}

	.greeting {
		font-size: 16px;
		margin-top: 5px;
	}

	h1 {
		font-size: 20px;
	}

	.header-content .header-quote, 
	.header-content .header-description {
    font-size: 18px;
	}
	.header-content .header-description {
    width: 96%;
	}

	/***** Services *****/
	h2:before, 
	h2:after {
    display: none;
	}

	.services-item {
    height: 195px;
	}

	.s-services h3 {
    font-size: 18px;
    margin: 0 5px;
	}

	
	/***** Product *****/
	.s-product p,
	.s-advantages p,
	.about-content-text p,
	.s-contacts p {
    font-size: 16px;
	}


	/***** About *****/
	.s-about h2 {
    margin-top: 10px;
	}

	.about-content-wrapper:first-child {
    max-height: 360px;
    min-height: 360px;
	}
	.about-content-wrapper:last-child {
	    min-height: 490px;
	    max-height: 490px;
		}
	
	.about-content-wrapper:first-child .about-content-text {
		height: 55%;
	}
	.about-content-wrapper:last-child .about-content-text {
		height: 65%;
	}

	
	/***** Contacts *****/
	.s-contacts .contacts-wrapper .main-form input {
    font-size: 18px;
	}

	
	/***** Footer *****/
	footer .rights {
    font-size: 14px;
	}

	.footer-wrapper .footer-info-text {
		display: block;
		font-size: 16px;
		line-height: 16px;
	}
	
	/***** For mobile *****/
	.header-info .info-mobile-mail,
	.header-info .info-mobile-address,
	.header-info .info-mobile-phones,
	.header-info .info-mobile-phones {
		font-size: 18px;
	}


	/***** Page styles *****/
	.page-menu-small ul li {
    display: block;
    line-height: 16px;
    margin: 0 0 15px;
	}

	.page-images .page-image {
    margin-bottom: 20px;
    width: 100%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}