body {
  color: #fff;
  letter-spacing: 1px;
  background-color: #555;
}

a {
  color: #fff;
}

a:hover {
  color: #98A5CC;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

p {
  color: #fff;
}

.active_link {
  color: #98A5CC;
  border: 2px solid #98A5CC;
}

.color_element {
  color: #98A5CC;
}

.color_bg {
  background-color: #98A5CC;
}

.color_border {
  border-color: #98A5CC;
}

h1, h2, .top_line {
  background-color: rgba(255, 203, 175, 0.8);
  color: #fff;
}

.top_line {
  background-color: #FFCBAF;
}

.h_line {
  background-color: #fff;
}

.logo {
  color: #fff;
}

.logo span {
  color: #98A5CC;
}

.services {
  background-color: #98A5CC;
}

.s_portfolio {
  background-color: #fff;
}

.s_portfolio h3, .s_portfolio h4, .s_portfolio li {
  color: #FFCBAF;
}

.s_portfolio .h_line {
  background-color: #FFCBAF;
}

.s_portfolio .controls .active_link {
  color: #98A5CC;
}

.portfolio_item a {
  color: #FFCBAF;
}

.portfolio_item a:hover {
  color: #fff;
}

.port_item_cont {
  background-color: rgba(255, 203, 175, 0.8);
}

.port_descr {
  background-color: #FFCBAF;
}

.s_default {
  background-color: #FFCBAF;
}

.s_default a {
  color: #FFCBAF;
  border: 2px solid #FFCBAF;
  background-color: #fff;
}

.s_default a:hover {
  background-color: #98A5CC;
  color: #fff;
}

.s_tw {
  background-color: #98A5CC;
}

.s_tw .tw_user:hover {
  color: rgba(255, 203, 175, 0.8);
}

.about_content .social a:hover {
  background-color: rgba(255, 203, 175, 0.8);
  color: #fff;
}

.s_testimonials {
  background-color: #898d99;
}

.s_testimonials .h_line {
  background-color: #FFCBAF;
}

.s_testimonials h3, .s_testimonials p, .s_testimonials i {
  color: #FFCBAF;
}

.s_testimonials a {
  color: #98A5CC;
}

.s_testimonials a:hover {
  color: #FFCBAF;
}

.contacts_wrap {
  background-color: rgba(255, 203, 175, 0.5);
}

form span {
  color: #fff;
}

textarea {
  color: #98A5CC;
}

.form_btn {
  background-color: #FFCBAF;
}

.form_btn:hover {
  background-color: #98A5CC;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

footer {
  background-color: #898d99;
}

footer a, footer p, footer li {
  color: #ffcbaf;
  border-color: #ffcbaf;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-1px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-1px);
  }
}

.to_down:hover {
  -webkit-animation: bounce 0.75s ease infinite;
  -moz-animation: bounce 0.75s ease infinite;
  animation: bounce 0.75s ease infinite;
}

@keyframes sizeUp {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.my:hover {
  -webkit-animation: sizeUp 1s linear;
  -moz-animation: sizeUp 1s linear;
  animation: sizeUp 1s linear;
}
