<div class="discount-block">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="discount-block__discount-text">Купи подарочный сертификат в картинг-центр &quot;SmartKart&quot; <br> <span class="discount-block__discount-info">со скидкой 20%</span></p>
			</div>
			<div class="col-md-6 discount-block__buy-wrap">
				<a href="#alert-certificate-form" class="discount-block__buy-link g-main-button g-main-button--grey alert-form-show">Купить</a>
			</div>
		</div>
	</div>
</div>