<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Astoria</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
		<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
		<link rel="stylesheet" href="css/normalize/normalize.min.css" />
		<link rel="stylesheet" href="libs/animate/animate.min.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/media.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>
	</head>

	<body>
	
		<header data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="header-content">
					<div class="row">
						<div class="header-info clearfix">
							<div class="col-md-3 col-sm-3">
								<div class="mail">
									<span class="header-icon"></span>
									<p class="hidden-mobile">astor-rt@yandex.ru</p>
								</div>
							</div>
							<div class="col-md-5 col-sm-6">
								<div class="address">
									<span class="header-icon"></span>
									<p class="hidden-mobile">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-3">
								<div class="phones">
									<span class="header-icon"></span>
									<div class="phone-numbers">
										<p class="hidden-mobile">+7(843)267-11-60</p>
										<p class="hidden-mobile">+7(843)267-16-60</p>
									</div>
								</div>
							</div>
							<!-- Hidden info -->				
							<p class="info-mobile-mail">astor-rt@yandex.ru</p>
							<p class="info-mobile-address">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
							<p class="info-mobile-phones">+7(843)267-11-60</p>
							<p class="info-mobile-phones">+7(843)267-16-60</p>
							<!-- Hidden info -->				
						</div>
					</div>
					<a href="#"><div class="logo"></div></a>
					<p class="greeting">Добро пожаловать</p>
					<h1><span>Комплексная</span> защита Вашего дома и офиса от внешних факторов</h1>
					<div class="header-description-line"></div>
					<p class="header-quote">Персональный сервис, от начала до конца ...</p>
					<p class="header-description">Изготовление, продажа, монтаж и сервисное обслуживание всех видов жалюзи, рольставен, рольворот, секционных ворот, распашных и откатных ворот, москитных сеток, москитных дверей, ремонт и обслуживание ворот и рольставен. В нашем салоне представлены действующие образцы продукции, приехав к нам вы можете получить консультацию и сделать заказ, а также получить дополнительную скидку до 10%. </p>
					<div class="main-button-wrapper">
						<a href="#" title="Заказать" class="main-button">Сделать заказ</a>
					</div>
				</div>
			</div>
		</header>
		
		<section class="s-services">
			<div class="services-wrapper">
				<h2><span>Мы рады</span> предложить вам</h2>
				<div class="row">
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-1.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Гаражные <br> секционные ворота</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Гаражные <br> секционные ворота</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-2.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Промышленные <br> секционные ворота</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Промышленные <br> секционные ворота</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-3.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Откатные и распашные ворота, шлагбаумы</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Откатные и распашные ворота, шлагбаумы</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-4.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Рольставни</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Рольставни</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-5.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Рольворота</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Рольворота</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-6.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Горизонтальные <br> жалюзи</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Горизонтальные <br> жалюзи</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-7.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Вертикальные <br> жалюзи</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Вертикальные <br> жалюзи</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-8.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Рулонные <br> шторы</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Рулонные <br> шторы</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 services-item">
						<img src="img/services/s-i-9.jpg" alt="Alt" />
						<div class="service-text-wrapper">
							<div class="services-item-text">
								<div class="item-line"></div>
								<h3>Москитные <br> сетки</h3>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="service-item-wrapper">
							<div class="services-item-content">
								<div class="item-line"></div>
								<h3>Москитные <br> сетки</h3>
								<div class="item-line"></div>
								<a href="#">Подробнее...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-button-wrapper">
				<a href="page.html" title="Заказать" class="main-button anm-up">Все услуги</a>
			</div>
		</section>
		
		<section class="s-product">
			<div class="product-wrapper">
				<div class="row">
					<div class="col-md-12">
						<h2><span>Купить</span> нашу продукцию - просто!</h2>
						<p>Наши дизайнеры помогут Вам при выборе жалюзи. Они помогут найти оптимальное соотношение цены и качества и, прежде всего, будут заботиться о дизайне комнаты. </p>
						<p>Основные наши задачи - это индивидуальный подход к каждому клиенту и оперативное, разрешение возникающих вопросов. Наша компания гарантирует успешный результат, так как мы уверены в качестве производимой нами продукции. </p>
						<p>Мы всегда ориентированы на успешный результат и готовы сделать все, чтобы Вы остались довольны нашей работой.</p>
						<div class="main-button-wrapper">
							<a href="#" title="Заказать" class="main-button anm-r">Сделать заказ</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="s-advantages">
			<div class="advantages-wrapper">
				<div class="row">
					<div class="col-md-12">
						<h2>Преимущества нашей <span>компании</span></h2>
						<ul>
							<li>
								<p>Высокотехнологичное отлаженное производство жалюзи</p>
							</li>
							<li>
								<p>Предоставление полного комплекса услуг — &quot;Жалюзи под ключ&quot;.</p>
							</li>
							<li>
								<p>Гибкая система скидок и специальные предложения.</p>
							</li>
							<li>
								<p>Социальная программа для участников Великой Отечественной Войны,
								ветеранов и инвалидов.</p>
							</li>
							<li>
								<p>Повышение квалификации собственных работников на тренингах и семинарах
								ведущих компаний-производителей.</p>
							</li>
							<li>
								<p>Постоянная модернизация оборудования.</p>
							</li>
							<li>
								<p>Широкий ассортимент.</p>
							</li>
							<li>
								<p>Работаем по наличному и безналичному расчету.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="s-about">
			<!-- <div class="about-wrapper"> -->
				<div class="container about-wrapper">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 about-content-wrapper fil">
							<h2><span>Наши</span> клиенты</h2>
							<div class="about-content-text">
							<div class="item-line"></div>
								<p>Нашими клиентами являются не только частные лица, но и бюджетные и коммерческие организации Республики. Наша производственная компания занимается изготовлением и продажей жалюзи, автоматических ворот, рольставен. Качество, цена и индивидуальный подход к каждому клиенту. Это то, чем мы сможем Вас удивить!</p>
								<div class="item-line"></div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 about-content-wrapper fir">
							<h2><span>Собственное</span> производство</h2>
							<div class="about-content-text">
							<div class="item-line"></div>
								<p>На производственных базах нашей компании внедрена система качества, благодаря которой исключается производство некачественных изделий. Контроль за производством изделий ведется на высоком уровне в цехах, расположенных на территории. Слаженную работу производственных мощностей обеспечивает высококвалифицированный персонал, периодически проходящий обучение и тренинги. Причиной такой частой периодичности является постоянно обновляющейся номенклатуры </p>
								<div class="item-line"></div>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</section>
		
		<section class="s-contacts">
			<div class="contacts-wrapper">
				<div class="row">
					<div class="col-md-12">
						<h2><span>Свяжитесь</span> с нами прямо сейчас!</h2>
						<p>Проконсультируем по любым вопросам. Как заказать нашу продукцию? Просто! </p>
						<p>Дизайнер с каталогами приезжает в любое удобное для вас время и место, и Вы, со специалистом, решите какой тип солнцезащитной системы подходит Вам больше.</p>
						<p>Мы сделаем Вам предложение, от которого Вы не сможете отказаться.</p>
						<form class="main-form form-anm" autocomplete="off">
			        <input type="text" name="name" placeholder="Ваше имя" required="required" />
			        <input type="text" name="phone" placeholder="Ваш телефон" required="required" />
			        <button type="submit" name="submit" class="main-button button-submit">Отправить</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="footer-wrapper">
					<div class="row">
						<div class="col-md-12">
							<nav class="footer-menu">
								<ul>
									<li><a href="#">Главная</a></li>
									<li><a href="#">Услуги</a></li>
									<li><a href="#">О компании</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
							</nav>
							<div class="item-line"></div>
							<div class="header-info clearfix">
								<div class="col-md-3 col-sm-3 col-xs-3">
									<div class="mail">
										<span class="header-icon"></span>
										<p class="hidden-mobile">astor-rt@yandex.ru</p>
									</div>
								</div>
								<div class="col-md-5 col-sm-6 col-xs-6">
									<div class="address">
										<span class="header-icon"></span>
										<p class="hidden-mobile">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-3">
									<div class="phones">
										<span class="header-icon"></span>
										<div class="phone-numbers">
											<p class="hidden-mobile">+7(843)267-11-60</p>
											<p class="hidden-mobile">+7(843)267-16-60</p>
										</div>
									</div>
								</div>
							</div>
							<!-- Hidden info -->				
							<p class="info-mobile-mail footer-info-text">astor-rt@yandex.ru</p>
							<p class="info-mobile-address footer-info-text">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
							<p class="info-mobile-phones footer-info-text">+7(843)267-11-60</p>
							<p class="info-mobile-phones footer-info-text">+7(843)267-16-60</p>
							<!-- Hidden info -->
							<div class="item-line"></div>
							<a href="#"><div class="logo"></div></a>
							<p class="rights">2015 &copy; Все права защищены <br> Разработка сайта: Белый Имидж</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="hidden"></div>
		<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/respond.min.js"></script>
		<![endif]-->
		
		<!-- Add scripts -->
		<script src="libs/jquery/jquery-2.1.3.min.js"></script>
		<script src="libs/stellar/jquery.stellar.min.js"></script>
		<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
		<script src="libs/waypoints/waypoints.min.js"></script>
		<script src="libs/animate/animate-css.js"></script>

		<script src="js/common.js"></script>
		<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
		<!-- Google Analytics counter --><!-- /Google Analytics counter -->

	</body>

</html>