<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Astoria</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
		<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
		<link rel="stylesheet" href="css/normalize/normalize.min.css" />
		<link rel="stylesheet" href="libs/animate/animate.min.css" />
		<link rel="stylesheet" href="css/fonts.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/media.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>
	</head>

	<body>
	
		<header>
			<div class="container">
				<div class="header-content">
					<div class="row">
						<div class="header-info clearfix">
							<div class="col-md-3 col-sm-3">
								<div class="mail">
									<span class="header-icon"></span>
									<p class="hidden-mobile">astor-rt@yandex.ru</p>
								</div>
							</div>
							<div class="col-md-5 col-sm-6">
								<div class="address">
									<span class="header-icon"></span>
									<p class="hidden-mobile">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-3">
								<div class="phones">
									<span class="header-icon"></span>
									<div class="phone-numbers">
										<p class="hidden-mobile">+7(843)267-11-60</p>
										<p class="hidden-mobile">+7(843)267-16-60</p>
									</div>
								</div>
							</div>
							<!-- Hidden info -->				
							<p class="info-mobile-mail">astor-rt@yandex.ru</p>
							<p class="info-mobile-address">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
							<p class="info-mobile-phones">+7(843)267-11-60</p>
							<p class="info-mobile-phones">+7(843)267-16-60</p>
							<!-- Hidden info -->				
						</div>
					</div>
					<a href="index.html"><div class="logo"></div></a>
					<h1><span>Комплексная</span> защита Вашего дома и офиса от внешних факторов</h1>
				</div>
			</div>
		</header>

		<article class="s-page-content">
			
			<!-- Menu for medium screen -->
			<aside class="page-menu-small">
				<h4>Услуги</h4>
				<ul>
					<li><a href="#">Гаражные секционные ворота</a></li>
					<li><a href="#">Промышленные секционные ворота</a></li>
					<li><a href="#">Откатные и распашные ворота, шлагбаумы</a></li>
					<li><a href="#">Рольставни</a></li>
					<li><a href="#">Рольворота</a></li>
					<li><a href="#">Горизонтальные жалюзи</a></li>
					<li><a href="#">Вертикальные жалюзи</a></li>
					<li><a href="#">Рулонные шторы</a></li>
					<li><a href="#">Москитные сетки</a></li>
					<li><a href="#">Инфракрасное отопление "Нирвана"</a></li>
				</ul>
				<div class="page-inner-menu-small">
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</aside>
			<!-- Menu for medium screen -->

			<div class="container page-content-wrapper">
				
				<aside class="page-menu">
					<h4>Услуги</h4>
					<ul>
						<li><a href="#">Гаражные секционные ворота</a></li>
						<li><a href="#">Промышленные секционные ворота</a></li>
						<li><a href="#">Откатные и распашные ворота, шлагбаумы</a></li>
						<li><a href="#">Рольставни</a></li>
						<li><a href="#">Рольворота</a></li>
						<li><a href="#">Горизонтальные жалюзи</a></li>
						<li><a href="#">Вертикальные жалюзи</a></li>
						<li><a href="#">Рулонные шторы</a></li>
						<li><a href="#">Москитные сетки</a></li>
						<li><a href="#">Инфракрасное отопление "Нирвана"</a></li>
					</ul>
					<div class="page-inner-menu">
						<ul>
							<li><a href="#">Главная</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</aside>
				
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="page-content">
							<h2>Гаражные секционные ворота</h2>
							<p>Только надежные и удобные в использовании автоматические ворота смогут сохранить в вашем гараже тепло и защитят от непрошеных гостей, а еще откроют и закроют гараж, повелеваясь одному только сигналу пульта. На сегодняшний день на рынке представлены различные модели автоматических ворот. Зимой большинство автолюбителей тратят часы, чтобы откопать гаражные ворота из-под завалов снега. А владельцы секционных гаражных ворот в это время нежатся в теплой постели. Чтобы выехать на автомобиле из гаража, им совсем не нужно прилагать грандиозных усилий.</p>
							<p>Секционные ворота экономят пространство, им не нужно дополнительное место. На начальной стадии изготовления ваших ворот можно выбрать их цвет. И долгое время вам не нужно переживать об очередной покраске – используемое в производстве лакокрасочное покрытие держится чрезвычайно долго. Теплопроводность таких ворот </p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="page-images">

							<div class="page-image page-item-1">
								<a href="img/page-images/page-item-1.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-1.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-2">
								<a href="img/page-images/page-item-2.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-2.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-3">
								<a href="img/page-images/page-item-3.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-3.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-4">
								<a href="img/page-images/page-item-4.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-4.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-5">
								<a href="img/page-images/page-item-5.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-5.jpg" alt="Any image" /></a>
							</div>

							<div class="page-image page-item-1">
								<a href="img/page-images/page-item-1.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-1.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-2">
								<a href="img/page-images/page-item-2.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-2.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-3">
								<a href="img/page-images/page-item-3.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-3.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-4">
								<a href="img/page-images/page-item-4.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-4.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-5">
								<a href="img/page-images/page-item-5.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-5.jpg" alt="Any image" /></a>
							</div>

							<div class="page-image page-item-1">
								<a href="img/page-images/page-item-1.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-1.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-2">
								<a href="img/page-images/page-item-2.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-2.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-3">
								<a href="img/page-images/page-item-3.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-3.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-4">
								<a href="img/page-images/page-item-4.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-4.jpg" alt="Any image" /></a>
							</div>
							<div class="page-image page-item-5">
								<a href="img/page-images/page-item-5.jpg" class="fancybox" fancybox-group="group"><img src="img/page-images/page-item-5.jpg" alt="Any image" /></a>
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<p class="description-example">Описание конструкции ворот:</p>
						<div class="image-example">
							<img src="img/page-images/image-example.png" alt="Some image" />
						</div>
						<div class="list-example">
							<ol>
								<li>Полотно ворот</li>
								<li>Ригель</li>
								<li>Верхний уплотнитель</li>
								<li>Верхний изгиб со шкивом</li>
								<li>Вертикальная направляющая</li>
								<li>Регулируемая опора с роликом</li>
								<li>Боковая крышка</li>
								<li>Балансирующий пружинный механизм (пружина растяжения)</li>
								<li>Нижний регулируемый кронштейн</li>
								<li>Верхний регулируемый кронштейн</li>
								<li>Система крепления к потолку</li>
								<li>С-образный профиль</li>
								<li>Кожух защиты пружины</li>
								<li>Кожух защиты вертикальных направляющих</li>
								<li>Внутренняя петля</li>
								<li>Нижний уплотнитель</li>
								<li>Нижний алюминиевый профиль</li>
							</ol>
						</div>
					</div>
				</div>
				
												<!-- Something else... -->

			</div>

		</article>

		<section class="s-contacts">
			<div class="contacts-wrapper">
				<div class="row">
					<div class="col-md-12">
						<h2><span>Свяжитесь</span> с нами прямо сейчас!</h2>
						<p>Проконсультируем по любым вопросам. Как заказать нашу продукцию? Просто! </p>
						<p>Дизайнер с каталогами приезжает в любое удобное для вас время и место, и Вы, со специалистом, решите какой тип солнцезащитной системы подходит Вам больше.</p>
						<p>Мы сделаем Вам предложение, от которого Вы не сможете отказаться.</p>
						<form class="main-form" autocomplete="off">
			        <input type="text" name="name" placeholder="Ваше имя" required="required" />
			        <input type="text" name="phone" placeholder="Ваш телефон" required="required" />
			        <button type="submit" name="submit" class="main-button button-submit">Отправить</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="footer-wrapper">
					<div class="row">
						<div class="col-md-12">
							<nav class="footer-menu">
								<ul>
									<li><a href="#">Главная</a></li>
									<li><a href="#">Услуги</a></li>
									<li><a href="#">О компании</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
							</nav>
							<div class="item-line"></div>
							<div class="header-info clearfix">
								<div class="col-md-3 col-sm-3 col-xs-3">
									<div class="mail">
										<span class="header-icon"></span>
										<p class="hidden-mobile">astor-rt@yandex.ru</p>
									</div>
								</div>
								<div class="col-md-5 col-sm-6 col-xs-6">
									<div class="address">
										<span class="header-icon"></span>
										<p class="hidden-mobile">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-3 col-xs-3">
									<div class="phones">
										<span class="header-icon"></span>
										<div class="phone-numbers">
											<p class="hidden-mobile">+7(843)267-11-60</p>
											<p class="hidden-mobile">+7(843)267-16-60</p>
										</div>
									</div>
								</div>
							</div>
							<!-- Hidden info -->				
							<p class="info-mobile-mail footer-info-text">astor-rt@yandex.ru</p>
							<p class="info-mobile-address footer-info-text">г. Казань, пр. Победы, 116, а , 2 этаж.</p>
							<p class="info-mobile-phones footer-info-text">+7(843)267-11-60</p>
							<p class="info-mobile-phones footer-info-text">+7(843)267-16-60</p>
							<!-- Hidden info -->
							<div class="item-line"></div>
							<a href="#"><div class="logo"></div></a>
							<p class="rights">2015 &copy; Все права защищены <br> Разработка сайта: Белый Имидж</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="hidden"></div>
		<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/respond.min.js"></script>
		<![endif]-->
		
		<!-- Add scripts -->
		<script src="libs/jquery/jquery-2.1.3.min.js"></script>
		<script src="libs/stellar/jquery.stellar.min.js"></script>
		<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
		<script src="libs/waypoints/waypoints.min.js"></script>
		<script src="libs/animate/animate-css.js"></script>

		<script src="js/common.js"></script>
		<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
		<!-- Google Analytics counter --><!-- /Google Analytics counter -->

	</body>

</html>