<div class="top-line">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
				<a href="#" class="header-logo">
					<img src="img/header-logo.png" alt="Axit logo">
				</a>
			</div>
			<div class="hidden-xs col-lg-10">
				<nav class="page-navigation"> <!-- Main menu -->
					<ul class="clearfix">
						<li><a href="#s-tabs">Features</a></li>
						<li><a href="#s-advantages">About</a></li>
						<li><a href="#s-pricing">Pricing</a></li>
						<li><a href="#s-reviews">Reviews</a></li>
						<li><a href="#s-contact">Contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-7 hidden-sm hidden-md hidden-lg">
				<button class="show-navigation">
					<span class="sandwich">
						<span class="sw-topper"></span>
						<span class="sw-bottom"></span>
						<span class="sw-footer"></span>
					</span>
				</button>
				<nav class="responsive-navigation"> <!-- Responsive menu -->
					<ul class="responsive-menu">
						<li><a href="#s-tabs">Features</a></li>
						<li><a href="#s-advantages">About</a></li>
						<li><a href="#s-pricing">Pricing</a></li>
						<li><a href="#s-reviews">Reviews</a></li>
						<li><a href="#s-contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>