<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>LP Training</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="libs/countdown/jquery.countdown.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>


	<header class="top-header">
		<div class="header-topline">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<button class="auth-buttons hidden-sm hidden-md hidden-lg">
							<i class="fa fa-user"></i>
						</button>
						<div class="top-links">
							<a href="#">Enter</a> /
							<a href="#">Registration</a>
						</div>
						<div class="soc-buttons">
							<a href="#">
								<i class="fa fa-vk"></i>
							</a>
							<a href="#">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-md-12">
				<div class="row">
					<a href="#" class="logo">moDesign</a>
					<nav class="main-menu clearfix">
						<button class="main-menu-button hidden-md hidden-lg">
							<i class="fa fa-bars"></i>
						</button>
						<ul>
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Applications</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Testimonials</a></li>
						</ul>
						<div class="top-contacts"><i class="fa fa-mobile"></i> 8-800-2000-600</div>
					</nav>
					<h1>The center of develop of the mobile applications</h1>
					<div class="slider-container">
						<div class="next_button"><i class="fa fa-angle-right"></i></div>
						<div class="prev_button"><i class="fa fa-angle-left"></i> 
						</div>
						<div class="carousel">
							<div class="slider-item"><img src="img/slide-1.jpg" alt="First slide name"></div>
							<div class="slider-item"><img src="img/slide-2.jpg"></div>
							<div class="slider-item"><img src="img/slide-3.jpg"></div>
							<div class="slider-item"><img src="img/slide-4.jpg"></div>
							<div class="slider-item"><img src="img/slide-5.jpg"></div>
						</div>
					</div>
					
				<div class="field"></div>	
				</div>
			</div>
		</div>
	</header>
	<section class="order">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="sell-description">The best apps for your smartphone</div>
				</div>
				<div class="col-md-5">
					<div class="sell-right">
						<a href="#callback" class="button fancybox">Order the development</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main-content">
		<div class="container">
			<div class="col-md-8">
				<div class="content-text">
					<div class="blog-item">
						<div class="row">
							<div class="col-md-12">
								<h3><a href="#">Article name</a></h3>
							</div>
							<div class="col-md-4">
								<a href="#"><img src="img/slide-3.jpg" alt="blog-pic"></a>
							</div>
							<div class="col-md-8">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ducimus, velit expedita doloribus? </p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit at fugiat adipisci hic illum placeat asperiores, accusantium quis quisquam numquam sunt veritatis ullam molestiae dolores ex!</p>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="row">
							<div class="col-md-12">
								<h3><a href="#">Article name 2</a></h3>
							</div>
							<div class="col-md-4">
								<a href="#"><img src="img/slide-4.jpg" alt="blog-pic"></a>
							</div>
							<div class="col-md-8">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ducimus, velit expedita doloribus? </p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit at fugiat adipisci hic illum placeat asperiores, accusantium quis quisquam numquam sunt veritatis ullam molestiae dolores ex!</p>
							</div>
						</div>
					</div>
					<div class="blog-item">
						<div class="row">
							<div class="col-md-12">
								<h3><a href="#">Article name 3</a></h3>
							</div>
							<div class="col-md-4">
								<a href="#"><img src="img/slide-5.jpg" alt="blog-pic"></a>
							</div>
							<div class="col-md-8">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ducimus, velit expedita doloribus? </p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit at fugiat adipisci hic illum placeat asperiores, accusantium quis quisquam numquam sunt veritatis ullam molestiae dolores ex!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-md-4">
					<aside class="right-aside">
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Autem facere, dicta</a></li>
							<li><a href="#">Architecto, officiis, culpa</a></li>
							<li><a href="#">Incidunt, dolorum nulla</a></li>
							<li><a href="#">Magnam doloremque, voluptatibus</a></li>
							<li><a href="#">Autem, architecto, accusantium</a></li>
							<li><a href="#">Qui, dicta, beatae</a></li>
							<li><a href="#">Distinctio, ullam eos</a></li>
							<li><a href="#">Sunt, tenetur, iusto</a></li>
							<li><a href="#">Odit, omnis, quis</a></li>
						</ul>
					</aside>
				</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">	
				<div class="col-md-4">
					<div class="contacts">
						<ul>
							<li><a href="#"><i class="fa fa-apple"></i> Organization name</a></li>
							<li><a href="#"><i class="fa fa-phone"></i> Phone number</a></li>
							<li><a href="#"><i class="fa fa-university"></i> Address</a></li>
							<li><a href="#"><i class="fa fa-bolt"></i> Any info</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<ul>
							<li><a href="#"><i class="fa fa-recycle"></i> Organization name</a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i> Phone number</a></li>
							<li><a href="#"><i class="fa fa-android"></i> Address</a></li>
							<li><a href="#"><i class="fa fa-bicycle"></i> Any info</a></li>
						</ul>
				</div>
				

				<div class="col-md-4">
						<!-- <p>Hello 2015 &copy;</p> -->
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-12">
					<div class="last-step">
						<p>GoodBye 2015 &copy;</p>
					</div>
				</div>
			</div>	
		</div>
	</footer>
	<div class="hidden">
		<form id="callback" class="pop-form">
			<h3>Order a callback</h3>
			<input type="text" name="name" placeholder="Your name..." required /> 
			<input type="text" name="phone" placeholder="Your phone..." required />
			<button class="button" type="submit">Order</button>
		</form>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/countdown/jquery.plugin.js"></script>
	<script src="libs/countdown/jquery.countdown.min.js"></script>
	<script src="libs/countdown/jquery.countdown-ru.js"></script>
	<script src="libs/landing-nav/navigation.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>