
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-star-empty-1:before { content: '\e808'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e800'; } /* '' */