@font-face {
  font-family: "MinionProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MinionProRegular/MinionProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionProRegular/MinionProRegular.woff") format("woff"), url("../fonts/MinionProRegular/MinionProRegular.ttf") format("truetype"), url("../fonts/MinionProRegular/MinionProRegular.svg#MinionProRegular") format("svg");
}

@font-face {
  font-family: "MinionProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MinionProSemiBold/MinionProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionProSemiBold/MinionProSemiBold.woff") format("woff"), url("../fonts/MinionProSemiBold/MinionProSemiBold.ttf") format("truetype"), url("../fonts/MinionProSemiBold/MinionProSemiBold.svg#MinionProSemiBold") format("svg");
}

@font-face {
  font-family: "MinionProBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MinionProBoldItalic/MinionProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionProBoldItalic/MinionProBoldItalic.woff") format("woff"), url("../fonts/MinionProBoldItalic/MinionProBoldItalic.ttf") format("truetype"), url("../fonts/MinionProBoldItalic/MinionProBoldItalic.svg#MinionProBoldItalic") format("svg");
}

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular") format("svg");
}

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype"), url("../fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight") format("svg");
}

@font-face {
  font-family: "Opium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Opium/Opium.eot?#iefix") format("embedded-opentype"), url("../fonts/Opium/Opium.woff") format("woff"), url("../fonts/Opium/Opium.ttf") format("truetype"), url("../fonts/Opium/Opium.svg#Opium") format("svg");
}

@font-face {
  font-family: "Sylfaen";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Sylfaen/Sylfaen.eot?#iefix") format("embedded-opentype"), url("../fonts/Sylfaen/Sylfaen.woff") format("woff"), url("../fonts/Sylfaen/Sylfaen.ttf") format("truetype"), url("../fonts/Sylfaen/Sylfaen.svg#Sylfaen") format("svg");
}
