<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8" />
	<title>ПромАльпМолот</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />

	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="libs/animate/animate.min.css" />

	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/skins/blue.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>

<div class="loader">
	<div class="loader-inner"></div>
</div>

<header id="home">
	
	<!-- <div class="highest-line"></div> -->

	<div class="top-line">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<p><a href="#">+7-965-567-85-80</a></p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<div class="social-icons">
						<a href="#"><i class="icon-vkontakte"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook-squared"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-line"></div>
	<div class="menu-line">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-8">
					<div class="logo">
						<a href="#">Пром<span>Альп</span>Молот <i class="icon-hammer"></i></a>
					</div>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-4">
					<button class="main-menu-button hidden-sm hidden-md hidden-lg">
						<p>Меню</p>
					</button>
					<nav class="main-menu">
						<ul>
							<li><a href="#home" class="active-menu-link">Главная</a></li>
							<li><a href="#about">О нас</a></li>
							<li><a href="#services">Услуги</a></li>
							<li><a href="#works">Наши работы</a></li>
							<li><a href="#contacts">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="section-line"></div>

	<div class="main-image">

	</div>
	
</header>

<div class="section-line line-light"></div>

<section id="about" class="about">
	<h2>О нас</h2>
	<div class="dark-line"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="about-description">
					<p>Компания &quot;ПромАльпМолот&quot; — Ваш надежный партнер при производстве высотных работ с применением технологий промышленного альпинизма.</p>
					<p>Наша компания специализируется на выполнении строительно-монтажных работ с использованием технологий промышленного альпинизма, входит в топ 5 лучших компаний г. Перми. Более 3 лет компания стабильно работает на строительном рынке Перми и имеет большой опыт выполнения высотных работ как для организаций, так и для частных лиц.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="about-image">
					<img src="img/about-2.jpg" alt="About">
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section-line"></div>

<section class="advantages" data-parallax="scroll" data-image-src="img/patterns/dark-one.png" data-z-index="-5">
	<h2>Преимущества промышленного альпинизма</h2>
	<div class="light-line"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-rouble"></i>
					<h3>Стоимость</h3>
					<p>Отпадает необходимость возведения строительных лесов и использования электроподъемников, что позволяет существенно снизить себестоимость выполняемых работ</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-gauge"></i>
					<h3>Скорость</h3>
					<p>Скорость производства высотных работ возрастает, благодаря мобильности используемых канатных систем</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-shield"></i>
					<h3>Надёжность</h3>
					<p>Используемое оборудование и снаряжение промышленного альпинизма не повреждает хрупкие фасадные и кровельные покрытия</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-wrench"></i>
					<h3>Удобство</h3>
					<p>Применение специального оборудования промышленного альпинизма позволяют выполнять монтаж конструкций без использования крупной подъемной техники</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-resize-small"></i>
					<h3>Мобильность</h3>
					<p>Возможность проведения высотных работ в стесненных или недоступных для использования традиционных технических средств местах</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="advantage-item">
					<i class="advantage-icon icon-clock"></i>
					<h3>Время</h3>
					<p>Возможность проведения работ без остановки производственных процессов</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section-line"></div>

<section id="services" class="services">
	<h2>Услуги</h2>
	<div class="dark-line"></div>
	<p>Мы, как никто другие, заботимся о качестве выполнения работ. В данном разделе вы можете ознакомиться с услугами, которые предоставляет наша компания &quot;ПромАльпМолот&quot;. Мы не указываем цены на выполнение работ ввиду того, что они не постоянны. При поступлении заказа к Вам приезжает специалист для консультации, бесплатно. После оценки сложности работ оглашается цена.</p>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="#" class="popup-content"><i class="service-icon icon-bucket"></i></a>
					</div>
					<h3>Стекломой</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Стекломой</h3>
								<div class="service-box-line"></div>
								<div class="service-text">
									<p>Для большинства фирм, офисы которых находятся в элитных высотных зданиях, особенно важен имидж, а чистота окон – это лицо компании. Их необходимо поддерживать в чистоте, чтобы у клиентов не складывалось негативное впечатление, которое в последствии скажется на бизнесе. Своевременная мойка окон будет работать на Ваш авторитет и способствовать повышению результативности труда сотрудников за счет большего попадания дневного света.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-1.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="" class="popup-content"><i class="service-icon icon-skyatlas"></i></a>
					</div>
					<h3>Герметизация</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Герметизация</h3>
								<div class="service-box-line"></div>
								<div class="service-text">
									<p>Одной из наиболее важных высотных работ по обслуживанию панельных зданий является герметизация швов фасада. Многие причины могут привести к разгерметизации швов: несоблюдение технологий при постройке, температурные и осадочные деформации, разрушение и старение материалов, ранее использованных для герметизации. Это в первую очередь негативно сказывается на влагоизоляции и теплоизоляции квартир в таком панельном здании.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-2.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="" class="popup-content"><i class="service-icon icon-brush"></i></a>
					</div>
					<h3>Покраска и штукатурка</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Покраска и штукатурка фасадов</h3>
								<div class="service-box-line"></div>
								<div class="service-text">
									<p>Ремонт фасадов, профилактические фасадные работы – это необходимые работы для каждого типа фасада здания. Любому зданию необходимы плановые фасадные работы. Качественный ремонт фасада обновит архитектурный облик Вашего здания. Профессионально произведенные оштукатуривание, покраска фасада и другие фасадные работы, сделают вид фасада здания аккуратным, чистым и красивым.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-3.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="" class="popup-content"><i class="service-icon icon-wrench-1"></i></a>
					</div>
					<h3>Монтаж и демонтаж</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Монтаж и демонтаж оборудования</h3>
								<div class="service-box-line"></div>
								<div class="service-text">
									<p>Почти все фирмы, супермаркеты, ресторанно-гостиничные комплексы и автосалоны приняли на вооружение вывески внешней рекламы. И главный вопрос в данной ситуации – это высококачественная установка. Для установки баннеров применяется технология промышленного альпинизма. Если есть необходимость в установке рекламных конструкций, то достаточно обратиться в &quot;ПромАльпМолот&quot;, и работа будет выполнена максимально быстро, и по разумной цене.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-4.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="" class="popup-content"><i class="service-icon icon-database"></i></a>
					</div>
					<h3>Очистка крыш</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Очистка крыш от снега и наледи</h3>
								<div class="service-box-line"></div>
								<div class="service-text">
									<p>Зимы в России снежные, и это прекрасно: мы любим, когда снежинки сверкают под солнцем, а детям нравится играть в снежки и кататься на санках. Однако часто обильные снегопады вызывают настоящие бедствия, а в городах снежными наносами заполняются не только улицы и дворы, но и крыши зданий . Их регулярная уборка и чистка становятся необходимостью.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-5.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="service-item">
					<div class="service-item-wrapper">
						<a href="" class="popup-content"><i class="service-icon icon-heart-empty"></i></a>
					</div>
					<h3>Оригинальные поздравления</h3>
					<a href="#" class="services-button popup-content">Подробнее</a>
					<div class="hidden">
						<div class="service-description">
							<div class="modal-box-content clearfix">
								<h3>Оригинальные поздравления в окно</h3>
								<div class="service-box-line"></div>
								<div class="service-text congrats-service-text">
									<p>&quot;Решение дел сердечных и не только&quot;.</p>
									<p>Наша компания предлагает воспользоваться Вам уникальной услугой — спуск в окно.</p>
									<p>А поводов для этого может быть много:</p>
									<ul>
										<li>предложение руки и сердца;</li>
										<li>поздравление с Днем Рождения;</li>
										<li>признание в любви;</li>
										<li>поздравление с Днем Святого Валентина;</li>
										<li>с 23 февраля (девушки тоже бывает проявляют смелость);</li>
										<li>с 8 марта;</li>
										<li>и многое другое.</li>
									</ul>
									<p>Помимо этого помогаем:</p>
									<ul>
										<li>с разработкой сценария (плана действий); </li>
										<li>с подбором тематического костюма (если нужно).</li>
									</ul>
									<p>Как правило, все цены сдельные.</p>
								</div>
								<div class="service-photo">
									<img src="img/services/service-6.jpg" alt="Alt" />
								</div>
							<button class="mfp-close" type="button" title="Close (Esc)">×</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section-line line-color"></div>

<section id="works" class="works">
	<h2>Наши работы</h2>
	<div class="light-line"></div>
	<div class="section-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="portfolio-grid">
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-1">
							<img src="img/works/p_1p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_1p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-2">
							<img src="img/works/p_2p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_2p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-3">
							<img src="img/works/p_3p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_3p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-4">
							<img src="img/works/p_4p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_4p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-3">
							<img src="img/works/p_5p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_5p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-2">
							<img src="img/works/p_6p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_6p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-4">
							<img src="img/works/p_7p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_7p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
						<div class="mix col-md-3 col-sm-6 col-xs-6 works-item category-1">
							<img src="img/works/p_8p.jpg" alt="Work" />
							<div class="works-item-content">
								<a href="#" class="popup-content">+</a>
							</div>
							<div class="hidden">
								<div class="work-description">
									<div class="modal-box-content">
										<h3>Заголовок</h3>
										<p>Описание работ.</p>
										<img src="img/works/p_8p.jpg" alt="Work" />
									<button class="mfp-close" type="button" title="Close (Esc)">×</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="section-line"></div>

<section id="contacts" class="contacts">
	<h2>Контакты</h2>
	<div class="light-line"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="contacts-info">
					<h3>Адрес:</h3>
					<p><i class="contacts-icon icon-location-1"></i>г. Пермь</p>
					<h3>Почта:</h3>
					<p><i class="contacts-icon icon-chat"></i>promalpmolot@gmail.com</p>
					<h3>Номера телефонов:</h3>
					<p><i class="contacts-icon icon-phone-1"></i>+7-965-567-85-80 - Роман</p>
					<p>&quot;Высотные работы - наше призвание. Благодаря квалифицированным альпинистам, работы любой сложности выполняются качественно и в срок.&quot;</p>
				</div>
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="main-form-wrapper">
					<form action="//formspree.io/rikoshet013@gmail.com" class="main-form" target="_blank" method="POST">
						<label>
							<span>Ваше имя</span>
							<input type="text" name="name" data-validation-required-message="You didn't enter your name" required />
							<span class="help-block text-danger"></span>
						</label>
						<label>
							<span>E-mail</span>
							<input type="email" name="email" data-validation-email-message="E-mail address is wrong" required />
							<span class="help-block text-danger"></span>
						</label>
						<label>
							<span>Сообщение</span>
							<textarea rows="5" name="message" data-validation-required-message="You didn't enter the message" required></textarea>
							<span class="help-block text-danger"></span>
						</label>
						<div class="button-wrapper">
							<button class="button form-button">
								Отправить
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pre-footer hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="pre-footer-menu">
					<ul>
						<li><a href="#" class="active-menu-link">Главная</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Наши работы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
					<iframe class="pre-footer-video" src="//vk.com/video_ext.php?oid=52846597&amp;id=171390650&amp;hash=23d3212748a663fe&amp;hd=2" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-4">
				<div class="social-icons">
					<a href="#"><i class="icon-vkontakte"></i></a>
					<a href="#"><i class="icon-twitter"></i></a>
					<a href="#"><i class="icon-facebook-squared"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="author-name">
					<p>Made by <a href="#">Alex Negodiaev</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="footer-rights">
					<p>All rights reserved | 2015 &copy;</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="social-icons">
					<a href="#"><i class="icon-vkontakte"></i></a>
					<a href="#"><i class="icon-twitter"></i></a>
					<a href="#"><i class="icon-facebook-squared"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

	<div class="hidden"></div>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-2.1.3.min.js"></script>
	<script src="libs/modernizr/modernizr.js"></script>
	<script src="libs/parallax/parallax.min.js"></script>
	<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="libs/scroll2id/PageScroll2id.min.js"></script>
	<script src="libs/waypoints/waypoints.min.js"></script>
	<script src="libs/animate/animate-css.js"></script>
	<script src="libs/jqBootstrapValidation/jqBootstrapValidation.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>