<div id="alert-register-form" class="alert-form-wrap">
	<p class="alert-form-wrap__text">Форма записи</p>
	<form class="alert-form clearfix">
		
		<!-- Hidden Required Fields -->
		<input type="hidden" name="project_name" value="Site Name">
		<input type="hidden" name="admin_email" value="rikoshet013@gmail.com">
		<input type="hidden" name="form_subject" value="Form Subject">
		<!-- END Hidden Required Fields -->

		<input type="text" name="Имя" class="alert-form__input" placeholder="Имя">
		<input type="text" name="Фамилия" class="alert-form__input" placeholder="Фамилия">
		<input type="text" name="Дата" class="alert-form__input alert-form__half-input" placeholder="Дата">
		<input type="text" name="Время" class="alert-form__input alert-form__half-input" placeholder="Время">
		<input type="number" name="Количество человек" min="1" max="9999" class="alert-form__input alert-form__half-input" placeholder="Кол-во человек">
		<span class="alert-form__input-info">для компаний от 4 человек --% скидка</span>
		<input type="tel" name="Телефон" class="alert-form__input" placeholder="Телефон*" required>
		<input type="email" name="E-mail адрес" class="alert-form__input" placeholder="Email*" required>
		<button class="alert-form__button alert-form__button--red">Зарезервировать</button>
	</form>
</div>