<section class="s-subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<p class="subscribe__heading">Подписаться на новости и <br> <span class="subscribe__heading-big">получить скидку 20%</span></p>
				<form class="subscribe__form">
					
					<!-- Hidden Required Fields -->
					<input type="hidden" name="project_name" value="Site Name">
					<input type="hidden" name="admin_email" value="rikoshet013@gmail.com">
					<input type="hidden" name="form_subject" value="Form Subject">
					<!-- END Hidden Required Fields -->

					<input type="text" name="Имя" class="subscribe__input" placeholder="Имя">
					<input type="tel" name="Телефон" class="subscribe__input" placeholder="Телефон*" required>
					<input type="email" name="E-mail адрес" class="subscribe__input" placeholder="E-mail*" required>
					<button class="subscribe__button g-main-button g-main-button--red">Подписаться</button>
				</form>
				<p class="subscribe__notice">Никакого спама. Только актуальная и полезная информация о наших акциях и специальных предложениях</p>
			</div>
		</div>
	</div>
</section>