/* Content */
.spanning {
	clear: both;
}

//Tabs
.tabs {
	font-size: 0;
	border-bottom: 1px solid $slgr;
	li {
		position: relative;
		top: 1px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;
		border: 1px solid transparent;
		border-radius: 5px 5px 0 0;
		background: $bg;
		&.active {
			border-color: $slgr;
			border-bottom-color: $w;
			background: $w;
		}
	}
	.tab-link {
		padding: 0 20px;
		font-size: rem(18);
		line-height: 32 / 18 * 1;
		color: $text;
	}
}

//Pagination
.pagination {
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 4px;
		border-radius: 4px;
		background: $w;
		&:first-child {
			margin-left: 0;
		}
		&.active {
			background: $text;
			> a {
				color: $w;
			}
		}
	}
	a {
		display: block;
		@include size(35px 30px);
		font-size: rem(16);
		line-height: 30px;
		text-align: center;
	}
}