/* Home */

//Slider
.slider {
	margin-bottom: 90px;
}

.slide-content {
	position: relative;
	z-index: 2;
	padding: 50px 30px 0;
}

.slide-content-icon {
	font-size: rem(30);
	color: $s;
}

.slide-content-descr {
	margin-bottom: 20px;
	font-weight: $font-bold;
	line-height: 24 / 16 * 1;
}

.slide-content-info {
	font-size: rem(40);
	line-height: 1.5;
	font-weight: $font-bold;
	color: $s;
	span {
		text-transform: uppercase;
	}
}

//Categories section
.categories-section {
	padding-bottom: 35px;
}

.categories-title {
	margin-bottom: 30px;
}

.category {
	margin-bottom: 20px;
}

.category-link {
	display: block;
	img {
		width: 100%;
		height: auto;
	}
	&:hover {
		.category-name {
			color: $p;
		}
	}
}

.category-name {
	display: block;
	margin-top: 14px;
	min-height: 50px;
	font-size: rem(18);
	font-weight: $font-bold;
	text-transform: uppercase;
	color: $text;
	@include transition(color $df, background-color $df, border-color $df);
}

//Shops section
.shops-section {
	padding-bottom: 20px;
}

.shops-title {
	margin-bottom: 20px;
}

.shop {
	margin-bottom: 20px;
	height: 130px;
	text-align: center;
}

.shop-link {
	display: block;
}

//Brands section
.brands-section {
	padding: 75px 0 45px;
	background: $bg;
}

.brands-title {
	margin-bottom: 20px;
	span {
		text-transform: uppercase;
	}
}

.brands-list {
	a {
		font-size: rem(24);
		line-height: 32 / 24 * 1;
		font-weight: $font-light;
		&:hover {
			color: $p;
		}
	}
}

//Tags section
.tags-section {
	padding: 78px 0 80px;
}

.tags-title {
	margin-bottom: 25px;
}

.tags-list {
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		margin-right: 24px;
		&:last-child {
			margin-left: 0;
		}
	}
	a {
		display: block;
		&:hover {
			color: $p;
		}
	}
}