/* Sidebar */
.search-filter {
	margin-bottom: 20px;
	min-width: 230px;
	padding: 5px 0 25px;
	border: 1px solid $slgr;
	border-radius: 10px;
}

.reset-filter-btn {
	display: block;
	margin: 0 auto 7px;
	border: none;
	outline: none;
	@include size(200px 51px);
	border-radius: 25px;
	text-transform: uppercase;
	color: $w;
	background: $slgr;
}

//Filter accordion
.filter-accordion-btn {
	display: block;
	margin-bottom: 3px;
	padding-left: 20px;
	width: 100%;
	border: none;
	border-top: 1px solid $slgr;
	border-bottom: 1px solid $slgr;
	outline: none;
	line-height: 2;
	font-weight: $font-bold;
	text-align: left;
	text-transform: uppercase;
	background: $bg;
	i {
		margin-right: 7px;
	}
	.icon-minus {
		display: none;
	}
	&.active {
		.icon-minus {
			display: inline;
		}
		.icon-plus {
			display: none;
		}
	}
}

.filter-accordion-panel {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	@include transition(all .25s ease-in-out);
	&.show {
		// overflow: auto;
		opacity: 1;
		max-height: 300px;
	}
}

.filter-accordion-content {
	padding: 15px 20px;
}

//Price filter
.noUi-horizontal {
	height: 8px;
	.noUi-handle {
		top: -5px; left: -8px;
		@include size(16px);
		border: 1px solid $w;
		border-radius: 50%;
		cursor: pointer;
		background: $lr;
		box-shadow: none;
		&:before,
		&:after {
			display: none;
		}
	}
}

.noUi-target {
	border-radius: 0;
	cursor: pointer;
	background: $w;
	box-shadow: none;
}

.noUi-connect {
	background: $lr;
}

.price-filter-values {
	li {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 10px;
		}
	}
}

.price-filter-value {
	margin-right: 5px;
	font-weight: $font-bold;
	color: $s;
	&:hover {
		color: $p;
	}
}

.filter-result-number {
	font-size: rem(12);
	color: $lt;
}

.price-slider-values {
	input {
		border-radius: 4px;
	}
}

.price-slider-value {
	margin-bottom: 15px;
	padding: 0 10px;
	width: 80px;
	border: 1px solid $slgr;
	line-height: 28 / 16 * 1;
	text-align: center;
	color: $lt;
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.price-slider-value-1 { float: right; }
.price-slider-value-2 { float: left; }

.price-slider {
	margin-bottom: 15px;
}

.filter-checkbox {
	label {
		padding-left: 25px;
		line-height: 28 / 16 * 1;
		color: $lt;
	}
}

//Responsive sidebar
@media screen and (min-width: 1281px) and (max-width: 1600px) {
	.search-filter {
		min-width: 200px;
	}
	.reset-filter-btn {
		width: 190px;
	}
	.price-slider-value {
		width: 70px;
	}
}