*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: 3px solid red;
}
body input:required:valid,
body textarea:required:valid {
	border: 3px solid green;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header-topline {
	background-color: #43484c;
	padding: 15px 0;
	color: #fff;
}

.header-topline a {
	color: #fff;
}

.top-links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}

.top-links a {
	text-decoration: underline;
}

.top-links a:hover {
	text-decoration: none;
}

.soc-buttons {
	float: right;
}

.soc-buttons > a {
	font-size: 26px;
	margin-left: 8px;
}

.auth-buttons,
.main-menu-button {
	border: none;
	background-color: transparent;
	font-size: 26px;
}

.main-menu-button {
	color: #fff;
	padding: 8px 15px 0;
}

.logo {
	display: block;
	padding: 15px 0; 
	color: #fff;
	font-family: "NautilusPompiliusRegular";
	font-size: 42px;
	text-align: center;
}

.top-header {
	background-color: #4aaad2;
}

.main-menu {
	background-color: #3797bf;
	color: #fff;
	margin-bottom: 20px;
}

.main-menu a {
	color: #fff;
	padding: 15px;
	display: block;
	-webkit-transition: all.25s;
	-o-transition: all.25s;
	transition: all.25s;
}

.main-menu a:hover {
	background-color: #2787af;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	z-index: 12;
	position: relative;
}

.top-contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787af;
	line-height: 53px;
}

.main-menu ul li {
	display: inline-block;
}

h1 {
	font-family: "RobotoCondensedLight";
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.slider-container img {
	max-width: 100%;
}

.slider-container {
	position: relative;
}

.prev_button,
.next_button {
	color: #eee;
	font-size: 46px;
	position: absolute;
	top: 40%;
	z-index: 10;
	cursor: pointer;
	background-color: rgba(208, 208, 208, .2);
	border-radius: 10em;
}

.next_button {
	padding: 0 23px 5px 28px;
	right: 20px;
}

.prev_button {
	padding: 0 28px 5px 23px;
	left: 20px;
}

section.order {
	background-color: #eee;
	padding: 25px 0;
}

.sell-description {
	font-size: 22px;
	padding-top: 5px;
}

.sell-right .button {
	float: right;
}

.button {
	display: block;
	border: none;
	background-color: #2bc6a4;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
}

.button:hover {
	background-color: #4feac8;
}

.button:active {
	background-color: #14af8d;
}

.hidden {
	display: none;
}

.pop-form input[type=text] {
	display: block;
	width: 90%;
	line-height: 24px;
	margin: 0 auto 12px;
	border: 1px solid #999;
}

.pop-form .button {
	margin: 20px auto 0;
	padding: 5px 10px;
}

.pop-form h3 {
	margin: 10px auto 15px;
	text-align: center;
	font-weight: normal;
	font-family: "RobotoCondensedBold";
	text-transform: uppercase;
}

.field {
	padding: 3% 0;
	background-color: #4aaad2;
}

.blog-item img {
	max-width: 100%;
	margin-bottom: 20px;
}

.blog-item h3 {
	text-transform: uppercase;
	font-family: "RobotoCondensedRegular";
	margin-bottom: 10px;
}

.blog-item h3 a {
	text-decoration: underline;
}

.blog-item p {
	margin: 0;
}

.right-aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #eee;
	margin-top: 30px;
}

.right-aside ul {
	list-style: none;
}

.right-aside ul li {
	margin-bottom: 3px;
}

.right-aside a:hover {
	color: #2bc6a4;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.footer {
	background: #4aaad2;
	color: #fff;
	margin-top: 25px;
}

/* .footer .copyright {
	float: right;
	display: inline;
	vertical-align: middle;
} */

.last-step {
	margin-left: 40px;
}

hr {
	margin: 5px 0;
}

.footer ul {
	list-style: none;
}

.footer a {
	margin-bottom: 3px;
	color: #fff;
}

.footer a:hover {
	color: #ccc;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
