/* Header */
.page-header {
	padding-bottom: 23px;
	border-bottom: 1px solid $slgr;
	background: $bg;
}

.page-header-top {
	margin-bottom: 21px;
	padding-top: 6px;
	font-weight: $font-light;
	color: $lt;
	background: $w;
}

.page-header-descr {
	margin-top: 9px;
}

.menu {
	float: right;
	a {
		display: inline-block;
		font-size: rem(18);
		line-height: 32px;
		font-weight: $font-light;
		color: $lt;
	}
	& > li {
		float: left;
		margin-left: 25px;
		position: relative;
		z-index: 333;
		&:first-child {
			margin-left: 0;
		}
		&.favorite {
			> a {
				color: $s;
			}
		}
	}
}

.geo-input-wrap {
	margin-top: -2px;
}

.geo-input {
	display: inline-block;
	max-width: 120px;
	border: none;
	outline: none;
	font-size: rem(18);
	line-height: 32px;
	font-weight: $font-light;
	color: $lt;
	background: transparent;
	@include placeholder {
		font-weight: $font-light;
		opacity: 1;
	}
}

.page-header-icon {
	position: relative;
	top: 2px;
	margin-right: 3px;
	font-size: rem(24);
	line-height: 32px;
}

.icon-marker:before {
	font-size: rem(28);
}

.page-header-add {
	margin-right: 7px;
	> i {
		margin-right: 10px;
	}
}

.page-header-enter {
	position: relative;
	padding-left: 7px;
	&:before {
		content: '';
		position: absolute;
		top: 50%; left: 0;
		margin-top: -13px;
		@include size(1px 25px);
		opacity: .26;
		background: $lt;
	}
}

.logo {
	min-width: 190px;
	text-transform: uppercase;
	font-size: rem(22);
	font-weight: $font-light;
	a {
		display: inline-block;
		vertical-align: middle;
		line-height: 63px;
		white-space: nowrap;
	}
	.logo-img {
		display: inline-block;
		@include size(63px);
		border-radius: 50%;
		font-weight: $font-black;
		text-align: center;
		color: $w;
		background: $p;
	}
}

.main-search {
	float: right;
	margin-top: 6px;
	width: 100%;
	input {
		float: left;
		margin-right: 2%;
		padding: 14px 25px;
		width: 86%;
		height: 51px;
		border: 2px solid $p;
		outline: none;
		border-radius: 25px;
		font-size: rem(18);
	}
}

.main-search-btn {
	float: right;
	width: 12%;
}
