/* Popups styles */
.popup {
	position: fixed;
	top: 50%; left: 50%;
	z-index: 2001;
	margin: -200px 0 0 -220px;
	@include size(440px 400px);
	border-radius: 5px;
	color: $lt;
	background: $w;
	box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.3);
}

.popup-title {
	padding: 31px 0;
	line-height: 16 / 30 * 1;
	text-align: center;
	color: $w;
	background: $s;
}

.popup-content {
	padding: 25px 30px;
}

.popup-info {
	margin-bottom: 25px;
	line-height: 1.2;
	a {
		color: $light-red;
	}
}

.popup-form {
	text-align: center;
	input {
		padding: 0 25px;
		@include size(100% 51px);
		border: 2px solid $slgr;
		border-radius: 25px;
		background: $w;
	}
}

.popup-btn {
	padding: 0 32px;
	background: $light-red;
	@include transition(background $df);
	&:active,
	&:hover {
		background: $red;
	}
}

.popup-success-message {
	margin-bottom: 10px;
	line-height: 24 / 16 * 1;
	text-align: center;
	color: $text;
}

.success-enter-link {
	display: block;
	margin: 0 auto 15px;
	max-width: 100px;
	font-size: rem(24);
	line-height: 32 / 24 * 1;
	text-align: center;
	color: $s;
}

.popup-remember-checkbox,
.forget-password-link {
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	font-size: rem(18);
	line-height: 32 / 18 * 1;
	font-weight: $font-light;
}

.popup-remember-checkbox {
	padding-left: 20px;
	text-align: left;
	label {
		padding-left: 25px;
	}
	input {
		margin: 0;
		@include size(auto);
	}
}

.forget-password-link {
	text-align: right;
	a {
		color: $s;
	}
}

.popup-register {
	.popup-form {
		input {
			margin-bottom: 35px;
		}
	}
}

.popup-success {
	.popup-info {
		margin-bottom: 10px;
	}
	.popup-btn {
		display: block;
		margin: 0 auto;
		padding: 0 55px;
		max-width: 134px;
	}
}

.popup-enter {
	.popup-form {
		input {
			margin-bottom: 15px;
		}
	}
	.popup-btn {
		margin-bottom: 20px;
		display: block;
		margin: 0 auto;
		padding: 0 38px;
		max-width: 134px;
	}
	.no-register-link,
	.add-shop-link {
		font-size: rem(18);
		line-height: 32 / 18 * 1;
		font-weight: $font-light;
	}
	.add-shop-link {
		margin-left: 10px;
		color: $s;
		i {
			margin-right: 5px;
		}
	}
}

/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.5; }

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }

.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box; }

.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }

.mfp-align-top .mfp-container:before {
	display: none; }

.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; }

.mfp-hide,
.mfp-preloader {
	display: none !important; }

button::-moz-focus-inner {
	padding: 0;
	border: 0; }

.mfp-close {
	@include size(30px);
	line-height: 28px;
	position: absolute;
	top: -15px; right: -15px;
	border: 2px solid $w;
	outline: none;
	border-radius: 50%;
	font-size: rem(26);
	font-weight: $font-black;
	text-decoration: none;
	text-align: center;
	color: $w;
	background: $b;
}