$footer: 400px;

$fontSize: 16px;
$lineHeight: 1.4;
$fontFamily: 'Lato', sans-serif;                   $ff: $fontFamily;

$durationFunction: 0.15s ease-in-out;      $df: $durationFunction;

$primary: #ff5722;                $p: $primary;
$secondary: #299ea6;              $s: $secondary;
$text: #333;                      $t: $text;
$light-text: #777;                $lt: $light-text;
$background: #f4f4f4;             $bg: $background;
// $link: #00c;                      $l: $link;
// $link-hover: #c00;                $lh: $link-hover;

$white: #fff;                     $w: $white;
$black: #000;                     $b: $black;
$dark-gray: #4d4d4d;              $dgr: $dark-gray;
$super-light-gray: #c8c8c8;       $slgr: $super-light-gray;
$light-red: #de3e17;              $lr: $light-red;
$red: #c12600;                    $r: $red;
$transparent: transparent;        $tr: $transparent;

$gray: #5a5a5a;                   $gr: $gray;
$light-gray: #666;                $lgr: $light-gray;
$green: #0c3;                     $gn: $green;

$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-heavy: 800;
$font-black: 900;