
.icon-rouble:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-spin1:before { content: '\e803'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-vkontakte:before { content: '\e805'; } /* '' */
.icon-facebook-squared:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-star-empty-1:before { content: '\e808'; } /* '' */
.icon-twitter-circled:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-hammer:before { content: '\e80b'; } /* '' */
.icon-dollar:before { content: '\e80c'; } /* '' */
.icon-gauge:before { content: '\e80d'; } /* '' */
.icon-tools:before { content: '\e80e'; } /* '' */
.icon-wrench-1:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e813'; } /* '' */
.icon-hourglass:before { content: '\e816'; } /* '' */
.icon-shield:before { content: '\e817'; } /* '' */
.icon-database:before { content: '\e818'; } /* '' */
.icon-resize-normal:before { content: '\e819'; } /* '' */
.icon-coverflow-empty:before { content: '\e81b'; } /* '' */
.icon-resize-small:before { content: '\e81c'; } /* '' */
.icon-water:before { content: '\e81d'; } /* '' */
.icon-skyatlas:before { content: '\e81e'; } /* '' */
.icon-color-adjust:before { content: '\e81f'; } /* '' */
.icon-brush:before { content: '\e820'; } /* '' */
.icon-brush-1:before { content: '\e821'; } /* '' */
.icon-bucket:before { content: '\e822'; } /* '' */
.icon-heart-empty:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-cog-alt:before { content: '\e825'; } /* '' */
.icon-droplet:before { content: '\e827'; } /* '' */
.icon-phone-1:before { content: '\e82b'; } /* '' */
.icon-location-1:before { content: '\e82c'; } /* '' */