<!DOCTYPE HTML>
<html lang="ru">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Home login</title>
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<meta name="msapplication-TileImage" content="og-logo.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="application-name" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="og-logo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/respond.js"></script>
	<![endif]-->
</head>
<body class="no-js">
	<div class="main">
		<header class="page-header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-3 col-md-3 col-sm-4">
						<div class="logo">
							<a href="/" itemprop="url"><img src="images/logo.png" alt="" itemprop="image"></a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
						<div class="photo-counter" itemscope itemtype="http://schema.org/Thing">
							<a href="#" itemprop="url">
								<span class="photo-counter-img"><img src="images/icons/icon-photo-counter.png" alt="" itemprop="image"></span>
								<span class="photo-counter-info" itemprop="description">Загружено 12 фото</span>
							</a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-6 col-lg-7 col-md-7 col-sm-5">
						<div>
							<div class="page-header-top clearfix">
								<div class="header-phones" itemscope itemtype="http://schema.org/Thing">
									<div itemprop="description">+38 (050) 728 76 54</div>
									<div itemprop="description">+38 (067) 938 71 09</div>
								</div>
								<div class="print-order" itemscope itemtype="http://schema.org/Offer">
									<a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a>
								</div>
								<div class="logout" itemscope itemtype="http://schema.org/Thing">
									<a href="#" class="logout-link" itemprop="url"><img src="images/icons/icon-logout.png" alt="" itemprop="image"> <span>Выйти</span></a>
								</div>
							</div>
							<div class="page-header-menu">
								<nav class="navigation clearfix" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<a href="#" class="menu-toggle" itemprop="url">
										<span class="menu-toggle-icon"></span>
									</a>
									<div class="navigation-drop">
										<div class="menu-wrapper clearfix">
											<ul class="menu clearfix">
												<li class="active"><a href="#" itemprop="url">Как сделать заказ</a></li>
												<li><a href="#" itemprop="url">Доставка</a></li>
												<li><a href="#" itemprop="url"><span>Faq</span></a></li>
												<li><a href="#" itemprop="url">Контакты</a></li>
												<li class="hidden-lg-up"><a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a></li>
												<li class="hidden-md-up">
													<div class="header-phones-mobile" itemscope itemtype="http://schema.org/Thing">
														<div itemprop="description">+38 (050) 728 76 54</div>
														<div itemprop="description">+38 (067) 938 71 09</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<!-- /.navigation-drop -->
								</nav>
								<!-- /.navigation -->
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</header>
		<!-- /.page-header -->
		<div class="spanning">
			<div class="section-product">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-sm-12">
							<div class="section-product-info" itemscope itemtype="http://schema.org/Product">
								<h3 class="section-product-title title-3" itemprop="name">Название продукта</h3>
								<div class="section-product-subtitle" itemprop="offers">Описание в двух словах, что это такое и как работает</div>
								<p class="section-product-descr" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-lg-6 col-md-7 col-sm-12">
							<div class="section-product-video" itemscope itemtype="http://schema.org/Thing">
								<iframe width="520" height="285" src="https://www.youtube.com/embed/Q0nDQOrBx4A" class="product-video-item" allowfullscreen></iframe>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-product -->
			<div class="section-test" itemscope itemtype="http://schema.org/Offer">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<h3 class="section-test-title title-3" itemprop="name">Хотите просто распечатать свои фотографии, не выходя из дома?</h3>
							<p class="section-test-descr" itemprop="description">Наш сервис даёт Вам возможность заказать печать Ваших фото, не вставая с дивана. <br>Это займет всего несколько минут и совершенно бесплатно!</p>
							<a href="#" class="section-test-btn btn" itemprop="url">Пройдите тест-драйв</a>
						</div>
						<!-- /.col -->
						<div class="col-xl-6 col-lg-6 col-md-12">
							<div class="section-test-logo hidden-md-down">
								<img src="images/logo.png" alt="" itemprop="image">
							</div>
							<div class="section-test-photos clearfix">
								<div class="test-photos-camera">
									<img src="images/camera.png" alt="" itemprop="image">
								</div>
								<div class="test-photos-items">
									<img src="images/test-photos.png" alt="" itemprop="image">
								</div>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-test -->
			<div class="section-review">
				<div class="bg-element"></div>
				<div class="title-center">
					<h2 class="section-review-title title-2"><span class="review-title-inner">Отзывы</span></h2>
				</div>
				<div class="reviews-slider">
					<div class="reviews-item" itemscope itemtype="http://schema.org/Person">
						<div class="review-author-photo"><img src="images/review-author-1.jpg" alt="" itemprop="image"></div>
						<div class="review-author-info" itemprop="name">Екатерина <span class="review-date">(25.09.2016г.)</span></div>
						<div class="review-text" itemprop="description">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
					</div>
					<!-- /.reviews-item -->
					<div class="reviews-item" itemscope itemtype="http://schema.org/Person">
						<div class="review-author-photo"><img src="images/review-author-2.jpg" alt="" itemprop="image"></div>
						<div class="review-author-info" itemprop="name">Сергей <span class="review-date">(25.09.2016г.)</span></div>
						<div class="review-text" itemprop="description">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
					</div>
					<!-- /.reviews-item -->
					<div class="reviews-item" itemscope itemtype="http://schema.org/Person">
						<div class="review-author-photo"><img src="images/review-author-3.jpg" alt="" itemprop="image"></div>
						<div class="review-author-info" itemprop="name">Александра <span class="review-date">(25.09.2016г.)</span></div>
						<div class="review-text" itemprop="description">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
					</div>
					<!-- /.reviews-item -->
					<div class="reviews-item" itemscope itemtype="http://schema.org/Person">
						<div class="review-author-photo"><img src="images/review-author-2.jpg" alt="" itemprop="image"></div>
						<div class="review-author-info" itemprop="name">Сергей <span class="review-date">(25.09.2016г.)</span></div>
						<div class="review-text" itemprop="description">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
					</div>
					<!-- /.reviews-item -->
					<div class="reviews-item" itemscope itemtype="http://schema.org/Person">
						<div class="review-author-photo"><img src="images/review-author-3.jpg" alt="" itemprop="image"></div>
						<div class="review-author-info" itemprop="name">Александра <span class="review-date">(25.09.2016г.)</span></div>
						<div class="review-text" itemprop="description">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
					</div>
					<!-- /.reviews-item -->
				</div>
				<!-- /.reviews-slider -->
			</div>
			<!-- /.section-review -->
			<div class="section-services">
				<div class="title-center">
					<h2 class="section-services-title title-2">
						<span class="services-title-inner">Наш сервис - это</span>
					</h2>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="service" itemscope itemtype="http://schema.org/Service">
								<div class="service-img service-img-circle">
									<img src="images/service-icon-1.jpg" alt="" itemprop="image">
								</div>
								<div class="service-item-descr" itemprop="description">Качественная печать фото</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-lg-3 col-md-6">
							<div class="service" itemscope itemtype="http://schema.org/Service">
								<div class="service-img">
									<img src="images/service-icon-2.jpg" class="service-img-circle" alt="" itemprop="image">
								</div>
								<div class="service-item-descr" itemprop="description">Быстрое обслуживание</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-lg-3 col-md-6">
							<div class="service" itemscope itemtype="http://schema.org/Service">
								<div class="service-img">
									<img src="images/service-icon-3.jpg" alt="" itemprop="image">
								</div>
								<div class="service-item-descr" itemprop="description">Удобный заказ</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-lg-3 col-md-6">
							<div class="service">
								<div class="service-img service-img-circle">
									<img src="images/service-icon-4.jpg" class="service-img-circle" alt="">
								</div>
								<div class="service-item-descr two-line">Самостоятельный выбор формата и размера фото</div>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-service -->
			<div class="section-delivery">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-delivery-item" itemscope itemtype="http://schema.org/Service">
								<h2 class="section-delivery-title title-2" itemprop="name"><span class="delivery-title-inner">Доставка</span></h2>
								<p class="delivery-descr" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-6">
							<div class="section-delivery-item" itemscope itemtype="http://schema.org/Service">
								<h2 class="section-delivery-title title-2" itemprop="name"><span class="delivery-title-inner">Оплата</span></h2>
								<p class="delivery-descr" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.ror -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-delivery -->
			<div class="section-blog">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="section-blog-item">
								<div class="blog-item-preview">
									<a href="#"><img src="images/blog-item-img-1.jpg" alt=""></a>
								</div>
								<div class="blog-item-info">
									<h4 class="blog-item-title"><a href="#">Здесь будет заголовок</a></h4>
									<p class="blog-item-descr">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель...</p>
									<div class="blog-item-date">04  October, 2016</div>
								</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-4">
							<div class="section-blog-item">
								<div class="blog-item-preview">
									<a href="#"><img src="images/blog-item-img-2.jpg" alt=""></a>
								</div>
								<div class="blog-item-info">
									<h4 class="blog-item-title"><a href="#">Здесь будет заголовок</a></h4>
									<p class="blog-item-descr">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель...</p>
									<div class="blog-item-date">04  October, 2016</div>
								</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-4">
							<div class="section-blog-item">
								<div class="blog-item-preview">
									<a href="#"><img src="images/blog-item-img-3.jpg" alt=""></a>
								</div>
								<div class="blog-item-info">
									<h4 class="blog-item-title"><a href="#">Здесь будет заголовок</a></h4>
									<p class="blog-item-descr">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. Рыбный текст также известен как текст-заполнитель...</p>
									<div class="blog-item-date">04  October, 2016</div>
								</div>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-blog -->
			<div class="section-contact">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-12">
							<div class="section-contact-info" itemscope itemtype="http://schema.org/Organization">
								<div class="section-contact-icon"><img src="images/icons/icon-section-contact.png" alt="" itemprop="logo"></div>
								<div class="section-contact-phones" itemprop="name">
									<div class="section-contact-phone" itemprop="telephone">+38 (050) 728 76 54</div>
									<div class="section-contact-phone" itemprop="telephone">+38 (067) 938 71 09</div>
								</div>
								<div class="section-contact-address" itemprop="address">г. Одесса, ул. Мечникова, д.108</div>
								<a href="#" class="section-contact-btn btn" itemprop="url">Заказать печать</a>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-xl-7 col-lg-6 col-md-12 clearfix">
							<div id="map" class="map" itemscope itemtype="http://schema.org/Map"></div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-contact -->
		</div>
		<!-- /.spanning-columns -->
	</div>
	<!-- /.main -->
	<footer class="page-footer" itemscope itemtype="http://schema.org/WPFooter">>
		<div class="page-footer-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-4 col-md-8 col-sm-7 col-xs-12">
						<div class="page-footer-copyright" itemprop="text">&copy; Все права защищены | <span itemprop="copyrightYear">2016</span></div>
					</div>
					<!-- /.col -->
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="scl-block clearfix">
							<ul>
								<li><a href="#" class="scl-icon scl-icon-inst" itemprop="url">inst</a></li>
								<li><a href="#" class="scl-icon scl-icon-vk" itemprop="url">vk</a></li>
								<li><a href="#" class="scl-icon scl-icon-fb" itemprop="url">fb</a></li>
								<li><a href="#" class="scl-icon scl-icon-gp" itemprop="url">gp</a></li>
								<li><a href="#" class="scl-icon scl-icon-tw" itemprop="url">tw</a></li>
							</ul>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.page-footer-content -->
	</footer>
	<!-- /.page-footer -->
	<script src="js/jquery.js"></script>
	<script src="js/library.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH7oNMIDrv8AETiAkVBXny1XTmPoCZ-3s" defer></script>
	<script src="js/script.js"></script>
</body>
</html>