<!DOCTYPE HTML>
<html lang="ru">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Photo upload</title>
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<meta name="msapplication-TileImage" content="og-logo.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="application-name" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="og-logo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/respond.js"></script>
	<![endif]-->
</head>
<body class="no-js">
	<div class="main">
		<header class="page-header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-3 col-md-3 col-sm-4">
						<div class="logo">
							<a href="/" itemprop="url"><img src="images/logo.png" alt="" itemprop="image"></a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
						<div class="photo-counter" itemscope itemtype="http://schema.org/Thing">
							<a href="#" itemprop="url">
								<span class="photo-counter-img"><img src="images/icons/icon-photo-counter.png" alt="" itemprop="image"></span>
								<span class="photo-counter-info" itemprop="description">Загружено 12 фото</span>
							</a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-6 col-lg-7 col-md-7 col-sm-5">
						<div>
							<div class="page-header-top clearfix">
								<div class="header-phones" itemscope itemtype="http://schema.org/Thing">
									<div itemprop="description">+38 (050) 728 76 54</div>
									<div itemprop="description">+38 (067) 938 71 09</div>
								</div>
								<div class="print-order" itemscope itemtype="http://schema.org/Offer">
									<a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a>
								</div>
								<div class="logout" itemscope itemtype="http://schema.org/Thing">
									<a href="#" class="logout-link" itemprop="url"><img src="images/icons/icon-logout.png" alt="" itemprop="image"> <span>Выйти</span></a>
								</div>
							</div>
							<div class="page-header-menu">
								<nav class="navigation clearfix" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<a href="#" class="menu-toggle" itemprop="url">
										<span class="menu-toggle-icon"></span>
									</a>
									<div class="navigation-drop">
										<div class="menu-wrapper clearfix">
											<ul class="menu clearfix">
												<li class="active"><a href="#" itemprop="url">Как сделать заказ</a></li>
												<li><a href="#" itemprop="url">Доставка</a></li>
												<li><a href="#" itemprop="url"><span>Faq</span></a></li>
												<li><a href="#" itemprop="url">Контакты</a></li>
												<li class="hidden-lg-up"><a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a></li>
												<li class="hidden-md-up">
													<div class="header-phones-mobile" itemscope itemtype="http://schema.org/Thing">
														<div itemprop="description">+38 (050) 728 76 54</div>
														<div itemprop="description">+38 (067) 938 71 09</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<!-- /.navigation-drop -->
								</nav>
								<!-- /.navigation -->
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</header>
		<!-- /.page-header -->
		<div class="spanning">
			<div class="photo-upload-content" itemscope itemtype="http://schema.org/WebPage">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb" itemprop="breadcrumb">
								<li><a href="#" itemprop="url">Главная</a></li>
								<li><a href="#" itemprop="url">Мой кабинет</a></li>
								<li class="active">Новый заказ</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div class="row">
						<div class="col-md-12">
							<ul class="content-menu page-menu">
								<li class="active"><a href="#">Новый заказ</a></li>
								<li><a href="#">Профиль</a></li>
								<li><a href="#">Мои заказы</a></li>
								<li><a href="#">Мой счёт</a></li>
								<li><a href="#">Написать отзыв</a></li>
							</ul>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div class="row">
						<div class="col-md-12 clearfix">
							<ul class="step-nav page-menu">
								<li class="active"><a href="#">Загрузка фото</a></li>
								<li>Параметры печати</li>
								<li>Расчет стоимости</li>
								<li class="disabled">Оплата / Доставка</li>
							</ul>
							<a href="#" class="back-step-btn btn">На шаг назад</a>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="photo-upload-title title-3 title-center">Загрузите Ваши фото удобным для Вас способом</h3>
							<div class="upload-btn-wrap">
								<form>
									<button class="upload-btn btn">Загрузить с компьютера</button>
									<button class="upload-btn btn">Загрузить по ссылке</button>
								</form>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="uploaded-photos">
								<div class="uploaded-photos-container">
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-1.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-2.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo upload-photo-error">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-2.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-error-message">Ошибка при загрузке</div>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-3.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-warning-message">
												<span class="upload-warning-icon">!</span>
												<button class="upload-tooltip-btn tooltip-btn">?
												</button>
												<div class="upload-tooltip tooltip">Слишком низкое качество <span>jpeg</span>-сжатия </div>
											</div>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-4.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-5.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-6.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-7.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-8.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-9.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-10.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-11.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-12.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-13.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
										</div>
									</div>
									<div class="uploaded-photo upload-photo-loading">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-13.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-photo-preloader"><img src="images/icons/icon-preloader.png" alt=""></div>
										</div>
									</div>
									<div class="uploaded-photo upload-photo-loading">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-13.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-photo-preloader"><img src="images/icons/icon-preloader.png" alt=""></div>
										</div>
									</div>
									<div class="uploaded-photo upload-photo-loading">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-13.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-photo-preloader"><img src="images/icons/icon-preloader.png" alt=""></div>
										</div>
									</div>
									<div class="uploaded-photo upload-photo-loading">
										<div class="uploaded-photo-inner">
											<img src="images/uploaded-photos/uploaded-photo-13.jpg" alt="">
											<a href="#" class="uploaded-photo-del">&times;</a>
											<div class="upload-photo-preloader"><img src="images/icons/icon-preloader.png" alt=""></div>
										</div>
									</div>
								</div>
								<!-- /.uploaded-photos-container -->
							</div>
							<!-- /.uploaded-photos -->
							<a href="#" class="print-parameters-btn btn">Указать параметры печати</a>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.photo-upload-content -->
			<div class="section-contact hide-before">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-12">
							<div class="section-contact-info" itemscope itemtype="http://schema.org/Organization">
								<div class="section-contact-icon"><img src="images/icons/icon-section-contact.png" alt="" itemprop="logo"></div>
								<div class="section-contact-phones" itemprop="name">
									<div class="section-contact-phone" itemprop="telephone">+38 (050) 728 76 54</div>
									<div class="section-contact-phone" itemprop="telephone">+38 (067) 938 71 09</div>
								</div>
								<div class="section-contact-address" itemprop="address">г. Одесса, ул. Мечникова, д.108</div>
								<a href="#" class="section-contact-btn btn" itemprop="url">Заказать печать</a>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-xl-7 col-lg-6 col-md-12 clearfix">
							<div id="map" class="map" itemscope itemtype="http://schema.org/Map"></div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-contact -->
		</div>
		<!-- /.spanning-columns -->
	</div>
	<!-- /.main -->
	<footer class="page-footer" itemscope itemtype="http://schema.org/WPFooter">>
		<div class="page-footer-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-4 col-md-8 col-sm-7 col-xs-12">
						<div class="page-footer-copyright" itemprop="text">&copy; Все права защищены | <span itemprop="copyrightYear">2016</span></div>
					</div>
					<!-- /.col -->
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="scl-block clearfix">
							<ul>
								<li><a href="#" class="scl-icon scl-icon-inst" itemprop="url">inst</a></li>
								<li><a href="#" class="scl-icon scl-icon-vk" itemprop="url">vk</a></li>
								<li><a href="#" class="scl-icon scl-icon-fb" itemprop="url">fb</a></li>
								<li><a href="#" class="scl-icon scl-icon-gp" itemprop="url">gp</a></li>
								<li><a href="#" class="scl-icon scl-icon-tw" itemprop="url">tw</a></li>
							</ul>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.page-footer-content -->
	</footer>
	<!-- /.page-footer -->
	<script src="js/jquery.js"></script>
	<script src="js/library.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH7oNMIDrv8AETiAkVBXny1XTmPoCZ-3s" defer></script>
	<script src="js/script.js"></script>
</body>
</html>