<!DOCTYPE HTML>
<html lang="ru">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Test drive</title>
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<meta name="msapplication-TileImage" content="og-logo.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="application-name" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="og-logo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
			<script src="js/respond.js"></script>
	<![endif]-->
</head>
<body class="no-js">
	<div class="main">
		<header class="page-header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-3 col-md-3 col-sm-4">
						<div class="logo">
							<a href="/" itemprop="url"><img src="images/logo.png" alt="" itemprop="image"></a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
						<div class="photo-counter" itemscope itemtype="http://schema.org/Thing">
							<a href="#" itemprop="url">
								<span class="photo-counter-img"><img src="images/icons/icon-photo-counter.png" alt="" itemprop="image"></span>
								<span class="photo-counter-info" itemprop="description">Загружено 12 фото</span>
							</a>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xl-6 col-lg-7 col-md-7 col-sm-5">
						<div>
							<div class="page-header-top clearfix">
								<div class="header-phones" itemscope itemtype="http://schema.org/Thing">
									<div itemprop="description">+38 (050) 728 76 54</div>
									<div itemprop="description">+38 (067) 938 71 09</div>
								</div>
								<div class="print-order" itemscope itemtype="http://schema.org/Offer">
									<a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a>
								</div>
								<div class="logout" itemscope itemtype="http://schema.org/Thing">
									<a href="#" class="logout-link" itemprop="url"><img src="images/icons/icon-logout.png" alt="" itemprop="image"> <span>Выйти</span></a>
								</div>
							</div>
							<div class="page-header-menu">
								<nav class="navigation clearfix" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<a href="#" class="menu-toggle" itemprop="url">
										<span class="menu-toggle-icon"></span>
									</a>
									<div class="navigation-drop">
										<div class="menu-wrapper clearfix">
											<ul class="menu clearfix">
												<li class="active"><a href="#" itemprop="url">Как сделать заказ</a></li>
												<li><a href="#" itemprop="url">Доставка</a></li>
												<li><a href="#" itemprop="url"><span>Faq</span></a></li>
												<li><a href="#" itemprop="url">Контакты</a></li>
												<li class="hidden-lg-up"><a href="#" class="btn-print-order btn" itemprop="url">Заказать печать</a></li>
												<li class="hidden-md-up">
													<div class="header-phones-mobile" itemscope itemtype="http://schema.org/Thing">
														<div itemprop="description">+38 (050) 728 76 54</div>
														<div itemprop="description">+38 (067) 938 71 09</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<!-- /.navigation-drop -->
								</nav>
								<!-- /.navigation -->
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</header>
		<!-- /.page-header -->
		<div class="spanning">
			<div class="test-drive-content" itemscope itemtype="http://schema.org/WebPage">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb" itemprop="breadcrumb">
								<li><a href="#" itemprop="url">Главная</a></li>
								<li class="active">Тест-драйв</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
							<div class="test-drive-info">
								<h3 class="test-drive-title title-3 title-center">Название продукта</h3>
								<div class="test-drive-subtitle">Описание в двух словах, что это такое и как работает</div>
								<p class="test-drive-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
							</div>
							<!-- /.test-drive-info -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
				<div class="photo-container-wrap">
					<form>
						<div class="photo-container">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="photo-container-top">
											<div class="photo-container-checkbox checkbox">
												<input id="photo-container-checkbox-1" type="checkbox" name="photo-container-checkbox">
												<label for="photo-container-checkbox-1" class="photo-container-label"></label>
											</div>
											<span class="photo-container-badge">10 x 15</span>
											<span class="photo-container-badge">Глянцевая</span>
											<span class="photo-container-badge">3 шт.</span>
											<button class="photo-container-del"></button>
											<div class="tooltip-wrap-1 product-tooltip-wrap">
												<button class="product-tooltip-btn tooltip-btn">?</button>
												<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
											</div>
											<div class="tooltip-wrap-2 product-tooltip-wrap">
												<button class="product-tooltip-btn tooltip-btn">?</button>
												<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
											</div>
											<div class="tooltip-wrap-3 product-tooltip-wrap">
												<button class="product-tooltip-btn tooltip-btn">?</button>
												<div class="product-tooltip-right product-tooltip tooltip">Текст текст текст</div>
											</div>
										</div>
										<!-- /.photo-container-top -->
										<div class="photo-container-content clearfix">
											<div class="photo-container-img">
												<a href="#"><img src="images/print-photos/print-photo-1.jpg" alt=""></a>
												<a href="#" class="img-modal-btn">Предпросмотр</a>
												<div class="tooltip-wrap-4 product-tooltip-wrap">
													<button class="product-tooltip-btn tooltip-btn">?</button>
													<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
												</div>
											</div>
											<div class="photo-container-parameters clearfix">
												<div class="photo-col photo-col-1">
													<div class="photo-parameter">
														<div class="photo-parameter-text">Размер бумаги:</div>
														<div class="select-wrap">
															<select class="select">
																<option value="1">10x15</option>
																<option value="2">15X25</option>
																<option value="3">95X135</option>
															</select>
														</div>
														<div class="tooltip-wrap-5 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="photo-parameter">
														<div class="photo-parameter-text">Тип бумаги:</div>
														<div class="select-wrap">
															<select class="select">
																<option value="1">Глянцевая</option>
																<option value="2">Матовая</option>
																<option value="3">Матовая</option>
															</select>
														</div>
														<div class="tooltip-wrap-6 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="photo-parameter">
														<div class="photo-parameter-text">Количество копий</div>
														<div class="counter-input">
															<input type="number" class="copies-counter-input" value="1" readonly>
															<button class="copies-minus-btn counter-minus-btn counter-btn">-</button>
															<button class="copies-plus-btn counter-plus-btn counter-btn">+</button>
														</div>
														<div class="tooltip-wrap-7 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="photo-parameter">
														<div class="photo-parameter-text">Поля фотографии</div>
														<div class="counter-input">
															<input type="number" class="fields-counter-input" value="0" readonly>
															<button class="fields-minus-btn counter-minus-btn counter-btn">-</button>
															<button class="fields-plus-btn counter-plus-btn counter-btn">+</button>
														</div>
														<div class="tooltip-wrap-8 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-left product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
												</div>
												<!-- /.col-1 -->
												<div class="photo-col photo-col-2">
													<div class="photo-parameter photo-textarea-wrap">
														<div class="photo-parameter-text">Подпись к фотографии</div>
														<textarea class="photo-parameter-textarea" placeholder="Введите текст подписи..."></textarea>
														<div class="tooltip-wrap-9 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-right product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="photo-parameter">
														<div class="select-wrap">
															<select class="select">
																<option value="1">Arial</option>
																<option value="2">Times New Roman</option>
																<option value="3">Helvetica</option>
															</select>
														</div>
													</div>
													<div class="photo-parameter clearfix">
														<div class="font-size-select select-wrap">
															<select class="select">
																<option value="1">14</option>
																<option value="2">16</option>
																<option value="3">22</option>
															</select>
														</div>
														<div class="font-style-buttons">
															<button class="font-bold-btn font-style-btn active">B</button>
															<button class="font-italic-btn font-style-btn">I</button>
															<button class="font-underline-btn font-style-btn">U</button>
														</div>
													</div>
												</div>
												<!-- /.col-2 -->
												<div class="photo-col photo-col-3">
													<div class="photo-parameter photo-date-wrap">
														<div class="photo-date-checkbox checkbox">
															<input id="photo-date-checkbox-1" type="checkbox" name="photo-date-checkbox">
															<label for="photo-date-checkbox-1" class="photo-date-label">Печатать дату</label>
														</div>
														<div class="tooltip-wrap-10 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-right product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="photo-parameter photo-dateformat-wrap">
														<div class="select-wrap">
															<select class="dateformat-select select">
																<option value="1">День / Месяц / Год</option>
																<option value="2">Год / День / Месяц</option>
															</select>
														</div>
													</div>
													<div class="photo-parameter">
														<div class="photo-coords-checkbox checkbox">
															<input id="photo-coords-checkbox-1" type="checkbox" name="photo-coords-checkbox" checked>
															<label for="photo-coords-checkbox-1" class="photo-coords-label">Печатать координаты</label>
														</div>
														<div class="tooltip-wrap-11 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-right product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
													<div class="product-btn-wrap">
														<a href="#" class="photo-container-btn btn">Создать копию <br>с другими параметрами</a>
														<div class="tooltip-wrap-12 product-tooltip-wrap">
															<button class="product-tooltip-btn tooltip-btn">?</button>
															<div class="product-tooltip-right product-tooltip tooltip">Текст текст текст</div>
														</div>
													</div>
												</div>
												<!-- /.col-3 -->
											</div>
											<!-- /.photo-container-parameters -->
										</div>
										<!-- /.photo-container-content -->
									</div>
									<!-- /.col -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.container -->
						</div>
						<!-- /.photo-container -->
					</form>
				</div>
				<!-- /.photo-container-wrap -->
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="product-cost">
								<div class="product-cost-title">Стоимость Вашего заказа:</div>
								<div class="product-cost-table">
									<table>
										<tr>
											<td class="product-col-1">Количество:</td>
											<td class="product-col-2">1 шт.</td>
										</tr>
										<tr>
											<td class="product-col-1">Бумага:</td>
											<td class="product-col-2">Глянцевая</td>
										</tr>
										<tr>
											<td class="product-col-1">Размер:</td>
											<td class="product-col-2">10 х 15</td>
										</tr>
									</table>
								</div>
								<!-- /.product-cost-table -->
								<div class="product-cost-total">7 грн</div>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-md-6">
							<div class="register-info">
								<p class="register-info-text">Для того, что бы заказать печать Ваших фото с выбранными Вами параметрами, необходимо зарегистрироваться.</p>
								<a href="#" class="register-info-btn btn">Зарегистрироваться</a>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.test-drive-content -->
			<div class="section-contact hide-before">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-12">
							<div class="section-contact-info" itemscope itemtype="http://schema.org/Organization">
								<div class="section-contact-icon"><img src="images/icons/icon-section-contact.png" alt="" itemprop="logo"></div>
								<div class="section-contact-phones" itemprop="name">
									<div class="section-contact-phone" itemprop="telephone">+38 (050) 728 76 54</div>
									<div class="section-contact-phone" itemprop="telephone">+38 (067) 938 71 09</div>
								</div>
								<div class="section-contact-address" itemprop="address">г. Одесса, ул. Мечникова, д.108</div>
								<a href="#" class="section-contact-btn btn" itemprop="url">Заказать печать</a>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-xl-7 col-lg-6 col-md-12 clearfix">
							<div id="map" class="map" itemscope itemtype="http://schema.org/Map"></div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.section-contact -->
		</div>
		<!-- /.spanning-columns -->
	</div>
	<!-- /.main -->
	<footer class="page-footer" itemscope itemtype="http://schema.org/WPFooter">>
		<div class="page-footer-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-4 col-lg-4 col-md-8 col-sm-7 col-xs-12">
						<div class="page-footer-copyright" itemprop="text">&copy; Все права защищены | <span itemprop="copyrightYear">2016</span></div>
					</div>
					<!-- /.col -->
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="scl-block clearfix">
							<ul>
								<li><a href="#" class="scl-icon scl-icon-inst" itemprop="url">inst</a></li>
								<li><a href="#" class="scl-icon scl-icon-vk" itemprop="url">vk</a></li>
								<li><a href="#" class="scl-icon scl-icon-fb" itemprop="url">fb</a></li>
								<li><a href="#" class="scl-icon scl-icon-gp" itemprop="url">gp</a></li>
								<li><a href="#" class="scl-icon scl-icon-tw" itemprop="url">tw</a></li>
							</ul>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.page-footer-content -->
	</footer>
	<!-- /.page-footer -->
	<script src="js/jquery.js"></script>
	<script src="js/library.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH7oNMIDrv8AETiAkVBXny1XTmPoCZ-3s" defer></script>
	<script src="js/script.js"></script>
</body>
</html>