@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OswaldLight/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldLight/Oswald-Light.woff") format("woff"), url("../fonts/OswaldLight/Oswald-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OswaldRegular/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldRegular/Oswald-Regular.woff") format("woff"), url("../fonts/OswaldRegular/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OswaldBold/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OswaldBold/Oswald-Bold.woff") format("woff"), url("../fonts/OswaldBold/Oswald-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/Fontello/fontello.eot?36843895');
  src: url('../fonts/Fontello/fontello.eot?36843895#iefix') format('embedded-opentype'),
       url('../fonts/Fontello/fontello.woff?36843895') format('woff'),
       url('../fonts/Fontello/fontello.ttf?36843895') format('truetype'),
       url('../fonts/Fontello/fontello.svg?36843895#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
