<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>FooseShoes</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="libs/owl/assets/owl.carousel.css" />
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/skins/green.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>

<body>
	<div class="loader">
		<div class="loader_inner"></div>
	</div>
	<div class="wrapper">
		<header>
			<div class="top-line">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="logo">
								<a href="#">Foose<span>shoes</span></a>
							</div>
						</div>
						<div class="col-md-8">
							<div class="right-side">
								<div class="search">
									<form class="search-form hidden">
									<div class="search-wrap">
										<input type="search" name="q" class="search-string" placeholder="Search something..." autofocus>
										<button type="submit" class="search-btn" value="" ><i class="fa fa-search srch"></i></button>
									</div>
							   	</form>
							   	<a href="#" class="main-srch"><i class="fa fa-search"></i></a>
								</div>
								<div class="login">
									<a href="#">Login <span>or</span> Register</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-line">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-3">
							<nav class="main-menu">
								<button class="main-menu-button hidden-sm hidden-md hidden-lg">
									<i class="fa fa-bars"></i>
								</button>
								<ul class="clearfix">
									<li><a href="#">Home</a></li>
									<li><a href="#">Products</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Pages</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-9">
							<div class="order clearfix">
								<ul>
									<li>
										<a href="#">
											<div class="order-item">
												<i class="fa fa-star-o"></i>
												<span>30</span>
											</div>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="order-item">
												<i class="fa fa-shopping-cart"></i>
												<span class="goods-number">0</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-wrapper">
				<div class="slider" data-stellar-background-ratio="0.5">
					<div class="carousel">
				    <div class="owl-carousel">
				      <div class="slider-item">
				      	<img src="img/sl-it-1.jpg" alt="SLide" />
	      				<div class="slider-text">
					      	<div class="container">
					      		<div class="row">
					      			<div class="col-md-6"></div>
					      			<div class="col-md-6">
												<div class="slider-item-cost">$144.99</div>
												<a href="#"><h2>Great Topsiders 2015 collection</h2></a>
												<p>It then elucidates how these tools have been fruitfully applied in econometrics to reach the goals of partial identification analysis.</p>
												<div class="product-buttons">
													<a href="#"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-star-o"></i></a>
													<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
												</div>
											</div>
				      			</div>
				      		</div>
				      	</div>
			      	</div>
				      <div class="slider-item">
				      	<img src="img/sl-it-2.jpg" alt="SLide" />
				      	<div class="slider-text">
					      	<div class="container">
					      		<div class="row">
					      			<div class="col-md-6"></div>
					      			<div class="col-md-6">
												<div class="slider-item-cost">$199.99</div>
												<a href="#"><h2>Perfect deserts 2015 collection</h2></a>
												<p>Distrusts an it contented perceived attending oh. Thoroughly estimating introduced stimulated why but motionless.</p>
												<div class="product-buttons">
													<a href="#"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-star-o"></i></a>
													<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
												</div>
											</div>
				      			</div>
				      		</div>
				      	</div>
			      	</div>
				      <div class="slider-item">
				      	<img src="img/sl-it-3.jpg" alt="SLide" />
				      	<div class="slider-text">
					      	<div class="container">
					      		<div class="row">
					      			<div class="col-md-6"></div>
					      			<div class="col-md-6">
												<div class="slider-item-cost">$109.99</div>
												<a href="#"><h2>Beautiful sneakers 2015 collection</h2></a>
												<p>Absolute required of reserved in offering no. How sense found our those gay again taken the. Had mrs outweigh desirous sex overcame.</p>
												<div class="product-buttons">
													<a href="#"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-star-o"></i></a>
													<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
												</div>
											</div>
				      			</div>
				      		</div>
				      	</div>
			      	</div>
				      <div class="slider-item">
				      	<img src="img/sl-it-4.jpg" alt="SLide" />
				      	<div class="slider-text">
					      	<div class="container">
					      		<div class="row">
					      			<div class="col-md-6"></div>
					      			<div class="col-md-6">
												<div class="slider-item-cost">$84.99</div>
												<a href="#"><h2>Awesome plimsols 2015 collection</h2></a>
												<p>Answer misery adieus add wooded how nay men before though. Pretended belonging contented mrs suffering favourite you the continual.</p>
												<div class="product-buttons">
													<a href="#"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-star-o"></i></a>
													<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
												</div>
											</div>
				      			</div>
				      		</div>
				      	</div>
			      	</div>
				      <div class="slider-item">
				      	<img src="img/sl-it-5.jpg" alt="SLide" />
				      	<div class="slider-text">
					      	<div class="container">
					      		<div class="row">
					      			<div class="col-md-6"></div>
					      			<div class="col-md-6">
												<div class="slider-item-cost">$204.99</div>
												<a href="#"><h2>Exclusive boots 2015 collection</h2></a>
												<p>Parties all clothes removal cheered calling prudent her. Mean if he they been no hold mr. Is at much do made took held help.</p>
												<div class="product-buttons">
													<a href="#"><i class="fa fa-eye"></i></a>
													<a href="#"><i class="fa fa-star-o"></i></a>
													<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
												</div>
											</div>
				      			</div>
				      		</div>
				      	</div>
			      	</div>
				    </div>
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="pagination-block">
										<div class="pagination-item">
											<a href="#" >Great Topsiders</a>
											<p>Now at $144.99</p>
										</div>
										<div class="pagination-item">
											<a href="#">Perfect Deserts</a>
											<p>Summer is coming</p>
										</div>
										<div class="pagination-item">
											<a href="#">Beautiful Sneakers</a>
											<p>All colors available</p>
										</div>
										<div class="pagination-item">
											<a href="#">Awesome Plimsols</a>
											<p>Free Delivery</p>
										</div>
										<div class="pagination-item">
											<a href="#" >Exclusive Boots</a>
											<p>Limited Edition</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="offers">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="offers-item of-item-1">
							<div class="of-item-content"><a href="#">On sale</a></div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="offers-item of-item-2">
							<div class="of-item-content"><a href="#">Special offers</a></div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="offers-item of-item-3">
							<div class="of-item-content"><a href="#">Must have</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="catalog">
			<div class="container">
				<div class="catalog-arrivals">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-9">
							<h3>New arrivals on FooseShoes</h3>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<a href="#">Show All</a>
						</div>
					</div>
					<div class="row">
						<div class="catalog-items">
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-1">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/ar-it-1.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Kenneth Cole</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>
									
									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Kenneth Cole</h3>
												<p>Impact evaluation based on randomized controlled trials (RCTs) offers a powerful tool that has fundamentally reshaped development economics by offering novel solutions to long-standing problems of weak causal identification.</p>
												<img src="img/ar-it-1.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-2">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/ar-it-2.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Diesel</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down buy"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>
									<div class="catalog-item-sale">On sale!</div>

									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Diesel</h3>
												<p>Nonetheless, RCTs suffer important and underappreciated pitfalls, some of which are intrinsic to the method when applied to economic problems, others that are the result of methodological boosterism.</p>
												<img src="img/ar-it-2.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-3">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/ar-it-3.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Michael Kors</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>
									
									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Michael Kors</h3>
												<p>I believe that a carbon tax could someday win bipartisan support.  But before it does so, those on the left will need to convince those on the right that the tax would be a tax shift, not a tax increase.</p>
												<img src="img/ar-it-3.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog-sellers">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-9">
							<h3>Best sellers of the month</h3>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<a href="#">Show All</a>
						</div>
					</div>
					<div class="row">
						<div class="catalog-items">
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-1">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/sel-it-1.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Hugo Boss</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>

									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Hugo Boss</h3>
												<p>The carbon tax needs to be evaluated on its own merits and should not be a stalking horse for a broader, big-government agenda. As a result, if you strongly believe in proposition 1 and are trying to put together a coalition to make it happen, marrying it to proposition 2 is not the best move.</p>
												<img src="img/sel-it-1.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-2">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/sel-it-2.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Roberto Cavalli</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>

									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Roberto Cavalli</h3>
												<p>Unless it is politically profitable for the wrong people to do the right thing, the right people will not do the right thing either, or if they try, they will shortly be out of office.</p>
												<img src="img/sel-it-2.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="catalog-item catalog-item-3">
									<div class="catalog-item-container">
										<a href="#" class="popup-content"><img src="img/sel-it-3.JPG" alt="Shoes"></a>
									</div>
									<div class="catalog-item-name"><p>Tretorn</p></div>
									<div class="catalog-buttons">
										<a href="#"><i class="fa fa-cart-arrow-down"></i></a>
										<a href="#"><i class="fa fa-star-o"></i></a>
										<a href="#" class="popup-content"><i class="fa fa-eye"></i></a>
									</div>
									<div class="catalog-item-cost">$144.99</div>
									<div class="catalog-item-stock">Out of stock</div>

									<div class="hidden">
										<div class="catalog-descr">
											<div class="modal-box-content">
												<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
												<h3>Tretorn</h3>
												<p>Sen. Bernie Sanders, whose liberal call to action has propelled his long-shot presidential campaign, is proposing an array of new programs that would amount to the largest peacetime expansion of government in modern American history.</p>
												<img src="img/sel-it-3.JPG" alt="Alt" />
												<a href="#" class="buy">Buy it</a>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="catalog-info">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="catalog-info-item">
									<h4>Free shipping</h4>
									<p>Kept in sent gave feel will oh it we. Has pleasure procured men laughing shutters nay. Old insipidity motionless continuing law shy partiality. Depending acuteness dependent eat use dejection.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="catalog-info-item">
									<h4>Testimonials</h4>
									<p>Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an. Change wholly say why eldest period.</p>
									<p class="consumer-name"><em>- Richard Davis -</em></p>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="catalog-info-item">
									<h4>Blog news</h4>
									<div class="row">
										<div class="blog-date">apr 01</div>
										<div class="blog-news">
											<p><a href="#">Nice &amp; clean. The best for you blog!</a></p>
											<p>Gravity letters it amongst herself dearest an windows.</p>
										</div>
									</div>
									<div class="row">
										<div class="blog-date">dec 03</div>
										<div class="blog-news">
											<p><a href="#">What an Ecommerce theme!</a></p>
											<p>My little garret repair to desire he esteem.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="social-wrap">
			<div class="widgets">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="widget txt-widget">
								<h4>Text widget</h4>
								<p>Saying given meat two green the divided don't own gathered cattle fowl. And forth a so you'll. Divide wherein beginning them grass very face heaven. It don't were Gathering winged herb can't. Good itself gathered forth our moving don't beginning wherein.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="widget tw-widget">
								<h4>Twitter widget</h4>
								<div class="tw-post">
									<p><a href="#">@johndoe</a> Why thank you. Your work looks awesome by the way! <a href="#">@richarddavis</a></p>
									<p>19 days ago</p>
								</div>
								<p><a href="#">@meganfox</a> You can seek a refund through TF if it is not as advertised - but it is :)</p>
								<p>21 days ago</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="widget flckr-widget">
								<h4>Flickr widget</h4>
								<a href="#"><img src="img/flickr.png" alt="Flickr"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="social-content">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-1 col-md-5 col-sm-6">
							<div class="send-mail">
								<form class="mail-form" action="//formspree.io/rikoshet013@gmail.com" target="_blank" method="POST">
									<div class="mail-wrap">
										<input type="email" name="email" class="mail-field" data-validation-email-message="E-mail address is wrong" required placeholder="Enter email for newsletter">
										<span class="help-block text-danger"></span>
										<button type="submit" class="mail-btn" value=""><i class="fa fa-chevron-right"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="social-buttons">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="footer-content">
						<div class="col-md-6 col-sm-4">
							<div class="rights">
								<p>Copyright &copy; FooseShoes 2015</p>
								<p>Made by <a href="#">Alex Negodiaev</a></p>
							</div>
						</div>
						<div class="col-md-6 col-sm-8">
							<nav class="footer-menu clearfix hidden-xs">
								<ul class="clearfix">
									<li><a href="#">Home </a><span>/</span></li>
									<li><a href="#">Support </a><span>/</span></li>
									<li><a href="#">Terms and Conditions </a><span>/</span></li>
									<li><a href="#">Faqs </a><span>/</span></li>
									<li><a href="#">Contact us</a><span></span></li>
								</ul>
							</nav>
							<nav class="footer-menu f-menu hidden-lg hidden-md hidden-sm clearfix">
								<ul class="clearfix">
									<li><a href="#">Home</a></li>
									<li><a href="#">Support</a></li>
									<li><a href="#">Terms and Conditions</a></li>
									<li><a href="#">Faqs</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="hidden"></div>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<!-- Add scripts -->
	<script src="libs/jquery/jquery-2.1.3.min.js"></script>
	<script src="libs/owl/owl.carousel.min.js"></script>
	<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="libs/jqBootstrapValidation/jqBootstrapValidation.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->

</body>
</html>