<!-- begin FOOTER -->
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="#"><i class="my my-a scl-icon i-fb"></i></a>
				<a href="#"><i class="my my-b scl-icon i-tw"></i></a>
				<a href="#"><i class="my my-c scl-icon i-gp"></i></a>
				<a href="#"><i class="my my-d scl-icon i-pt"></i></a>
				<a href="#"><i class="my my-e scl-icon i-ig"></i></a>
				<a href="#"><i class="my my-f scl-icon i-su"></i></a>
				<a href="#"><i class="my my-g scl-icon i-rss"></i></a>
				<p>&copy; 2015 Axure Themes</p>
			</div>
		</div>
	</div>
</footer>
<!-- end FOOTER -->


<!-- begin Success message -->
<div id="success-message" class="success-wrap">
	<div class="success-close-button">x</div>
	<div class="success-icon"></div>
	<p><span>Поздравляем</span> сообщение отправлено!</p>
</div>
<!-- end Success message -->

<script src="js/main.js"></script>
</body>
</html>