<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Победа</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="css/normalize/normalize.min.css" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="libs/owl/assets/owl.carousel.css" />
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="libs/animate/animate.min.css">
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
	
	<div id="wrapper-for-up" class="wrapper">
		
		<div class="small-menu-wrapper hidden-lg hidden-md hidden-sm">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a href="#" class="menu-mini hidden-lg hidden-md hidden-sm">Меню</a>
						<nav class="small-menu">
							<ul>
								<li><a href="#">Главная</a></li>
								<li><a href="#p-services">Услуги для граждан</a></li>
								<li><a href="#b-services">Услуги для бизнеса</a></li>
								<li><a href="#how-work">Как мы работаем</a></li>
								<li><a href="#about-us">Выполненные задачи</a></li>
								<li><a href="#contacts">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		
		<header class="plx">
			<!-- data-stellar-background-ratio="0.7" -->
			<div class="info-block hidden-xs">				
				<div class="menu-line">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<nav class="main-menu hidden-xs">
									<ul>
										<li><a href="#">Главная</a></li>
										<li><a href="#p-services">Услуги для граждан</a></li>
										<li><a href="#b-services">Услуги для бизнеса</a></li>
										<li><a href="#how-work">Как мы работаем</a></li>
										<li><a href="#about-us">Выполненные задачи</a></li>
										<li><a href="#contacts">Контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="info-line">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href="#" class="logo-link">
									<div class="logo">
										<div class="logo-text">
											<span>Победа</span>
											<p>Центр правового обслуживания</p>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="address">
									<div class="address-text">
										<p>г. Казань,</p>
										<p>ул. Закиева, д. 3а, офис 10</p>
										<p><span>Пн-Пт: 9.00 - 18.00</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="phone">
									<p><span>+7(843)</span>239-43-14</p>
									<a href="#hidden-form-block" class="popup-form">Заказать звонок</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<div class="header-info">
							<p class="wow fadeInLeft" data-wow-delay="0.2s">Ваша Победа - Наша работа!</p>
							<h1 class="wow fadeInLeft" data-wow-delay="0.5s">Юридические услуги</h1>
							<span class="wow fadeInLeft" data-wow-delay="1s">Для граждан и организаций</span>
						</div>
					</div>
					<div class="col-md-5 hidden-sm hidden-xs clearfix">
						<div class="main-form-block wow flipInY" data-wow-delay="1.7s">
							<p><span>Записаться</span><br>на консультацию</p>
							<form id="main-form" action="//formspree.io/rikoshet013@gmail.com" method="POST">
								<div class="input-wrapper name-input-wrapper clearfix">
									<span class="input-icon name-icon"></span>
									<input type="text" name="name" data-validation-required-message="You didn't enter your name" required placeholder="Ваше имя" />
								</div>
								<div class="input-wrapper phone-input-wrapper clearfix">
									<span class="input-icon phone-icon"></span>
									<input type="tel" name="phone" data-validation-required-message="You didn't enter your phone number" required placeholder="Ваш телефон" />
								</div>
								<button type="submit" value="Send">Отправить заявку</button>
								<p class="notice">* Ваши данные не будут переданы третьим лицам</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<a href="#hidden-form-block" class="header-extra-button double-button popup-form wow fadeInUp">Записаться на консультацию</a>

		</header>

		<section id="p-services" class="services p-services">
			<h2>Услуги для граждан</h2>
			<div class="title-line"></div>
			<div class="services-wrapper">
				<div class="s-wrapper-block s-top-block"></div>
				<div class="s-vertical-line s-top-line"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-1.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Представление интересов в суде</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-2.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Представление интересов в службе судебных приставов</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-3.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Снижение налогов на недвижимое имущество</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-4.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Регистрация права собственности</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-5.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Оценка имущества</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/people-services/p-service-6.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Оформление наследства</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="s-wrapper-block s-bottom-block"></div>
				<div class="s-vertical-line s-bottom-line"></div>

				<div class="hidden">
					<div id="hidden-form-block">
						<p><span>Записаться</span><br>на консультацию</p>
						<form id="hidden-form" action="//formspree.io/rikoshet013@gmail.com" method="POST">
							<div class="input-wrapper name-input-wrapper clearfix">
								<span class="input-icon name-icon"></span>
								<input type="text" name="name" data-validation-required-message="You didn't enter your name" required placeholder="Ваше имя" />
							</div>
							<div class="input-wrapper phone-input-wrapper clearfix">
								<span class="input-icon phone-icon"></span>
								<input type="tel" name="phone" data-validation-required-message="You didn't enter your phone number" required placeholder="Ваш телефон" />
							</div>
							<button type="submit" value="Send">Отправить заявку</button>
							<p class="notice">* Ваши данные не будут переданы третьим лицам</p>
						</form>
					</div>
				</div>	

			</div>
			<a href="#hidden-form-block" class="double-button popup-form wow fadeInUp">Записаться на консультацию</a>
		</section>
		
		<section id="b-services" class="services b-services">
			<h2>Услуги для бизнеса</h2>
			<div class="title-line"></div>
			<div class="services-wrapper">
				<div class="s-wrapper-block s-top-block"></div>
				<div class="s-vertical-line s-top-line"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-1.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Представление интересов в арбитражном суде</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-2.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Юридическое и бухгалтерское обслуживание</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-3.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Представление интересов в службе судебных приставов</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-4.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Договорная работа</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-5.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Корпоративное право</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-6.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Регистрация организаций и ИП</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-7.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Банкротство</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-8.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>Оценка имущества, снижение налогов на недвижимое имущество</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 services-item-wrapper">
							<img src="img/business-services/b-service-9.jpg" alt="Img" />
							<div class="service-text-wrapper">
								<div class="service-text">
									<h3>лицензирование и разрешения</h3>
								</div>
							</div>
							<div class="services-item-inner">
								<div class="services-item-content">
									<ul>
										<li>Регистрация права собственности</li>
										<li>Узаконение самовольных построек</li>
										<li>Споры по установлению границ земельного участка</li>
									</ul>
									<a href="#hidden-form-block" class="popup-form">Узнать об услуге</a>
									<span>от 7 000 руб.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="s-wrapper-block s-bottom-block"></div>
				<div class="s-vertical-line s-bottom-line"></div>
			</div>
			<a href="#hidden-form-block" class="double-button popup-form wow fadeInUp">Записаться на консультацию</a>
		</section>
		
		<section id="how-work" class="how-work plx">
			<h2>Как мы работаем</h2>
			<div class="title-line"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-item clearfix wow fadeInLeft" data-wow-delay="0.2s">
							<span class="big-circle">1</span><p class="no-uppercase">Заявка или звонок</p>
						</div>
						<div class="how-work-item clearfix wow fadeInLeft" data-wow-delay="0.4s">
							<span class="big-circle">2</span><p>Консультация</p>
						</div>
						<div class="how-work-item clearfix wow fadeInLeft" data-wow-delay="0.6s">
							<span class="big-circle">3</span><p>Анализ ситуации и документов</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-item clearfix wow fadeInRight" data-wow-delay="1s">
							<span class="big-circle">4</span><p>Предоставление плана действий и прогнозирование результатов</p>
						</div>
						<div class="how-work-item clearfix wow fadeInRight" data-wow-delay="1.2s">
							<span class="big-circle">5</span><p>Выполнение задачи</p>
						</div>
						<div class="how-work-item clearfix wow fadeInRight" data-wow-delay="1.5s">
							<span class="big-circle">6</span><p>Ваша победа!</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="some-questions">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Остались вопросы?</h2>
						<div class="title-line"></div>
						<p>отправьте заявку</p>
						<p>и мы ответим на все Ваши вопросы:</p>
						<form id="second-form" action="//formspree.io/rikoshet013@gmail.com" method="POST" class="clearfix">
								<div class="input-wrapper name-input-wrapper clearfix">
									<span class="input-icon name-icon"></span>
									<input type="text" name="name" data-validation-required-message="You didn't enter your name" required placeholder="Ваше имя" />
								</div>
								<div class="input-wrapper phone-input-wrapper clearfix">
									<span class="input-icon phone-icon"></span>
									<input type="tel" name="phone" data-validation-required-message="You didn't enter your phone number" required placeholder="Ваш телефон" />
								</div>
								<button type="submit" value="Send" class="wow fadeInRight">Отправить заявку</button>
								<p class="notice">* Ваши данные не будут переданы третьим лицам</p>
							</form>
					</div>
				</div>
			</div>
		</section>

		<section id="about-us" class="about-us plx">
			<h2>Выполненные задачи</h2>
			<div class="title-line"></div>

		    <div id="owl-example" class="owl-carousel">
		      <div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
	      	<div class="carousel-item">
		      	<a href="img/about-item-example.jpg" class="popup"><img src="img/about-item-example.jpg" alt="Img"></a>
	      	</div>
		    </div>

	    <h2>Отзывы клиентов</h2>
			<div class="title-line"></div>

			<div id="owl-comments" class="client-comments">
				<div class="comment-block">
					<div class="client-photo">
						<img src="img/client-photo-1.png" alt="Client-photo">
					</div>
					<p class="comment-text">Хочу выразить искреннюю благодарность юристу центра за помощь в реструктуризации кредита и компенсации страховки по кредиту. Вы меня просто спасли! <br> Так же отдельное спасибо секретарю за чуткость и понимание.</p>
					<div class="comment-line"></div>
					<p class="comment-author">Михаил Варнаков, ООО &quot;Успех&quot;</p>
				</div>
				<div class="comment-block">
					<div class="client-photo">
						<img src="img/client-photo-1.png" alt="Client-photo">
					</div>
					<p class="comment-text">Хочу выразить искреннюю благодарность юристу центра за помощь в реструктуризации кредита и компенсации страховки по кредиту. Вы меня просто спасли! <br> Так же отдельное спасибо секретарю за чуткость и понимание.</p>
					<div class="comment-line"></div>
					<p class="comment-author">Михаил Варнаков, ООО &quot;Успех&quot;</p>
				</div>
				<div class="comment-block">
					<div class="client-photo">
						<img src="img/client-photo-1.png" alt="Client-photo">
					</div>
					<p class="comment-text">Хочу выразить искреннюю благодарность юристу центра за помощь в реструктуризации кредита и компенсации страховки по кредиту. Вы меня просто спасли! <br> Так же отдельное спасибо секретарю за чуткость и понимание.</p>
					<div class="comment-line"></div>
					<p class="comment-author">Михаил Варнаков, ООО &quot;Успех&quot;</p>
				</div>
			</div>

		</section>
		
		<section id="contacts" class="contacts">
			<div id="map"></div>
			<div class="contacts-content">
				<div class="container for-up-button">
					<div class="row">
						<div class="col-md-6 col-sm-5 col-xs-12 for-hid">
							<h2>Наш адрес</h2>
							<div class="title-line"></div>
							<div class="address-block">
								<div class="company-name">Центр правового обслуживания <br> <span>&quot;Победа&quot;</span> </div>
								<p>г. Казань, <br> ул. Закиева, д. 3а, офис 10</p>
								<p>Пн-Пт: 9.00 - 18.00</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-7 col-xs-12">
							<div class="main-form-block">
								<p><span>Записаться</span><br>на консультацию</p>
								<form id="main-form" action="//formspree.io/rikoshet013@gmail.com" method="POST">
									<div class="input-wrapper name-input-wrapper clearfix">
										<span class="input-icon name-icon"></span>
										<input type="text" name="name" data-validation-required-message="You didn't enter your name" required placeholder="Ваше имя" />
									</div>
									<div class="input-wrapper phone-input-wrapper clearfix">
										<span class="input-icon phone-icon"></span>
										<input type="tel" name="phone" data-validation-required-message="You didn't enter your phone number" required placeholder="Ваш телефон" />
									</div>
									<button type="submit" velue="Send">Отправить заявку</button>
									<p class="notice">* Ваши данные не будут переданы третьим лицам</p>
								</form>
							</div>
						</div>
					</div>

			<a href="#wrapper-for-up" class="up-link"><div class="up-button"></div></a>
				</div>
			</div>

			<footer>
				<div class="info-line">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<a href="#" class="logo-link">
										<div class="logo">
											<div class="logo-text">
												<span>Победа</span>
												<p>Центр правового обслуживания</p>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="address">
										<div class="address-text">
											<p>г. Казань,</p>
											<p>ул. Закиева, д. 3а, офис 10</p>
											<p><span>Пн-Пт: 9.00 - 18.00</span></p>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="phone">
										<p><span>+7(843)</span>239-43-14</p>
										<a href="#hidden-form-block" class="popup-form wow bounceInUp" data-wow-delay="0.25s">Заказать звонок</a>
									</div>
								</div>
							</div>
							<div style="font-size:14px;" class="hidden"><p>2015 © Центр правового обслуживания "Победа"</p><a class="development" href="http://white-image.com/">Разработка сайта: Белый Имидж</a></div>
						</div>
					</div>
			</footer>
		</section>

	</div>

	<div class="hidden"></div>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<!-- Add scripts -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="libs/jquery/jquery-2.1.3.min.js"></script>
	<script src="libs/stellar/jquery.stellar.min.js"></script>
	<script src="libs/animate/wow.min.js"></script>
	<script src="libs/scroll2id/PageScroll2id.min.js"></script>
	<script src="libs/owl/owl.carousel.min.js"></script>
	<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="libs/jqBootstrapValidation/jqBootstrapValidation.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="libs/maskedinput/maskedinput.min.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>