<header class="main-header">
	<div class="container menu">
		<div class="logo-block">
			<div class="logo-wrap">
			</div>
			<a href="index.html"><img src="img/logo.png" alt="Smartkart logo" class="logo-wrap__logo"></a>
		</div>
		
		<!-- Hidden-menu starts -->
		<div class="small-menu-wrapper hidden-lg hidden-md hidden-sm">
			<div class="row">
				<div class="col-xs-12">
					<div class="small-menu-inner clearfix">
						<p class="menu__phones">
							<i class="lnr lnr-phone-handset menu__phone-icon"></i>
							<span class="menu__phone-number">+38 (093) 184 95 50</span>
							<span class="menu__phone-number">+38 (098) 260 49 10</span>
						</p>
						<a href="#alert-register-form" class="menu__callback-link alert-form-show">Заказать обратный звонок</a>
						<form action="#" class="menu__search-form">
							<input type="text" class="menu__search-input">
							<button class="menu__search-button">
								<i class="lnr lnr-magnifier menu__search-icon"></i>
							</button>
						</form>
						<a href="#" class="small-menu__button small-menu__button--header hidden-lg hidden-md hidden-sm"><span class="lnr lnr-menu small-menu__button-burger"></span></a>
					</div>
					<nav class="small-menu__navigation small-menu__navigation--header g-hide">
						<ul class="navigation__list">
							<li class="navigation__list-item">
								<a href="index.html#s-history" class="navigation__link">O! Smartkart</a>
							</li>
							<li class="navigation__list-item">
								<a href="index.html#s-cost" class="navigation__link">Цены</a>
							</li>
							<li class="navigation__list-item">
								<a href="index.html#s-offers" class="navigation__link">Акции</a>
							</li>
							<li class="navigation__list-item">
								<a href="index.html#s-features" class="navigation__link">Фишки</a>
							</li>
							<li class="navigation__list-item">
								<a href="index.html#s-services" class="navigation__link">Smart-услуги</a>
							</li>
							<li class="navigation__list-item">
								<a href="index.html#s-photogallery" class="navigation__link">Галерея</a>
							</li>
						</ul>
						<ul class="navigation__list">
							<li class="navigation__list-item navigation__second-list-item">
								<a href="page-example.html" class="navigation__link">Smartkart news</a>
							</li>
							<li class="navigation__list-item navigation__second-list-item">
								<a href="index.html#s-corporate" class="navigation__link">Мероприятия</a>
							</li>
							<li class="navigation__list-item navigation__second-list-item">
								<a href="index.html#s-other-services" class="navigation__link">Детский клуб</a>
							</li>
							<li class="navigation__list-item navigation__second-list-item">
								<a href="index.html#s-sport-karting" class="navigation__link">Спортивный картинг</a>
							</li>
							<li class="navigation__list-item navigation__second-list-item">
								<a href="index.html#s-reviews" class="navigation__link">Отзывы</a>
							</li>
							<li class="navigation__list-item navigation__second-list-item">
								<a href="index.html#s-contacts" class="navigation__link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- Hidden-menu ends -->

		<!-- Main-menu starts -->
		<nav class="row navigation hidden-xs">
			<div class="col-lg-offset-2 col-lg-3 col-md-offset-3 col-md-4">
				<form action="#" class="menu__search-form">
					<input type="text" class="menu__search-input">
					<button class="menu__search-button">
						<i class="lnr lnr-magnifier menu__search-icon"></i>
					</button>
				</form>
			</div>
			<div class="col-lg-4 col-md-5">
				<p class="menu__phones">
					<i class="lnr lnr-phone-handset menu__phone-icon"></i>
					<span class="menu__phone-number">+38 (093) 184 95 50</span>
					<span class="menu__phone-number">+38 (098) 260 49 10</span>
				</p>
			</div>
			<div class="col-lg-3 col-md-12 menu__callback">
				<a href="#alert-register-form" class="menu__callback-link alert-form-show">Заказать обратный звонок</a>
			</div>
			<div class="col-md-12 col-lg-offset-5 col-lg-7">
				<ul class="navigation__list">
					<li class="navigation__list-item">
						<a href="index.html#s-history" class="navigation__link">O! Smartkart</a>
					</li>
					<li class="navigation__list-item">
						<a href="index.html#s-cost" class="navigation__link">Цены</a>
					</li>
					<li class="navigation__list-item">
						<a href="index.html#s-offers" class="navigation__link">Акции</a>
					</li>
					<li class="navigation__list-item">
						<a href="index.html#s-features" class="navigation__link">Фишки</a>
					</li>
					<li class="navigation__list-item">
						<a href="index.html#s-services" class="navigation__link">Smart-услуги</a>
					</li>
					<li class="navigation__list-item">
						<a href="index.html#s-photogallery" class="navigation__link">Галерея</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-offset-3 col-lg-9 col-md-offset-1 col-md-11">
				<ul class="navigation__list">
					<li class="navigation__list-item navigation__second-list-item">
						<a href="page-example.html" class="navigation__link">Smartkart news</a>
					</li>
					<li class="navigation__list-item navigation__second-list-item">
						<a href="index.html#s-corporate" class="navigation__link">Мероприятия</a>
					</li>
					<li class="navigation__list-item navigation__second-list-item">
						<a href="index.html#s-other-services" class="navigation__link">Детский клуб</a>
					</li>
					<li class="navigation__list-item navigation__second-list-item">
						<a href="index.html#s-sport-karting" class="navigation__link">Спортивный картинг</a>
					</li>
					<li class="navigation__list-item navigation__second-list-item">
						<a href="index.html#s-reviews" class="navigation__link">Отзывы</a>
					</li>
					<li class="navigation__list-item navigation__second-list-item">
						<a href="index.html#s-contacts" class="navigation__link">Контакты</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- Main-menu ends -->
</header>