/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.prev_button,
	.next_button {
		font-size: 70px;
	}

	.prev_button {
		padding: 0 20px 2px 17px;
		left: 15px;
	}

	.next_button {
		padding: 0 17px 2px 20px;
		right: 15px;
	}

	.slider_text h1 {
		font-size: 32px;
	}

	.slider_text  {
		line-height: 1.2;
	}

	.pre_footer .date {
    margin: 5px 0 30px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.form_block {
		margin-top: 7px;
	}

	.main_menu ul {
		display: none;
		position: absolute;
		background-color: rgba(25,23,23,.95);
		width: 103%;
		margin-left: -25px;
		padding: 15px 0;
		z-index: 13;
	}

	.main_menu ul li {
		display: block;
		margin-left: 20px
	}

	.main_menu ul li a {
		color: #ECFCFF;
		padding: 10px 20px;
	}
	
	.sliding_menu .sliding_line {
		display: none;
	}

	.slider_text h1 {
		font-size: 24px;
	}
	
	.sec_1_item	.sec_1_item_1,
	.sec_1_item .sec_1_item_2,
	.sec_1_item .sec_1_item_3 {
		font-size: 96px
	}
	
	.bottom_line .soc_btns {
		float: left;
	}

	.triangle {
		display: none;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.sec_1_descr h2 {
		font-size: 22px;
	}

	.prev_button,
	.next_button {
		font-size: 32px;	
	}

	.prev_button {
		padding: 0 13px 2px 10px;
		left: 10px;
	}

	.next_button {
		padding: 0 10px 2px 13px;
		right: 10px;
	}

	.slider_text p {
		display: none;
	}

	.slider_text h1 {
		font-size: 16px;
	}

	.slider_text p {
		font-size: 12px;
	}

	.sec_1_item	.sec_1_item_1,
	.sec_1_item .sec_1_item_2,
	.sec_1_item .sec_1_item_3 {
		font-size: 72px
	}

	.sec_1_descr h2 {
		margin-top: 25px;
	}

	.slider_container { /* Карусель на мобильниках */
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}