<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple test</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="libs/animate/animate.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/skins/cyan.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
	
	<div class="wrapper">
		<header>
			<div class="header_topline">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="logo"><a href="#">Web<span>World</span></a></div>
						</div>
						<div class="col-md-6">
							<div class="soc_btns">
								<a href="#"><i class="fa fa-rss"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="menu_wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<nav class="main_menu">
								<button class="main_menu_button hidden-sm hidden-md hidden-lg">
									<i class="fa fa-bars"></i>
								</button>
								<ul class="sliding_menu">
									<li><a href="#" class="active_item">Home</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Service</a></li>
									<li><a href="#">Pages</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-4">
							<div class="form_block">
								<form>
									<div class="search_form">
										<input type="search" name="q" placeholder="Search something..." size="15"> 
										<button type="submit"><i class="fa fa-search"></i></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="menu_line"></div>
			</div>
		</header>
		
		<div class="slider_container">
			<div class="next_button"><i class="fa fa-angle-right"></i></div>
			<div class="prev_button"><i class="fa fa-angle-left"></i></div>
			<div class="carousel">
				
				<div class="slider_item">
					<img src="img/carousel/sl_1.jpg" alt="First slide name">
					<a href="#">
						<div class="slider_text">
							<h1>Welcome to our web site 1</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
						</div>
					</a>
				</div>
				<div class="slider_item">
					<img src="img/carousel/sl_2.jpg" alt="Second slide name">
					<a href="#">
						<div class="slider_text">
							<h1>Welcome to our web site 2</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nobis quidemvoluptas, autem.</p>
						</div>
					</a>
				</div>
				<div class="slider_item">
					<img src="img/carousel/sl_3.jpg" alt="Third slide name">
					<a href="#">
						<div class="slider_text">
							<h1>Welcome to our web site 3</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nobis quidemvoluptas, autem.</p>
						</div>
					</a>
				</div>
				
			</div>
		</div>
		
		<section class="sec_1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="sec_1_descr">
							<h2>Lorem Ipsum is <span class="b_text">simply dummy</span> of the printing.</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make atype specimen book.<br> It has survived not only five centuries.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sec_1_elements">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="sec_1_item num_1">
								<div class="sec_1_item_1">
									<i class="fa fa-desktop"></i>
								</div>
								<h3><span class="b_text">Lorem ipsum</span> dolor sit.</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, cupiditate molestias veritatis. Tempore, voluptatibus.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sec_1_item num_2">
								<div class="sec_1_item_2">
									<i class="fa fa-pencil-square-o"></i>
								</div>
								<h3><span class="b_text">Corrupti tempora</span> deleniti molestiae!</h3>
								<p>Eligendi, velit. Ex dolore placeat nemo alias, tenetur accusamus quaerat illo repudiandae saepe mollitia.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="sec_1_item num_3">
								<div class="sec_1_item_3">
									<i class="fa fa-picture-o"></i>
								</div>
								<h3><span class="b_text">Fuga nihil</span> eius quod.</h3>
								<p>Maiores consequuntur dicta non ducimus veniam dolore distinctio sunt sit, explicabo, ea esse tempore.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="triangle"></div>
		</section>
		<section class="sec_2">
			<div class="container">
				<div class="row">
					<div id="portfolio_grid">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_1.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_1.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_2.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_2.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_3.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_3.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_4.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_4.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_5.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. EarumProject name cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_5.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="portfolio_item">
								<img src="img/portfolio/it_6.jpg" alt="Alt" />
								<h4>Lorem Ipsum is simply</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting of the</p>
								<div class="port_item_cont">
									<a href="#" class="popup_content">Look it!</a>
								</div>
								<div class="hidden">
									<div class="port_descr">
										<div class="modal-box-content">
											<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
											<h3>Project name</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
											<img src="img/portfolio/it_6.jpg" alt="Alt" />
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="sponsors">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<a href="#" target="_blank"><div class="sponsor sponsor_1"></div></a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<a href="#" target="_blank"><div class="sponsor sponsor_2"></div></a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<a href="#" target="_blank"><div class="sponsor sponsor_3"></div></a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12">
						<a href="#" target="_blank"><div class="sponsor sponsor_4"></div></a>
					</div>
				</div>
			</div>
		</section>
		
		<section class="pre_footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="pre_footer_item">
							<h3>Popular posts</h3>
							<p><a href="#" target="_blank">Lorem Ipsum is simply dummy text of the printing.</a></p>
							<p class="date"> <i class="fa fa-clock-o"></i>
		 							25-September 2015</p>
							<p><a href="#" target="_blank">Lorem Ipsum is simply dummy text of the printing.</a></p>
							<p class="date"><i class="fa fa-clock-o"></i>
								25-September 2015</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 tags">
						<h3>Tags</h3>
						<p>
							<a href="#" target="_blank">apps</a> 
							<a href="#" target="_blank"><span>blog</span></a> 
							<a href="#" target="_blank">blogroll</a> 
							<a href="#" target="_blank">christmas</a> 
							<a href="#" target="_blank">cms</a> 
							<a href="#" target="_blank">coda</a> 
							<a href="#" target="_blank">concert</a> 
							<a href="#" target="_blank"><span>daily</span></a> 
							<a href="#" target="_blank"><span>design</span></a> 
							<a href="#" target="_blank">develop</a> 
							<a href="#" target="_blank">dialog</a> 
							<a href="#" target="_blank">drinks</a> 
							<a href="#" target="_blank">envato</a> 
							<a href="#" target="_blank">food</a> 
							<a href="#" target="_blank">fun</a> 
							<a href="#" target="_blank">gallery</a> 
							<a href="#" target="_blank">gift</a> 
							<a href="#" target="_blank">holiday</a> 
							<a href="#" target="_blank">icon</a> 
							<a href="#" target="_blank"><span>illustration</span></a> 
							<a href="#" target="_blank">ipad</a> 
							<a href="#" target="_blank">iphone</a> 
							<a href="#" target="_blank">journal</a> 
							<a href="#" target="_blank"><span>jquery</span></a> 
							<a href="#" target="_blank">label</a> 
							<a href="#" target="_blank">link</a> 
							<a href="#" target="_blank">marketing</a> 
							<a href="#" target="_blank">mobile</a> 
							<a href="#" target="_blank">motion</a> 
							<a href="#" target="_blank">music</a> 
							<a href="#" target="_blank">photo</a> 
							<a href="#" target="_blank"><span>profession</span></a> 
							<a href="#" target="_blank">quotation</a> 
							<a href="#" target="_blank">recipes</a> 
							<a href="#" target="_blank">show</a> 
							<a href="#" target="_blank">sound</a> 
							<a href="#" target="_blank">strategy</a> 
							<a href="#" target="_blank">tv</a> 
							<a href="#" target="_blank">typography</a> 
							<a href="#" target="_blank"><span>video</span></a>
						<span class="pre_footer_item"></span></p>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="pre_footer_item">
							<h3>A little about us</h3>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br>
							If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="pre_footer_item">
							<h3>Get in touch</h3>
							<p>Lorem Ipsum is simply dummy of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
							<p class="contacts"><i class="fa fa-map-marker"></i>Texas, US</p>
							<p class="contacts"><i class="fa fa-envelope-o"></i><a href="mailto:email@email.com">email@email.com</a></p>
							<p class="contacts"><i class="fa fa-phone"></i>+7-999-999-9999</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="bottom_line">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-8 col-xs-12">
						<p>&copy; 2015 Web world. All rights reserved. Theme by <a href="#">Alex Negodiaev</a></p>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12">
						<div class="soc_btns">
							<a href="#"><i class="fa fa-rss"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<script src="libs/jquery/jquery-2.1.3.min.js"></script>
	<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="libs/animate/animate-css.js"></script>
	<script src="libs/jqBootstrapValidation/jqBootstrapValidation.js"></script>
	<script src="js/common.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->

</body>
</html>