/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.main-menu ul li a {
		padding: 14px;
	}

	.order ul li {
		padding: 11px 10px 10px;
	}

	.owl-pagination {
		width: 85%;
	}

	.owl-pagination .owl-page {
		border: none;
	}
	
	.pagination-block .pagination-item {
		width: 17%;
		margin-right: 2%;
	}
	
	.pagination-item:first-child {
		margin-left: 2%;
	}

	.offers .offers-item {
    height: 150px;
    margin: 50px 0;
	}

	.catalog-item-name p {
		margin-bottom: 5px;
	}

	.txt-widget {
		padding-left: 0
	}
	
	.tw-widget {
		width: 100%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.search {
		display: none;
	}

	.login {
    border: none;
  }

	.main-menu {
		position: relative;
		top: 3px;
		padding-top: 6px;
	}

	.main-menu ul {
		display: none;
		position: absolute;
		background-color: rgba(24,24,24,.95);
		width: 150px;
		margin: 7px 0 0 -15px;
		padding: 15px 20px;
		text-align: center;
		z-index: 2;
	}

	.main-menu ul li {
		display: block;
		float: none;
		margin: 0;
		line-height: 35px;
	}

	.main-menu ul li a {
		border: none;
		color: #ECFCFF;
		padding: 10px 20px;
	}

	.main-menu ul li a:first-child {
		border: none;
	}
	
	.slider {
    min-height: 330px;
	}

	.slider-text {
		margin-top: 2%;
	}

	.slider-text .slider-item-cost {
		padding: 10px;
		margin: 5px;
	}

	.slider-text h2 {
		font-size: 24px;
		margin: 0; 
		line-height: 25px;
	}

	.slider-text p {
		font-size: 14px;
		margin: 5px;
		display: inline-block;
		width: 60%;
	}

	.pagination-block {
		text-align: center;
	}

	.pagination-block .pagination-item {
		width: 16%;
		margin-right: 0;
	}
	
	.pagination-item:first-child {
		margin-left: 0;
	}

	.pagination-item a {
		font-size: 14px;
	}

	.pagination-item p {
		font-size: 10px;
	}

	.offers .offers-item {
    height: 300px;
    margin: 15px 0;
	}

	.catalog-items {
		margin: 0 60px
	}	
	
	.catalog .catalog-items .catalog-item {
		margin-bottom: 35px;
	}

	.catalog .catalog-arrivals h3,
	.catalog .catalog-sellers h3 {
    font-size: 22px;
	}

	.catalog-item-name p {
		margin-bottom: 12px;
	}

	.catalog-info {
		margin: 0 60px
	}	

	.catalog-info .catalog-info-item {
		min-height: 190px;
	}

	.catalog-info .catalog-info-item .blog-news {
		margin: 10px 10px 20px;
	}

	.widgets {
	padding-bottom: 0
	}

	.widget {
		margin: 0 auto 40px;
	}

	.widget:nth-child(1),
	.widget:nth-child(2) {
		width: 70%;
	}
	
	.send-mail {
		float: left;
	}

	.social-buttons {
    margin-top: 5px;
	}

	.footer-content {
		text-align: center;
	}

	.footer-menu ul {
		float: none;
		margin: 0 auto;
	}

	.catalog-descr {
		max-width: 80%
	}

	.modal-box-content {
    	min-height: 510px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	.owl-carousel {
		display: none !important; /*По-другому не скрывается*/
	}
	
	.logo a {
    font-size: 20px;
	}

	.login {
		padding: 0 10px;
	}

	.slider {
    min-height: 100px;
	}
	
	.pagination-block .pagination-item {
		display: block;
		width: 70%;
		margin: 15px 0;
		float: right;
	}
	
	.main-menu ul {
		display: block;
		width: 120px;
		height: 350px;
		padding-left: 5px;
	}

	.offers .offers-item {
    height: 200px;
	}
	
	.catalog-items {
		margin: 0
	}	

	.catalog .catalog-arrivals h3, .catalog .catalog-sellers h3 {
    line-height: 30px;
	}

	.catalog .catalog-arrivals a,
	.catalog .catalog-sellers a {
		margin-top: 5px;
	}

	.catalog-info {
		margin: 0
	}	

	.catalog-info-item {
    margin: 25px 0 10px;
  }

  .widget:nth-child(1),
	.widget:nth-child(2) {
		width: 90%;
	}

	.send-mail {
		display: block;
		float: none;
		text-align: center;
	}

	.social-buttons {
    margin-top: 35px;
    text-align: center;
	}

	.f-menu {
		float: none;
	}

	.f-menu ul {
		display: block
	}

	.f-menu ul li {
		float: none;
		border-right: none;
	}

	.f-menu ul li a {
		font-size: 14px;
		padding: 10px 0; 
	}

	.modal-box-content {
    	min-height: 430px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}