/* Forms */
.error {
	color: $red !important;
	border-color: $red !important;
}
.success {
	color: $green !important;
	border-color: $green !important;
}
.disabled {
	color: $gray !important;
	border-color: $gray !important;
	cursor: default !important;
}
.input-text {
	padding: 4px 8px;
	line-height: 24 / 21 * 1;
	border: 1px solid #ccc;
	@include border-radius(0);
}
.textarea {
	@extend .input-text;
	font-family: $fontFamily;
	overflow: auto;
	height: auto;
}
.select-wrap {
	position: relative;
	background: $bg;
	&:after {
		content: '';
		position: absolute;
		top: 50%; right: 11px;
		margin-top: -6px;
		@include size(0);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 12px solid $elb;
	}
}
.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	position: relative;
	z-index: 2;
	padding: 3px 40px 3px 10px;
	width: 100%;
	border: none;
	outline: none;
	@include border-radius(0);
	font-size: rem(21);
	line-height: 24 / 21 * 1;
	letter-spacing: -1px;
	background: transparent;
}
.select::-ms-expand {
	display: none;
}
.checkbox,
.radio {
	display: block;
	input {
		display: none;
		+ label {
			position: relative;
			display: block;
			padding-right: 60px;
			cursor: pointer;
			&:before {
				content: '';
				position: absolute;
				top: 0; right: 0;
				@include size(52px 31px);
				border-radius: 15px;
				background: #ccc;
			}
			&:after {
				content: '';
				position: absolute;
				top: 2px; right: 23px;
				@include size(27px);
				border-radius: 50%;
				background: $w;
				box-shadow: 0 0 5px rgba(0,0,0,.2);
				@include transition(all .2s);
			}
		}
		&:checked + label {
			&:before {
				background: $elb;
			}
			&:after {
				right: 2px;
			}
		}
	}
	label {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
.counter-input {
	position: relative;
	@include size(104px 32px);
	border: 1px solid $bg;
	border-radius: 20px;
	background: $w;
	input {
		display: block;
		padding-left: 15px;
		@include size(100%);
		border: none;
		outline: none;
		text-align: center;
	}
	.counter-btn {
		position: absolute;
		top: 0; bottom: 0;
		z-index: 2;
		@include size(30px 32px);
		border: none;
		outline: none;
		font-size: 24px;
		line-height: 32px;
		background: $bg;
	}
	.counter-minus-btn {
		left: 0;
		border-radius: 20px 0 0 20px;
	}
	.counter-plus-btn {
		right: 0;
		border-radius: 0 20px 20px 0;
	}
}
.button {
}