<!DOCTYPE HTML>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="shortcut icon" href="favicon.ico">
	<title>Home</title>
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
	<meta name="msapplication-TileImage" content="og-logo.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="application-name" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="og-logo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lte IE 9]><script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script><![endif]-->
</head>
<body class="menu-push no-js">
	<div class="main">
		<header class="page-header">
			<div class="container">
				<div class="logo-wrap">
					<a href="#" class="logo">Hotel<span class="colored">deluxe</span></a>
					<span class="logo-descr"><em>Hotel &amp; Motel Theme</em></span>
				</div>
				<nav class="navigation">
					<a href="#" class="menu-toggle"><span class="menu-toggle-icon"></span></a>
					<ul class="menu">
						<li><a href="#">Start</a></li>
						<li><a href="#">Facilities</a></li>
						<li><a href="#">Restaurant</a></li>
						<li><a href="#">Conference</a></li>
						<li><a href="#">Bookings</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</nav>
			</div>
			<!-- /.container -->
		</header>
		<!-- /.page-header -->
		<div class="spanning">
			<div class="promo">
				<div class="promo-slider">
					<div class="promo-slide" style="background-image: url(upload/promo-slider/1.jpg);">
						<a href="#">
							<div class="promo-slide-content container">
								<p class="promo-slide-text"><strong>Hello</strong>, You’ve Reached</p>
								<h2 class="promo-slide-title">Hotel deluxe</h2>
								<h4 class="promo-slide-subtitle">Hotel - Spa saloon - Fine dining</h4>
							</div>
						</a>
					</div>
					<div class="promo-slide" style="background-image: url(upload/promo-slider/2.jpg);">
						<a href="#">
							<div class="promo-slide-content container">
								<p class="promo-slide-text"><strong>Bonjour</strong>, You’ve Reached</p>
								<h2 class="promo-slide-title">Any text</h2>
								<h4 class="promo-slide-subtitle">Lorem ipsum dolor sit amet.</h4>
							</div>
						</a>
					</div>
					<div class="promo-slide" style="background-image: url(upload/promo-slider/3.jpg);">
						<a href="#">
							<div class="promo-slide-content container">
								<p class="promo-slide-text"><strong>Привет</strong>, You’ve Reached</p>
								<h2 class="promo-slide-title">Любой заголовок</h2>
								<h4 class="promo-slide-subtitle">Любой текст</h4>
							</div>
						</a>
					</div>
				</div>
				<!-- /.promo-slider -->
				<div class="booking">
					<form>
						<div class="booking-form-content">
							<div class="booking-date">
								<label for="date-arrival" class="booking-date-label">Arrival</label>
								<span class="booking-date-field">
									<input type="text" id="date-arrival" class="booking-date-input" placeholder="Arrival date">
								</span>
							</div>
							<div class="booking-date">
								<label for="date-departure" class="booking-date-label">Departure</label>
								<span class="booking-date-field">
									<input type="text" id="date-departure" class="booking-date-input" placeholder="Departure date">
								</span>
							</div>
							<div class="room-type">
								<label for="room-type-select" class="room-type-label">Room Type</label>
								<span class="room-type-field">
									<select id="room-type-select" class="room-type-select">
										<option value="type-1">Standard Single Room</option>
										<option value="type-2">Standard Double Room</option>
										<option value="type-3">Superior Single Room</option>
										<option value="type-4">Superior Double Room</option>
										<option value="type-4">Family Room</option>
										<option value="type-4">VIP Room</option>
									</select>
								</span>
							</div>
							<div class="btn-booking-wrap">
								<button class="btn btn-booking">View Prices</button>
							</div>
						</div>
						<!-- /.booking-form-content -->
					</form>
					<!-- /form -->
				</div>
				<!-- /.booking -->
			</div>
			<!-- /.promo -->
			<div class="offers">
				<div class="offers-content container">
					<h2 class="offers-title section-title">Book A Package</h2>
					<p class="offers-descr">Sed euismod sem id consequat rutrum. Ut convallis lorem a orci mollis, eu vulputate libero aliquet. Praesent egestas nisi sed purus tincidunt faucibus. Aliquam lobortis orci lacus, sed faucibus augue dapibus vitae. Ut vitae mi sapien. Phasellus a eros justo. Curabitur odio massa, tincidunt nec nibh sit amet</p>
					<div class="offers-slider">
						<div class="offers-slide">
							<a href="#">
								<div class="offers-item" style="background-image: url(upload/offers-slider/1.jpg);"></div>
							</a>
						</div>
						<div class="offers-slide">
							<a href="#">
								<div class="offers-item" style="background-image: url(upload/offers-slider/2.jpg);"></div>
							</a>
						</div>
						<div class="offers-slide">
							<a href="#">
								<div class="offers-item" style="background-image: url(upload/offers-slider/3.jpg);"></div>
							</a>
						</div>
						<div class="offers-slide">
							<a href="#">
								<div class="offers-item" style="background-image: url(upload/offers-slider/4.jpg);"></div>
							</a>
						</div>
					</div>
					<!-- /.offers-slider -->
				</div>
				<!-- /.offers-content container -->
			</div>
			<!-- /.offers -->
			<div class="rooms">
				<div class="rooms-content container">
					<h2 class="rooms-title section-title">Our Room Types</h2>
					<div class="rooms-list container">
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/1.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">Standard Double Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-tv"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/2.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">Superior Double Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-air-condition"></i>
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-iron"></i>
								<i class="facilities-item icon-tv"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/3.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">Family Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-iron"></i>
								<i class="facilities-item icon-tv"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/4.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">Standard Single Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/5.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">Superior Single Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-air-condition"></i>
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-iron"></i>
								<i class="facilities-item icon-tv"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
						<div class="rooms-item">
							<div class="rooms-item-photo">
								<a href="#" style="background-image: url(upload/rooms/6.jpg);"></a>
							</div>
							<h5 class="rooms-item-title"><a href="#">VIP Room</a></h5>
							<p class="rooms-item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque lectus vitae dui sollicitudin commodo.</p>
							<div class="rooms-item-facilities">
								<i class="facilities-item icon-air-condition"></i>
								<i class="facilities-item icon-fan"></i>
								<i class="facilities-item icon-iron"></i>
								<i class="facilities-item icon-tv"></i>
								<i class="facilities-item icon-wifi"></i>
								<i class="facilities-item icon-coffee"></i>
							</div>
						</div>
					</div>
					<!-- /.rooms-list container -->
				</div>
				<!-- /.rooms-content container -->
			</div>
			<!-- /.rooms -->
			<div class="statistic">
				<div class="statistic-content container">
					<div class="statistic-content-inner">
						<h3 class="statistic-title"><span class="statistic-city-number">143 City</span> Located Hotels World Wide</h3>
						<p class="statistic-descr">&quot;Hospitality, Quality &amp; Good Locations. We only provide you with the best hotels&quot; - John Doe</p>
					</div>
				</div>
			</div>
			<!-- /.statistic -->
		</div>
		<!-- /.spanning-columns -->
	</div>
	<!-- /.main -->
	<footer class="page-footer">
		<div class="page-footer-content container">
			<div class="footer-col footer-col-1">
				<h6 class="footer-col-title">About this hotel</h6>
				<p>Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
				<p>Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
			</div>
			<div class="footer-col footer-col-2">
				<h6 class="footer-col-title">Latest news</h6>
				<div class="news">
					<a href="#" class="news-item">
						<span class="news-item-title">Grand Hotel joins DeluxeHotels</span>
						<span class="news-item-date">15 sep</span>
					</a>
					<a href="#" class="news-item">
						<span class="news-item-title">Happy Christmas To Everyone</span>
						<span class="news-item-date">12 sep</span>
					</a>
					<a href="#" class="news-item">
						<span class="news-item-title">Best Places To Visit 2014</span>
						<span class="news-item-date">29 aug</span>
					</a>
					<a href="#" class="news-item">
						<span class="news-item-title">Various Offers</span>
						<span class="news-item-date">18 aug</span>
					</a>
				</div>
			</div>
			<div class="footer-col footer-col-3">
				<h6 class="footer-col-title">Join Deluxehotels</h6>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vestibulum blandit egestas. Nam id lectus vel orci luctus consectetur eget id elit. In tortor odio, pellentesque eu arcu sit amet, lacinia euismod nisi. Aliquam sodales tristique mauris ac fermentum. Donec vel varius ipsum. Pellentesque vitae mollis massa.</p>
				<p>There is no costs or whatsoever so sign up today!</p>
				<a href="#" class="btn btn-primary read-more-btn">Read more</a>
			</div>
			<div class="footer-col footer-col-4">
				<h6 class="footer-col-title">Members area</h6>
				<div class="login-form">
					<form>
						<label for="username-input" class="login-form-label">Username</label>
						<input type="text" id="username-input" class="login-form-input">
						<label for="password-input" class="login-form-label">Password</label>
						<input type="password" id="password-input" class="login-form-input">
						<button class="btn btn-primary login-form-btn">Login</button>
					</form>
				</div>
				
			</div>
		</div>
		<!-- /.page-footer-content container -->
	</footer>
	<!-- /.page-footer -->
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>