/* Variables are here */
.header_topline {
  color: #fff; }
  .header_topline span {
    color: #E9D06B; }

.logo a {
  color: #fff; }

.soc_btns > a {
  color: #c1c1c1; }
  .soc_btns > a:hover {
    color: #E9D06B; }

.main_menu ul li a {
  color: #818181; }
  .main_menu ul li a:hover {
    color: #E9D06B; }

.sliding_line {
  background: #E9D06B; }

.main_menu .active_item {
  color: #E9D06B; }

.main_menu_button {
  color: #E9D06B; }

.slider_item a > .slider_text:hover {
  color: #c1c1c1; }

.slider_text {
  color: #fff; }

.b_text {
  color: #646464; }

h2 {
  color: #818181; }

h3 {
  color: #818181; }

.sec_1 p {
  color: #9a9a9a; }

.sec_1_item_1,
.sec_1_item_2,
.sec_1_item_3 {
  color: #c1c1c1; }

.num_1:hover .sec_1_item_1 {
  color: #E9D06B; }

.num_2:hover .sec_1_item_2 {
  color: #E9D06B; }

.num_3:hover .sec_1_item_3 {
  color: #E9D06B; }

.sec_2, .slider_container {
  background-color: #eee; }

.portfolio_item a {
  color: #E9D06B; }

.port_item_cont h4 {
  color: #646464; }
.port_item_cont p {
  color: #818181; }

.port_descr p {
  color: #818181; }

.pre_footer h3 {
  color: #fff; }
.pre_footer p, .pre_footer a {
  color: #c1c1c1; }
.pre_footer .tags {
  color: #f5f5f5; }
.pre_footer a:hover {
  color: #E9D06B; }
.pre_footer .date {
  color: #818181; }
  .pre_footer .date i {
    color: #E9D06B; }
    .pre_footer .date i:hover {
      color: #818181; }
.pre_footer .contacts i {
  color: #E9D06B; }
  .pre_footer .contacts i:hover {
    color: #818181; }

.bottom_line p {
  color: #c1c1c1; }
  .bottom_line p a {
    color: #E9D06B; }
    .bottom_line p a:hover {
      color: #646464; }
