<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PromAlpMolot | Homepage</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="wrapp">
	<div class="wrapper">
		<div class="highest-line"></div>
		<div class="header">
			<div class="logo">
				<h1>Пром<span>Альп</span>Молот</h1>
				<p>Нет тех вершин, что взять нельзя</p>
			</div>
			<p class="banner">Banner</p>
			<div class="clear"></div>
		</div>
		<div class="menu">
			<ul>
				<li class="first-element-menu"><a href="index.html" class="first-link-menu">Главная</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
				<li class="description"><p>&quot;Высотные работы - наше призвание. Благодаря квалифицированным альпинистам, работы любой сложности выполняются качественно и в срок.&quot;</p></li>
			</ul>
		</div>
		<div class="clear"></div>
		<div>
			<img src="images/main-image.jpg" alt="Buildings" class="main-image">
		</div>
	<div class="main_container">
		<div class="container">
			
			<div class="columns">
			<h2>Популярные предложения</h2>
				<div class="column col_1">
					<div class="img_col img_col_1"></div>
					<h3>Стекломой</h3>	
					<div class="button"><a href="#">Подробнее</a></div>
				</div>
				<div class="column col_2">
					<div class="img_col img_col_2"></div>
					<h3>Очистка крыш от снега и наледи</h3>	
					<div class="button"><a href="#">Подробнее</a></div>
				</div>
				<div class="column col_3">
					<div class="img_col img_col_3"></div>
					<h3>Поздравление в окно</h3>	
					<div class="button"><a href="#">Подробнее</a></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="content">
				<div class="about_us">
					<h2>О нас</h2>
					<a href="#"><div class="about_img"></div></a>
					<h4>Сегодня <span>&quot;Промальпмолот&quot;</span> это:</h4>
					<ul>
						<li>Аттестованные специалисты</li>
						<li>Доступные цены в среднем диапазоне</li>
						<li>Быстрая реакция на Вашу заявку</li>
						<li>Работа в выходные дни и ночное время</li>
					</ul>
					<div><a href="#" class="button">Узнать больше</a></div>
				</div>
				<div class="gallery">
	
						<h2>Фотогалерея</h2>
						<a href="#"><div class="gallery_img"></div></a>
						<p>Фотографии с новых объектов, а также интересные кадры со всего мира. Очень интересно посмотреть, как развит промышленный альпинизм в других городах и странах. Обмен опытом один из двигателей прогресса. Задача нашей компании <span>&quot;Промальпмолот&quot;</span> оставаться в лидерах на Пермском рынке промышленного альпинизма. </p>
						<div><a href="#" class="button">Перейти</a></div>

				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
		<div class="footer">
			<p>&copy; 2015 Промышленный альпинизм </p>
			<div class="social">
				<ul>
					<li><a href="#"><img src="images/vk.png" alt="vk" class="vk"></a></li>
					<li><a href="#"><img src="images/fb.png" alt="fb" class="fb"></a></li>
					<li><a href="#"><img src="images/tw.png" alt="tw" class="tw"></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</body>
</html>