<!-- BEGIN LEAD-CRM CODE -->
<form id="lead_crm1427" class="lead_crm_form lead_crm_ver" method="post">
    <div class="lead_crm_inline">
        <input name="phone" class="lead_crm_input" type="text" placeholder="Ваш номер телефона" data-validation-callbacks="not_empty">
    </div>

    <div style="text-align: center" class="lead_crm_inline_btn">
        <input class="lead_crm_submit" name="submit" type="submit" value="Записаться на бесплатное пробное занятие">
    </div>
</form>
<script type="text/javascript" src="http://cp.lead-crm.ru/forms/code/1427.js"></script>
<!-- END LEAD-CRM CODE -->