/* Content */
.spanning {
	clear: both;
	.hide-before {
		&:before {
			display: none;
		}
	}
}

//Breadcrumb
.breadcrumb {
	margin-top: 14px;
	li {
		display: inline-block;
		vertical-align: middle;
		&:not(.active) {
			&:after {
				content: ' /';
			}
		}
	}
}

//Accordion
.accordion-btn {
	position: relative;
	display: block;
	margin-top: 5px;
	padding: 16px 60px 12px 30px;
	width: 100%;
	border: none;
	outline: none;
	font-weight: $font-bold;
	text-align: left;
	color: $w;
	background: $lbl;
	&:first-child {
		margin-top: 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%; right: 20px;
		margin-top: -8px;
		@include triangle(23px 16px, white, down);
		// @include transition(.15s linear .1s);
	}
	&.active {
		&:before {
			@include transform(rotate(180deg));
		}
	}
}

.accordion-content {
	overflow: hidden;
	max-height: 0;
	@include transition(.4s ease-in-out);
	&.show {
		max-height: 999px;
	}
	p {
		margin-bottom: 35px;
		line-height: 28 / 21 * 1;
		&:last-child {
			margin-bottom: 13px;
		}
	}
}

.accordion-content-inner {
	padding: 27px;
	background: $dw;
}

@include media-breakpoint-down(sm) { // < 768
	.accordion-btn {
		padding-left: 20px;
	}
	.accordion-content {
		&.show {
			max-height: 1999px;
		}
	}
	.accordion-content-inner {
		padding: 20px;
	}
}

//Common styles for page menu
.page-menu {
	@include clearfix();
	li {
		float: left;
	}
	a {
		display: block;
		line-height: 24 / 24 * 1;
		text-align: center;
		white-space: nowrap;
	}
}

//Content menu
.content-menu {
	margin: 40px 0 45px;
	li {
		margin-right: 20px;
		&.active {
			> a {
				background: $elb;
			}
		}
	}
	a {
		padding: 10px;
		@include size(195px 43px);
		font-weight: $font-bold;
		color: $w;
		background: $p;
	}
}

@include media-breakpoint-down(lg) { // < 1236
	.content-menu {
		li {
			margin: 0 10px 10px 0;
		}
	}
}

@include media-breakpoint-down(sm) { // < 768
	.content-menu {
		a {
			padding: 10px 15px;
			width: auto;
			height: auto;
		}
	}
}

@include media-breakpoint-down(xs) { // < 544
	.content-menu {
		li {
			float: none;
			margin-right: 0;
		}
	}
}

.step-nav {
	float: left;
	margin-bottom: 30px;
	background: $w;
	li {
		position: relative;
		margin-right: 5px;
		@include size(222px 47px);
		line-height: 47px;
		text-align: center;
		background: $dw;
		&:after {
			content: '';
			position: absolute;
			top: 50%; right: -12px;
			z-index: 2;
			margin-top: -22px;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			border-left: 12px solid $dw;
		}
		&:before {
			content: '';
			position: absolute;
			top: 50%; left: 0;
			margin-top: -22px;
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			border-left: 12px solid $w;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		&.done {
			&:after {
				border-left-color: $elb;
			}
			> a {
				color: $w;
				background: $elb;
			}
		}
		&.active {
			> a {
				color: $elb;
			}
		}
		&.disabled {
			padding-left: 15px;
		}
	}
	a {
		padding: 12px 0 12px 15px;
		color: $p;
	}
}

.back-step-btn {
	position: relative;
	float: right;
	margin: 0 0 30px 50px;
	padding: 11px 5px;
	@include size(162px 47px);
	line-height: 24 / 21 * 1;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		top: 50%; left: -12px;
		z-index: 2;
		margin-top: -24px;
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent;
		border-right: 12px solid $s;
	}
}

@include media-breakpoint-down(md) { // < 992
	.step-nav {
		float: none;
		li {
			float: none;
			margin: 0 auto 15px;
			width: 50%;
			&:after {
				top: initial; right: initial;
				bottom: -10px; left: 50%;
				margin-left: -22px;
				border: none;
				border-left: 22px solid transparent;
				border-right: 22px solid transparent;
				border-top: 12px solid $dw;
			}
			&:before {
				display: none;
			}
			&.done {
				&:after {
					border-left-color: transparent;
					border-top-color: $elb;
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) { // < 544
	.step-nav {
		li {
			width: 100%;
		}
	}
}

//Tooltips
.tooltip-btn {
	position: absolute;
	z-index: 7;
	@include size(41px);
	border: none;
	outline: none;
	border-radius: 50%;
	font-size: rem(32);
	line-height: 41px;
	font-weight: $font-bold;
	background: $w;
	box-shadow: 0 0 10px rgba(0, 0, 2, 0.35);
	&.active {
		background: $elb;
	}
}

.tooltip {
	position: absolute;
	z-index: 8;
	display: none;
	padding: 5px 10px 10px;
	border: 1px solid #999;
	border-radius: 10px;
	font-size: rem(16);
	line-height: 20 / 16 * 1;
	text-align: center;
	background: $w;
	&:before {
		content: '';
		position: absolute;
		bottom: -25px; left: 40px;
		@include size(0);
		border-style: solid;
		border-width: 26px 36px 0 0;
		border-color: $w transparent transparent transparent;
	}
	&.active {
		display: block;
	}
	span {
		text-transform: uppercase;
	}
}