<div id="popup-register" class="popup-register popup mfp-hide" itemscope itemtype="http://schema.org/Thing">
	<h3 class="popup-title title-3" itemprop="name">Регистрация магазина</h3>
	<div class="popup-content">
		<p class="popup-info" itemprop="description">Для добавления товаров Вашего магазина на <a href="#" itemprop="url">webDetector.com</a> необходимо зарегистрироваться. Введите Ваш e-mail в поле ниже, будет создан аккаунт магазина и на указанный e-mail выслан пароль.</p>
		<div class="popup-form">
			<form>
				<input type="text" placeholder="Ваш e-mail">
				<button type="submit" class="popup-btn btn">Зарегистрироваться</button>
			</form>
		</div>
	</div>
</div>
<!-- /.popup-register -->
<div id="popup-success" class="popup-success popup mfp-hide" itemscope itemtype="http://schema.org/Thing">
	<h3 class="popup-title title-3" itemprop="name">Регистрация магазина</h3>
	<div class="popup-content">
		<p class="popup-info" itemprop="description">Для добавления товаров Вашего магазина на <a href="#" itemprop="url">webDetector.com</a> необходимо зарегистрироваться. Введите Ваш e-mail в поле ниже, будет создан аккаунт магазина и на указанный e-mail выслан пароль.</p>
		<p class="popup-success-message" itemprop="description">Благодарим за регистрацию! <br>Пароль отправлен на Ваш e-mail</p>
		<a href="#popup-enter" class="success-enter-link open-popup-link" itemprop="url">Войти</a>
		<button class="popup-btn btn">Ок</button>
	</div>
</div>
<!-- /.popup-success -->
<div id="popup-enter" class="popup-enter popup mfp-hide" itemscope itemtype="http://schema.org/Thing">
	<h3 class="popup-title title-3" itemprop="name">Вход</h3>
	<div class="popup-content">
		<div class="popup-form">
			<form>
				<input type="text" placeholder="E-mail">
				<input type="password" placeholder="Пароль">
				<div class="popup-remember-checkbox checkbox">
					<input type="checkbox" id="popup-remember-checkbox">
					<label for="popup-remember-checkbox">Запомнить</label>
				</div>
				<div class="forget-password-link">
					<a href="#" itemprop="url">Забыли пароль?</a>
				</div>
				<button type="submit" class="popup-btn btn">Войти</button>
				<a href="#" class="no-register-link" itemprop="url">Не зарегистрированы?</a>
				<a href="#popup-register" class="add-shop-link open-popup-link" itemprop="url"><i class="icon-user-plus"></i>Добавить магазин</a>
			</form>
		</div>
	</div>
</div>
<!-- /.popup-enter -->