/* Content */
.spanning {
	clear: both;
}

//Buttons
.btn {
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-family: $sfont;
	font-weight: $font-bold;
	user-select: none;
	background: $s;
	@include transition(background .15s);
	&:hover {
		background: $p;
	}
}

.btn-primary {
	display: block;
	@include size(103px 28px);
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	color: #1e1e1e;
}

//Facilities icons
.facilities-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	background: url(../images/sprite.png) 50% 50% no-repeat;
}

.icon-air-condition {
	@include size(21px);
	background-position: -43px -10px;
}
.icon-fan {
	@include size(18px 19px);
	background-position: -84px -10px;
}
.icon-iron {
	@include size(24px 21px);
	background-position: -122px -10px;
}
.icon-tv {
	@include size(21px 16px);
	background-position: -166px -10px;
}
.icon-wifi {
	@include size(21px 18px);
	background-position: -207px -10px;
}
.icon-coffee {
	@include size(21px 19px);
	background-position: -248px -10px;
}