/* Footer */
.page-footer {
	margin-top: -$footer;
	height: $footer;

	padding: 20px 0 40px;
	color: $w;
	background: $dgr;
	@include linear-gradient(to top, #1f1f1f 0%, #1f1f1f 34px, $dgr 34px, $dgr 100%, $fallback: $dgr);
}

.page-footer-content {
	display: flex;
	flex-flow: row nowrap;
	p {
		margin-bottom: 18px;
		line-height: 1.2;
	}
}

.footer-col-1,
.footer-col-2,
.footer-col-4 {
	flex: 1 1 20%;
}

.footer-col-3 {
	flex: 2 1 40%;
}

.footer-col-1 { padding-right: 15px; }
.footer-col-2 { padding: 0 15px 0 4px; }
.footer-col-3 { padding: 0 10px; }
.footer-col-4 { padding: 0 10px 0 16px; }

.footer-col-title {
	margin-bottom: 10px;
	font-weight: $font-light;
	text-transform: uppercase;
	letter-spacing: -.05em;
}

.news-item,
.news-item-title {
	display: block;
	color: $w;
	@include transition(color .15s);
}

.news-item {
	margin-bottom: 2px;
	&:hover {
		.news-item-title {
			color: $p;
		}
	}
}

.news-item-date {
	color: $s;
}

.read-more-btn {
	margin-top: 23px;
}

.login-form {
	max-width: 200px;
}

.login-form-label,
.login-form-input {
	display: block;
	width: 100%;
}

.login-form-label {
	margin-bottom: 5px;
}

.login-form-input {
	margin-bottom: 7px;
	padding: 5px 10px;
	height: 30px;
	border: 1px solid #1f1f1f;
	border-radius: 10px;
	color: $w;
	background: transparent;
	@include transition(border .15s);
	&:focus {
		border: 2px solid $s;
	}
}

.login-form-btn {
	margin-top: 10px;
}