/* Typography */
a {
	color: $link;
	text-decoration: none;
	background-color: $tr;
	@include transition(color $df, background-color $df, border-color $df);
	&:hover {
		color: $link-hover;
	}
}

h2 { font-size: rem(60); }
h3 { font-size: rem(48); }
h4 { font-size: rem(30); }
h5 { font-size: rem(24); }
h6 { font-size: rem(18); }

.section-title {
	font-family: $dfont;
	line-height: 1.2;
	text-transform: capitalize;
	text-align: center;
}