@import url(reset.css);

.clear { /* Схлопывание */
	clear: both;
}

html, body { /* Тело */ 
	color: #2a2b2c;
	margin: 0; /* 2 way */
	padding: 0; /* 2 way */
	width: 100%; /* 2 way */
	height: 100%; /* 2 way */
}

body { /* 2 way */
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
} 

.main_container { /* 2 way */
	padding-bottom: 100px;
}

.wrapp,
.wrapper,
.header,
.menu { /* Размеры */
	min-width: 900px;
	max-width: 1280px;
	margin: 0 auto;
/*	min-width: 93.75%;
	max-width: 133.33%;*/
}

.wrapp {
	background: url("../images/background_3.png") repeat;
	position: relative;
}

.wrapper {
}

.highest-line { /* Верхняя линия */
	background-color: #2a2b2c;
	height: 25px;
}

a { /* Ссылки */
	color: #2a2b2c;
	text-decoration: none;
}

h1 { /* Заголовок сайта (логотип) */
	font: 60px Intro, Arial, Verdana, sans-serif;
	color: #3bbdfb; 
	text-transform: uppercase;
}

span { /* Часть заголовка */
	color: #454545;
}

.header { /* Собственно, header */
	/*padding: 2.60416% 3.125% 2.083%;*/
	padding: 25px 30px 20px;
}

.logo { /* Логотип в хедере */
	float: left;
}

.banner { /* Баннер */
	display: inline-block;
	padding: 2.60416% 10.416%;
	float: right;
	border: 1px solid #ddd;
	margin-right: 30px;
	color: #8e8e8e;
}

.logo p { /* Цитата под логотипом */
	font: 24px Museo Sans Cyrl, Arial, Verdana, sans-serif;
	font-style: italic;
	color: #8e8e8e;
	margin-left: 2%; 
}

.menu { /* Блок меню */
	border-top: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
	float: left;
	width: 100%;
}

.menu ul li a { /* ссылки в меню */
	float: left;
	font: 16px PT Sans, Arial, Verdana, sans-serif;
	padding: 1.7% 0.5%;
}

.menu a:hover { /* Активные ссылки в меню */
	border-top: 2px solid #bab7b7;
	border-bottom: 2px solid #bab7b7;
	padding-top: 1.7%;
	padding-bottom: 1.7%;
	margin-top: -2px;
	margin-bottom: -2px;
	color: #3bbdfb;
}

.first-link-menu { /* Первая ссылка в меню */
	color: #3bbdfb;
	margin-left: 1.8%;
}

.main-image { /* Главное изображение */
	width: 100%;
	height: auto;
}

.description p {
	width: 60%;
	font-family: PT Sans, Arial, Verdana, sans-serif;
	color: #454545;
	padding-top: 1.2%;
	float: right;
}

.columns h2 { /* Заголовок контейнера */
	font: 24px PT Sans, Arial, Verdana, sans-serif;
	padding-bottom: 1%;
	border-bottom: 2px solid #d9d9d9;
}

.container { /* Контейнер с услугами */
	padding: 0.9% 35px 0;
	min-width: 830px;
	max-width: 1210px;
	margin: 0 auto;
}

.columns {
	width: 861px;
	padding: 0 2.5%;
	margin: 0 auto 5%;
}

.column { /* Настройка отдельной колонки */
	width: 287px;
	float: left;
	margin-top: 2.5%;
	/*border: 1px solid black;*/
/*	padding: 1.0416% 0.5208%;
	margin: 0 0.5208% 0 2.0832%;*/
}

.col_3 {
	margin-right: 0;
}

.img_col { /* Изображение в колонке */
	width: 237px;
	height: 237px;
	border: 2px solid #8e8e8e;
	border-radius: 50%;
	position: relative;
	left: 23px;
}

.img_col_1 {
	background: url("../images/col_1.jpg") no-repeat;
}

.img_col_2 {
	background: url("../images/col_2.jpg") no-repeat;
}

.img_col_3 {
	background: url("../images/col_3.jpg") no-repeat;
}

.column h3 { /* Заголовок услуг */
	font: 20px PT Sans, Arial, Verdana, sans-serif;
	text-align: center;
	padding-top: 2%; 
	/*color: #3bbdfb;*/ 
}

.column a { /* Кнопка в блоке услуг */
	text-transform: uppercase;
	background: #3bbdfb;
	border-radius: 5px;
	color: #fff;
	font: 14px PT Sans, Arial, Verdana, sans-serif;
	padding: 5px 10px;
	position: relative;
	left: 95px;
	top: 15px; 
}

.column a:hover,
.about_us .button:hover,
.gallery .button:hover {
	background: #2a2b2c;
}

.content {
	width: 861px;
	padding: 0 5%;
	margin: 0 auto;
}

.about_us { /* Левый блок контента */
	min-width: 390px;
	max-width: 44%;
	float: left;
	margin-right: 45px;
}

.gallery { /* Правый блок контента */
	float: left;
	max-width: 44%;
	min-width: 425px;
}

.content h2 { /* Заголовки в блоке с контентом */
	font: 24px PT Sans, Arial, Verdana, sans-serif;
	padding-bottom: 1%;
	border: none;
}

.about_img,
.gallery_img /* Общие настройки блоков контента */
 {
	background: url("../images/about.jpg") no-repeat;
	width: 390px;
	height: 158px;
	border: 2px solid #8e8e8e;
	margin-bottom: 2%;
}

h4 {
	font: 18px PT Sans, Arial, Verdana, sans-serif;
}

h4>span, p>span {
	text-transform: uppercase;
}

.about_us ul { /* Список левого блока */
	list-style-type: circle;
	padding-left: 5%;
	margin-bottom: 4.7%;
}

.about_us .button,
.gallery .button {
	text-transform: uppercase;
	background: #3bbdfb;
	border-radius: 5px;
	color: #fff;
	font: 14px PT Sans, Arial, Verdana, sans-serif;
	padding: 5px 10px;
}

 .gallery_img {
	background: url("../images/gallery_img_2.jpg") no-repeat;
}

.gallery p {
	max-width: 397px;
	margin-bottom: 2%;
}

.footer {
	background-color: #2a2b2c;
	/*min-height: 60px; /* 60px */
	box-sizing: border-box;
	margin-top: 4%;
	height: 60px; /* 2way */
	width: 100%; /* 2way */
	position: relative; /* 2way */
	bottom: 0; /* 2way */
}

.footer p {
	color: #8e8e8e;
	float: left;
	padding: 23px 5% 19px;
	box-sizing: border-box;
}

.social {
	float: right;
	margin-right: 3%;
}

.social ul li {
	float: left;
	margin-right: -10px;
}

.vk, .fb, .tw {
	width: 36.5px;
	height: 36.5px;
	margin: 11px 20px 0 0;
	
}

.vk:hover, .fb:hover, .tw:hover {
	/*border: 5px solid #454545;
	border-radius: 35%;
	margin: 6px -5px -5px;*/
	box-shadow: 0 0 5px 3px #454545;
	width: 39px;
	height: 39px;
}
