/*==========  Desktop First Method  ==========*/

/* Extra Large Devices, Extra Wide Screens */
@media only screen and (max-width : 1680px) {

/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-controls-direction .bx-prev {
		left: -180px;
	}
	
	.bx-wrapper .bx-controls-direction .bx-next {
		right: -180px;
	} 
}

/* Extra Large Devices, Extra Wide Screens */
@media only screen and (max-width : 1440px) {

/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-controls-direction .bx-prev {
		left: -115px;
	}
	
	.bx-wrapper .bx-controls-direction .bx-next {
		right: -115px;
	} 
}

/* Very Large Devices, Very Wide Screens */
@media only screen and (max-width : 1366px) {
	
	/*** HEADER ***/
	.header-bottom-message {
		font-size: 32px;
	}

	/*** SKILLS ***/
	.skills .skills-description {
    	font-size: 22px;
	}

	/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-controls-direction .bx-prev {
		left: -55px;
	}
	
	.bx-wrapper .bx-controls-direction .bx-next {
		right: -55px;
	} 

	/*** QUESTIONS ***/
	.questions h2:before {
		margin: 0 15px 10px -100%
	}

	.questions h2:after {
		margin: 0 -100% 10px 15px
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
	
	/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-controls-direction {		
		margin-top: -30px;
	}
	
	.bx-wrapper .bx-controls-direction .bx-prev {
		background-position: 5px 7px;
		left: -10px;
		border-radius: 0;
		width: 60px;
		height: 75px;
		-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .5);
		box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .5);
	}
	
	.bx-wrapper .bx-controls-direction .bx-next {
		background-position: 90px 7px;
		right: 0;
		border-radius: 0;
		width: 60px;
		height: 75px;
		-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .5);
		box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .5);
	} 

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
	/*** HEADER ***/
	.main-menu ul li a {
		margin: 5px 10px 15px;
	}

	.main-menu ul li:first-child {
		margin-left: 10px;
	}
	
	.phones-wrapper {
		margin-right: 15px;
	}

	.main-logo {
		margin: 60px 0 50px 15px;
	}

	h1 {
    color: white;
    font-size: 60px;
    line-height: 70px;
    margin-right: 15px;
	}

	.header-info {
    padding-left: 15px;
	}

	.header-info p:first-child {
		font-size: 44px;
	}

	.header-info p:nth-child(2) {
		font-size: 32px;
	}

	.header-info p:last-child {
		font-size: 36px;
	}
	
	.form-wrapper {
		margin-right: 20px;
	}

	.form-wrapper .main-form .form-button-wrapper .form-button {
		font-size: 38px;
	}

	.header-bottom-message {
    font-size: 28px;
	}
	

	/*** ADVANTAGES ***/
	h2 {
		font-size: 54px;
		line-height: 54px;
	}

	/*** INVITATION 1 ***/
	.invitation-wrapper {
		padding: 0 20px;
	}

	.invitation p {
		font-size: 36px;
	}

	.invitation .invitation-price {
		font-size: 50px;
		margin-top: 50px;
	}

	.form-wrapper {
		margin-right: 0;
	}

	/*** SKILLS ***/
	.skills .skills-description {
		font-size: 20px;
		line-height: 40px;
	}

	.skills .skills-item {
		padding: 0 30px;
	}

	.skills .skills-item .skills-item-title {
		font-size: 42px;
		line-height: 32px;
		margin: 30px 0;
	}

	.skills .skills-item p {
		line-height: 32px;
	}
	
	/*** INVITATION 2 ***/
	.invitation-2 .invitation-notice-2 p {
		font-size: 32px;
		line-height: 40px;
	}

	/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-viewport {
		margin-left: 5px;
	}

	.bx-wrapper .bx-controls-direction .bx-prev {
		left: 0;
	}

	/*** QUESTIONS ***/	
	.questions-item {
    padding: 0 20px;
	}

	.questions .questions-wrapper .questions-item .questions-item-text {
		line-height: 36px;
	}
	
	/*** INVITATION 3 ***/
	.invitation-3 .invitation-description {
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 40px;
	}

	.invitation-3 .invitation-notice-2 p {
		line-height: 30px;
	}

	/*** ADDRESS ***/
	.address p {
    font-size: 36px;
    line-height: 48px;
    margin: 19px 20px;
	}

	.address .video-wrapper {
    margin: 0 2%;
	}

	.address .map-wrapper {
    margin-right: 2%;
	}

	.address footer p {
    margin: 20px 0 5px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	.wrapper {
		overflow-x: hidden;
	}

	/*** HEADER ***/
	.main-menu ul li a {
		width: 120px;
		font-size: 20px;
		margin: 5px 5px 15px;
		padding: 5px 0;
	}

	.phones-wrapper {
		margin-top: 14px 10px 0 0;
	}

	.phones-wrapper .phone-number {
    font-size: 24px;
    line-height: 26px;
	}

	h1 {
		font-size: 54px;
		line-height: 60px;
	}
	
	.header-info {
    padding: 0 15px;
	}

	.header-info p:first-child {
		font-size: 40px;
	}

	.header-info p:nth-child(2) {
		font-size: 28px;
		line-height: 28px;
	}

	.header-info p:last-child {
		font-size: 32px;
		margin-top: 50px;
	}

	header .form-wrapper {
    margin-right: 20px;
	}

	.form-wrapper .form-title {
		font-size: 32px;
		padding: 4px 0 10px;
	}

	.countdown-dashboard {
    padding: 10px 10px;
	}

	.dash_title {
		margin-top: 10px;
	}
	
	.dash {
		width: 120px;
	}

	.dash:first-child {
    width: 80px;
	}

	.dash .digit {
    font-size: 50px;
    width: 30px;
	}

	.form-wrapper .main-form {
    padding: 0 10px;
	}

	.form-wrapper .main-form .form-button-wrapper .form-button {
    font-size: 32px;
    padding: 2px 30px 8px;
	}

	.header-bottom-message {
    font-size: 22px;
	}

	/*** ADVANTAGES ***/
	h2 {
		font-size: 48px;
		line-height: 48px;
	}

	.advantages h2::before, 
	.skills h2::before {
    margin: 0 15px 10px -100%;
	}

	.advantages h2::after,
	.skills h2::after {
    margin: 0 -100% 10px 15px;
	}

	.advantages .advantage-wrapper {
    margin-top: 30px;
	}

	.advantages .advantage-wrapper:first-child {
    margin-top: 50px;
	}

	.advantage-icon {
    float: none;
    display: inline-block;
    margin: 0 50px;
	}

	.advantages .advantage-wrapper .advantage-description {
    display: inline-block;
    width: 75%;
    position: relative;
    top: -25px;
	}

	.circle {
    height: 100px;
    width: 100px;
	}

	.circle .my {
		font-size: 120px;
	}

	.circle .my_a {
    bottom: 20px;
	}

	.circle .my_b {
    right: 7px;
	}

	.circle .my_e {
    bottom: 25px;
	}

	.circle .my_f {
    bottom: 17px;
    right: 10px;
	}

	h3 {
		font-size: 40px;
		line-height: 40px;
	}

	.advantage-description p {
    font-size: 22px;
    margin: 15px 0;
	}

	.advantages .advantage-wrapper:last-child {
    margin-bottom: 40px;
	}

	/*** INVITATION 1 ***/
	.invitation p {
    font-size: 32px;
    margin: 25px 0;
	}

	.invitation .invitation-description {
		font-size: 22px;
		line-height: 22px;
	}

	.invitation .invitation-price {
    font-size: 40px;
    margin-top: 40px;
	}

	.form-wrapper {
    margin-right: 0px;
	}

	.invitation .invitation-notice p {
    line-height: 40px;
    font-size: 28px;
	}

	.invitation .invitation-notice p:last-child {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
	}

	/*** SKILLS ***/
	.skills .skills-description {
    line-height: 25px;
    margin-bottom: 25px;
	}

	.skills .skills-item .skills-item-title {
    font-size: 36px;
    line-height: 28px;
    margin: 25px 0;
	}

	.skills .skills-item .skills-item-title .my_g {
    font-size: 20px;
    right: 3px;
    margin-right: 7px;
	}

		/*** INVITATION 2 ***/
	.invitation-2 .invitation-2-info p:first-child {
    font-size: 40px;
    line-height: 42px;
	}

	.invitation-2 .invitation-2-info p:last-child {
    font-size: 26px;
	}

	.invitation-2 .invitation-2-price {
    font-size: 40px;
	}

	.invitation-2 .invitation-notice-2 p {
		font-size: 28px;
		line-height: 36px;
	}
	
	/*** PHOTOGALLERY ***/
	.photogallery h2 {
    margin-top: 0;
	}

	.bx-wrapper {
    margin-bottom: 120px;
    margin-top: 25px;
	}

	.bx-wrapper .bx-pager .bx-pager-item {
    margin: 0 20px 10px 0;
	}

	/*** QUESTIONS ***/		
	.questions h2::before,
	.questions h2::after {
		display: none;
	}

	.questions .questions-wrapper .questions-item .questions-item-title {
    font-size: 28px;
    line-height: 32px;
    margin: 25px 0 5px 10px;
	}

	.questions .questions-wrapper .questions-item .questions-item-text {
    line-height: 32px;
    padding: 15px 40px 20px 25px;
	}

	.questions .questions-wrapper {
    padding-bottom: 60px;
	}

	/*** INVITATION 3 ***/
	.invitation-3 .invitation-description {
    font-size: 26px;
    line-height: 26px;
	}

	.invitation-3 .invitation-2-info p:first-child {
    font-size: 40px;
    line-height: 42px;
	}

	.invitation-3 .invitation-2-info p:last-child {
    font-size: 26px;
	}

	.invitation-3 .invitation-notice-2 p {
    font-size: 28px;
    line-height: 28px;
	}

	/*** ADDRESS ***/
	.address p {
    font-size: 32px;
    line-height: 42px;
    margin: 19px 20px;
	}

	.address .video-wrapper .video-container {
    height: 320px;
    width: 500px;
	}
	
	.address .map-wrapper #map {
    height: 320px;
    width: 440px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*** HEADER ***/
	.main-menu {
		padding: 8px 0;
		min-width: 768px;
	}

	.menu-mini-button {
		color: rgba(245, 245, 245, 1);
		padding: 5px 10px;
		border-radius: 5px;
		background: rgba(176, 0, 0, 1);
		text-decoration: none;
		-webkit-box-shadow: 2px 2px 5px 4px #ccc;
		box-shadow: 2px 2px 5px 4px #ccc;
	}
	
	.logo-menu-mini {
		margin: 0 20px;
	}

	.main-menu ul {
		display: none;
		position: absolute;
		margin-top: 8px;
		background-color: rgba(27,27,27,.97);
		width: 100%;
		padding: 10px 0;
		z-index: 7;
	}

	.main-menu ul li {
		display: block;
		margin: 0 auto;
		border-top: 1px solid #fff;
	}

	.main-menu ul li:first-child {
		border: none;
	}

	.main-menu ul li:last-child {
		border-bottom: 1px solid #fff;
		margin-top: 0;
	}

	.main-menu ul li a {
		width: 100%;
		background: none;
		border-radius: 0;
		margin: 0 auto;
		-webkit-transition: .25s;
		-o-transition: .25s;
		transition: .25s;
	}

	.main-menu ul li a:hover {
		background: rgba(176, 0, 0, 1);
	}

	.phones-wrapper {
		margin-top: 3px;
	}

	.main-logo {
    background: url (../img/logo-small.png) 50% 50% no-repeat;
    margin: -35px 0 0 15px;
    width: 187px;
    height: 188px;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
	}

	h1 {
    font-size: 48px;
    line-height: 54px;
    margin-top: 80px;
	}

	h1 span {
    font-size: 44px;
	}

	.header-info {
    padding: 0 30px;
	}

	.header-info p {
		color: rgba(255, 255, 255, 1);
	}

	.header-info p:first-child {
		font-size: 36px;
		margin-top: 30px;
	}

	.header-info p:nth-child(2) {
		font-size: 24px;
		line-height: 24px;
		margin: 15px 0;
	}

	.header-info p:last-child {
		font-size: 28px;
		margin-top: 30px;
		color: rgba(255, 255, 255, 1);
	}

	header .form-wrapper {
    margin: 50px 40px 20px;
	}

	.header-bottom-message {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 15px;
	}

	h2 {
    font-size: 40px;
    line-height: 40px;
	}

	.advantages h2:before,
	.advantages h2:after {
		display: none;
	}
	
	/*** ADVANTAGES ***/
	.advantage-icon {
    margin: 0 30px;
	}
	
	h3 {
		font-size: 36px;
		line-height: 36px;
	}

	.advantage-description p {
    font-size: 18px;
    margin: 15px 0;
	}

	.advantages .advantage-wrapper:last-child {
    margin-bottom: 20px;
	}

	/*** INVITATION 1 ***/
	.invitation p {
    font-size: 28px;
    margin: 20px 0;
	}

	.invitation .invitation-description {
		font-size: 18px;
		line-height: 18px;
	}

	.invitation .invitation-price {
    font-size: 36px;
    margin: 15px 0 30px;
	}

	.form-wrapper {
		margin: 0 15px;
	}

	.invitation .invitation-notice p {
    line-height: 32px;
    font-size: 24px;
	}

	.invitation .invitation-notice p:last-child {
    font-size: 16px;
    margin: 0;
	}

	/*** SKILLS ***/
	.skills .skills-description {
    margin-bottom: 15px;
	}

	.skills .skills-item .skills-item-title {
    font-size: 32px;
    line-height: 24px;
    margin: 15px 0;
	}

	.skills .skills-item .skills-item-title .my_g {
    font-size: 20px;
    right: 3px;
    margin-right: 7px;
	}

	.skills .skills-item p {
    line-height: 28px;
    font-size: 22px;
	}

	.skills .skills-item {
    margin-bottom: 50px;
	}

	/*** INVITATION 2 ***/
	.invitation-2 .invitation-2-info p:first-child {
    font-size: 36px;
    line-height: 38px;
    margin-top: 0;
	}

	.invitation-2 .invitation-2-info p:last-child {
    font-size: 22px;
	}

	.invitation-2 .invitation-2-price {
    font-size: 32px;
	}

	.invitation-2 .invitation-notice-2 p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
	}

	/*** PHOTOGALLERY ***/
	.bx-wrapper .bx-pager {
	  bottom: -200px;
	}

	/*** QUESTIONS ***/
	.questions {
    margin-top: 75px;
	}

	.questions h2 {
    margin: 15px 0;
	}

	.questions .questions-wrapper .questions-item .questions-item-title {
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0 5px 10px;
	}

	.questions .questions-wrapper .questions-item .questions-item-text {
    line-height: 28px;
    font-size: 20px;
    padding: 5px 40px 10px 15px;
	}

	.questions .questions-wrapper {
    padding-bottom: 60px;
	}

	/*** INVITATION 3 ***/
	.invitation-3 .invitation-description {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
	}

	.invitation-3 .invitation-2-info p:first-child {
    font-size: 36px;
    line-height: 38px;
	}

	.invitation-3 .invitation-2-info p:last-child {
    font-size: 22px;
	}

	.invitation-3 .invitation-notice-2 p {
    font-size: 24px;
    line-height: 24px;
	}

	/*** ADDRESS ***/
	.address p {
    font-size: 28px;
    line-height: 36px;
    margin: 15px 25px;
	}

	.address .video-wrapper {
    float: left;
    margin: 15px 25px;
    width: 100%;
	}
	
	.address .video-wrapper .video-container {
    height: 300px;
    width: 730px;
	}
	
	.address .map-wrapper {
    float: right;
    width: 100%;
    margin-right: -3%;
	}

	.address .map-wrapper #map {
    height: 300px;
    width: 730px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	section {
		max-width: 480px;
	}

	/*** HEADER ***/
	.phones-wrapper {
    float: left;
    margin-right: 30px;
	}
	
	.logo-menu-mini {
    margin: 0 50px 0 20px;
	}

	.main-menu ul {
    max-width: 480px;
    margin-left: 15px;
	}
	
	.main-logo {
		display: none;
	}

	h1 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 60px;
    padding: 0 15px;
	}

	h1 span {
    font-size: 36px;
	}

	.header-info p:first-child {
		font-size: 32px;
		margin-top: 24px;
	}

	.header-info p:nth-child(2) {
		font-size: 20px;
		line-height: 20px;
		margin: 10px 0;
	}

	.header-info p:last-child {
		font-size: 24px;
		margin-top: 25px;
	}

	header .form-wrapper {
    margin: 40px 30px 20px;
	}

	.form-wrapper .form-title {
    font-size: 28px;
    padding: 2px 0 7px;
	}

	.form-wrapper .main-form .client-phone-wrapper .client-phone {
    font: 24px "PTSansRegular";
    padding: 2px 15px 6px;
	}

	.dash {
		width: 110px;
	}

	.dash .digit {
    font-size: 40px;
    width: 25px;
	}

	.dash, .dash_title {
    margin-top: 0;
    height: 55px;
	}

	.form-wrapper .main-form .form-button-wrapper .form-button {
    font-size: 28px;
    padding: 0px 25px 6px;
    line-height: 40px;
	}

	/*** ADVANTAGES ***/
	h2 {
    font-size: 36px;
    line-height: 36px;
	}

	.advantages .advantage-wrapper {
    max-width: 480px;
    margin: 70px auto 0;
    text-align: center;
	}

	.advantages-icon {
		display: block;
	}

	.advantages .advantage-wrapper .advantage-description {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 20px;
	}

	h3 {
    font-size: 32px;
    line-height: 32px;
	}

	.advantage-description p {
    margin: 10px 0;
	}

	/*** INVITATION ***/
	.invitation-wrapper {
    padding: 0 30px;
	}

	.invitation p {
    font-size: 24px;
    margin: 15px 0;
	}

	.invitation .invitation-price {
    font-size: 32px;
    margin: 10px 0 20px;
	}

	.invitation .form-wrapper {
    margin: 0;
	}

	.invitation .invitation-notice p {
    font-size: 20px;
    line-height: 26px;
	}

	.invitation .invitation-notice p:last-child {
    margin-top: 10px;
	}

	/*** SKILLS ***/
	.skills {
    padding: 20px 15px 0;
	}

	.skills .skills-description {
    margin-bottom: 20px;
    font-size: 18px;
	}

	.skills .skills-item .skills-item-title {
    font-size: 26px;
    line-height: 22px;
    margin: 10px 0;
	}

	.skills .skills-item .skills-item-title .my_g {
    font-size: 14px;
    right: 0;
	}

	.skills .skills-item p {
    line-height: 22px;
    font-size: 18px;
	}

	.skills .skills-item {
    margin-bottom: 30px;
	}
	
	/*** INVITATION 2 ***/
	.invitation-2 .invitation-2-info p:first-child {
    font-size: 32px;
    line-height: 32px;
    margin-top: 0;
	}

	.invitation-2 .invitation-2-info p:last-child {
    font-size: 20px;
	}

	.invitation-2 .invitation-2-price {
    font-size: 28px;
	}

	.invitation-2 .invitation-notice-2 p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
	}

	/*** PHOTOGALLERY ***/
	.photogallery h2::before,
	.photogallery h2::after {
		display: none;
	}

	.bx-wrapper .bx-pager {
	  bottom: -260px;
	}

	.bx-wrapper .bx-controls-direction .bx-prev {
    left: 10px;
    width: 50px;
    height: 60px;
    background-position: 5px 0;
    margin-top: -30px;
	}

	.bx-wrapper .bx-controls-direction .bx-next {
    right: 10px;
    width: 50px;
    height: 60px;
    background-position: 80px 0;
    margin-top: -30px;
	}

	/*** QUESTIONS ***/
	.questions {
    margin-top: 115px;
	}

	.questions-item {
    padding: 0 30px;
	}

	.questions .questions-wrapper .questions-item .questions-item-title {
    font-size: 22px;
    line-height: 26px;
	}

	.questions .questions-wrapper .questions-item .questions-item-text {
    font-size: 18px;
    line-height: 24px;
	}

	.questions .questions-wrapper .questions-item .questions-item-title .my_g {
    font-size: 14px;
    right: 5px;
	}

	/*** INVITATION 3 ***/
	.invitation-3 .invitation-description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
	}

	.invitation-3 .invitation-2-info p:first-child {
    font-size: 34px;
    line-height: 34px;
	}

	.invitation-3 .invitation-2-info p:last-child {
    font-size: 20px;
	}

	.invitation-3 .invitation-notice-2 p {
    font-size: 22px;
    line-height: 22px;
	}

	/*** ADDRESS ***/
	.address p {
    font-size: 26px;
    line-height: 32px;
    margin: 10px 30px;
	}

	.address .video-wrapper .video-container {
    width: 460px;
	}

	.address .map-wrapper {
    margin-right: -5%;
	}

	.address .map-wrapper #map {
  	width: 460px;
	}

	.address footer p {
    margin: 15px 0 0px;
    font-size: 24px;
	}
		
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}